.footer {
  padding: 6rem 0 10.5rem;
  background: #fdfdfd;
  border-top: 1px solid $fcF0;
  text-align: center;

  .list-policy {
    margin-bottom: 2.5rem;

    li {
      display: inline-block;
      line-height: 1.3rem;

      &:not(:first-child) {
        margin-left: 0.8rem;

        &:before {
          display: inline-block;
          width: 0.1rem;
          height: 1.3rem;
          margin-right: 1rem;
          background: $fcD7;
          vertical-align: middle;
          content: "";
        }
      }

      &:last-child {
        color: $fc1;
      }
    }
  }

  .wrap-address {
    .address {
      display: none;
      margin-top: 1rem;
      font-size: 1.1rem;

      .call-center {
        margin-top: 0.8rem;
      }
    }

    .btn-arrow.active + .address {
      display: block;
    }
  }

  small {
    display: block;
    margin-top: 2.5rem;
    color: $fc9;
    font-size: 1.1rem;
  }

  .noti-foot {
    margin-top: 2rem;
    font-size: 1.1rem;
  }
}
