//header
.isDetail {
  .header {
    height: auto;
    z-index: 31;
    .title {
      display: none;
    }
    .left,
    .right {
      top: 0;
      transform: translateY(0);
      .prev {
        background-image: url(../../assets/img/layout/icon-prev-white.png);
      }
      .menu {
        background-image: url(../../assets/img/layout/icon-hamburg-white.png);
      }
    }
  }
}

.header {
  position: sticky;
  z-index: 31;
  height: 5.5rem;
  box-sizing: border-box;
  background-color: $fcF;
  border-bottom: 0.1rem solid $fcF0;

  .title {
    height: 5.5rem;
    padding: 0 4rem;
    box-sizing: border-box;
    font-size: 1.8rem;
    color: $fc1;
    text-align: center;
    line-height: 5.5rem;
    @include clamp(1);

    a,
    button {
      display: inline-block;
      max-width: 100%;
      box-sizing: border-box;
      padding-right: 1.7rem;
      background: url(../../assets/img/layout/icon-toggle.png) 100% 50% / 1.2rem 1.2rem no-repeat;
      @include clamp(1);
    }
  }

  .left,
  .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  .bg-icon {
    width: 4rem;
    height: 4rem;
    background-size: 2rem 2rem;
    @include blind();
  }

  &.header-popup {
    background-color: $fc1;
    border: 0;

    .title {
      color: $fcF;
    }

    .bg-icon {
      filter: brightness(30);
    }
  }
}
