.bg-icon {
  display: inline-block;
  vertical-align: middle;
  background: 50% 50% / 100% no-repeat;
  @include blind();

  &.prev {
    background-image: url(../../assets/img/layout/icon-prev.svg);
  }

  &.menu {
    background-image: url(../../assets/img/layout/icon-hamburg.svg);
  }

  &.close,
  &.layer-close {
    background-image: url(../../assets/img/layout/icon-close.svg);
  }

  &.filter {
    background-image: url(../../assets/img/layout/icon-filter.svg);
  }

  &.refresh {
    background-image: url(../../assets/img/layout/icon-refresh.svg);
  }

  &.store {
    background-image: url(../../assets/img/layout/icon-store.svg);
  }

  &.calendar {
    background-image: url(../../assets/img/layout/icon-calendar.svg);
  }

  &.time {
    background-image: url(../../assets/img/layout/icon-time.svg);
  }

  &.favorite {
    background-image: url(../../assets/img/layout/icon-favorite.svg);

    &.active {
      background-image: url(../../assets/img/layout/icon-favorite-on.svg);
    }
  }

  &.like {
    background-image: url(../../assets/img/layout/icon-l-favorite.svg);
    &.active {
      background-image: url(../../assets/img/layout/icon-favorite-on.svg);
    }
  }

  &.location {
    background-image: url(../../assets/img/layout/icon-location.svg);
  }

  &.location-small {
    background-image: url(../../assets/img/layout/icon-location-small.svg);
  }

  &.direction {
    background-image: url(../../assets/img/layout/icon-direction.svg);
  }

  &.phone {
    background-image: url(../../assets/img/layout/icon-phone.svg);
  }

  &.share {
    background-image: url(../../assets/img/layout/icon-share.svg);
  }

  &.review {
    background-image: url(../../assets/img/layout/icon-review.svg);
  }

  &.tag1 {
    background-image: url(../../assets/img/layout/icon-goodstag-type1.svg);
  }

  &.tag3 {
    background-image: url(../../assets/img/layout/icon-goodstag-type2.svg);
  }

  &.tag5 {
    background-image: url(../../assets/img/layout/icon-goodstag-type3.svg);
  }

  &.tag6 {
    background-image: url(../../assets/img/layout/icon-goodstag-type4.svg);
  }

  &.tag2 {
    background-image: url(../../assets/img/layout/icon-goodstag-type5.svg);
  }

  &.tag4 {
    background-image: url(../../assets/img/layout/icon-goodstag-type6.svg);
  }

  &.filter-sorting {
    background-image: url(../../assets/img/layout/icon-filter-sorting.svg);
  }

  &.filter-type {
    background-image: url(../../assets/img/layout/icon-filter-type.svg);
  }

  &.tooltip {
    background-image: url(../../assets/img/layout/icon-tooltip.svg);
  }

  &.toggle {
    background-image: url(../../assets/img/layout/icon-toggle-type1.svg);
  }

  &.more {
    background-image: url(../../assets/img/layout/icon-more-type2.svg);
  }

  &.add {
    background-image: url(../../assets/img/layout/icon-add.svg);
  }

  &.card-tag {
    background-image: url(../../assets/img/layout/icon-cardtag.svg);
  }

  &.skpay {
    background-image: url(../../assets/img/layout/icon-skpay.svg);
  }

  &.payco {
    background-image: url(../../assets/img/layout/icon-payco.svg);
  }

  &.npay {
    background-image: url(../../assets/img/layout/icon-npay.svg);
  }

  &.kakaopay {
    background-image: url(../../assets/img/layout/icon-kakaopay.svg);
  }

  &.zeropay {
    background-image: url(../../assets/img/layout/icon-zeropay.svg);
  }

  &.download {
    background-image: url(../../assets/img/layout/icon-download.svg);
  }

  &.clear-x {
    background-image: url(../../assets/img/layout/icon-clear.svg);
  }

  &.search {
    background-image: url(../../assets/img/layout/icon-search.svg);
  }

  &.cafe {
    background-image: url(../../assets/img/layout/icon-cafe.svg);
  }

  &.food {
    background-image: url(../../assets/img/layout/icon-food.svg);
  }

  &.gas {
    background-image: url(../../assets/img/layout/icon-gas-station.svg);
  }

  &.gas2 {
    background-image: url(../../assets/img/layout/icon-gas-station-2.svg);
  }

  &.market {
    background-image: url(../../assets/img/layout/icon-market.svg);
  }

  &.bay {
    background-image: url(../../assets/img/layout/icon-bay.svg);
  }

  &.vacuum {
    background-image: url(../../assets/img/layout/icon-vacuum.svg);
  }

  &.sink {
    background-image: url(../../assets/img/layout/icon-sink.svg);
  }

  &.sterilizer {
    background-image: url(../../assets/img/layout/icon-sterilizer.svg);
  }

  &.mat-cleaner {
    background-image: url(../../assets/img/layout/icon-mat-cleaner.svg);
  }

  &.share-url {
    background-image: url(../../assets/img/layout/icon-share-url.svg);
  }

  &.share-facebook {
    background-image: url(../../assets/img/layout/icon-share-facebook.svg);
  }

  &.share-kakao {
    background-image: url(../../assets/img/layout/icon-share-kakao.svg);
  }

  &.locator {
    background-image: url(../../assets/img/layout/icon-locator.svg);
  }

  &.locator-kakao {
    background-image: url(../../assets/img/layout/icon-locator-kakao.svg);
  }

  &.locator-tmap {
    background-image: url(../../assets/img/layout/icon-locator-tmap.svg);
  }

  &.home {
    background-image: url(../../assets/img/layout/icon-quick-home.svg);
  }

  &.bill {
    background-image: url(../../assets/img/layout/icon-quick-list.svg);
  }

  &.my-muffin {
    background-image: url(../../assets/img/layout/icon-quick-my.svg);
  }

  &.del {
    background-image: url(../../assets/img/layout/icon-close-small.svg);
  }

  &.info {
    background-image: url(../../assets/img/layout/icon-info.svg);
    &.white {
      background-image: url(../../assets/img/layout/icon-info-white.svg);
    }
  }

  &.link {
    background-image: url(../../assets/img/layout/icon-more-type3.svg);
  }

  &.trash-del {
    background-image: url(../../assets/img/layout/icon-review-del.svg);
  }

  &.write {
    background-image: url(../../assets/img/layout/icon-review-write.svg);
  }

  &.edite-more {
    background-image: url(../../assets/img/layout/icon-review-edit.svg);
  }

  &.reply {
    background-image: url(../../assets/img/layout/icon-review-reply.svg);
  }

  &.trashcan {
    background-image: url(../../assets/img/layout/icon-trashcan.svg);
  }

  &.remove {
    background-image: url(../../assets/img/layout/icon-remove-img.svg);
  }

  &.photo {
    background-image: url(../../assets/img/layout/icon-photo.svg);
  }

  &.attach {
    background-image: url(../../assets/img/layout/icon-attach.svg);
  }

  &.attach2 {
    background-image: url(../../assets/img/layout/icon-attach-2.svg);
  }

  &.new-label {
    background-image: url(../../assets/img/layout/icon-board-new.svg);
  }

  &.chk-white {
    background-image: url(../../assets/img/layout/icon-chk-white.svg);
  }

  &.shinhan {
    background-image: url(../../assets/img/layout/icon-card-shinhan.svg);
  }
  &.samsung {
    background-image: url(../../assets/img/layout/icon-card-samsung.svg);
  }
  &.hyundai {
    background-image: url(../../assets/img/layout/icon-card-hyundai.svg);
  }
  &.kb {
    background-image: url(../../assets/img/layout/icon-card-kb.svg);
  }
  &.lotte {
    background-image: url(../../assets/img/layout/icon-card-lotte.svg);
  }
  &.hana {
    background-image: url(../../assets/img/layout/icon-card-hana.svg);
  }
  &.bc {
    background-image: url(../../assets/img/layout/icon-card-bc.svg);
  }
  &.woori {
    background-image: url(../../assets/img/layout/icon-card-woori.svg);
  }
  &.citi {
    background-image: url(../../assets/img/layout/icon-card-citi.svg);
  }
  &.nonghyup {
    background-image: url(../../assets/img/layout/icon-card-nonghyup.svg);
  }
  &.suhyup {
    background-image: url(../../assets/img/layout/icon-card-suhyup.svg);
  }
  &.other-bank {
    background-image: url(../../assets/img/layout/icon-card-bank.svg);
  }

  &.shield {
    background-image: url(../../assets/img/layout/icon-keypad-shield.png);
  }

  &.tooltip2 {
    background-image: url(../../assets/img/layout/icon-tooltip-type1.svg);
  }

  &.tooltip-close {
    background-image: url(../../assets/img/layout/icon-close-type2.svg);
  }

  &.toggle2 {
    background-image: url(../../assets/img/layout/icon-toggle-type2.svg);
  }

  &.refresh2 {
    background-image: url(../../assets/img/layout/icon-refresh-type2.svg);
  }

  &.plus {
    background-image: url(../../assets/img/layout/icon-more-type1.svg);
  }

  &.meter {
    background-image: url(../../assets/img/layout/icon-meter.svg);
  }
  &.coupon-label {
    background-image: url(../../assets/img/layout/icon-coupon-label.svg);
  }
  &.filter-cash {
    background-image: url(../../assets/img/layout/icon-filter-cash.svg);
  }
  &.plus-black {
    background-image: url(../../assets/img/layout/icon-plus-black.svg);
  }
  &.toggle-black {
    background-image: url(../../assets/img/layout/icon-next.svg);
  }
  &.reply-arrow {
    background-image: url(../../assets/img/layout/icon-reply.svg);
  }
  &.view-detail {
    background-image: url(../../assets/img/layout/icon-view-detail.svg);
  }
  &.attention-info {
    background-image: url(../../assets/img/layout/icon-attention-info.svg);
  }
  &.check-used {
    background-image: url(../../assets/img/layout/icon-check-used.svg);
  }
  &.reservation {
    background-image: url(../../assets/img/layout/icon-reservation.svg);
  }
  &.find-direction {
    background-image: url(../../assets/img/layout/icon-find-direction.svg);
  }
  &.order-cancel {
    background-image: url(../../assets/img/layout/icon-order-cancel.svg);
  }
  &.not-check-used {
    background-image: url(../../assets/img/layout/icon-not-check-used.svg);
  }
  &.re-booking {
    background-image: url(../../assets/img/layout/icon-re-booking.svg);
  }
  &.refund {
    background-image: url(../../assets/img/layout/icon-refund.svg);
  }
  &.talk-service {
    background-image: url(../../assets/img/layout/icon-talk-service.svg);
  }
  &.service-type {
    background-image: url(../../assets/img/layout/icon-service-type.svg);
  }
  &.calendar-type-2 {
    background-image: url(../../assets/img/layout/icon-calendar-type-2.svg);
  }
  &.used-state {
    background-image: url(../../assets/img/layout/icon-used_state.svg);
  }
  &.car-apply {
    background-image: url(../../assets/img/layout/icon-car-apply.svg);
  }
  &.t-logo {
    background-image: url(../../assets/img/layout/icon-logo-t.svg);
  }
  &.customer-faq {
    background-image: url(../../assets/img/layout/icon-customer-faq.svg);
  }
  &.customer-ask {
    background-image: url(../../assets/img/layout/icon-customer-ask.svg);
  }
  &.customer-counsel {
    background-image: url(../../assets/img/layout/icon-customer-counsel.svg);
  }
  &.customer-notice {
    background-image: url(../../assets/img/layout/icon-customer-notice.svg);
  }
  &.customer-app {
    background-image: url(../../assets/img/layout/icon-customer-app.svg);
  }
  &.customer-terms {
    background-image: url(../../assets/img/layout/icon-customer-terms.svg);
  }
  &.alarm {
    background-image: url(../../assets/img/layout/icon-alarm.svg);
  }
  &.setting {
    background-image: url(../../assets/img/layout/icon-setting.svg);
  }
  &.member {
    background-image: url(../../assets/img/layout/icon-member.svg);
  }
  &.member-type2 {
    background-image: url(../../assets/img/layout/icon-member-type2.svg);
  }
  &.history {
    background-image: url(../../assets/img/layout/icon-history.svg);
  }
  &.membership {
    background-image: url(../../assets/img/layout/icon-membership.svg);
  }
  &.benefit {
    background-image: url(../../assets/img/layout/icon-coupon.svg);
  }
  &.event {
    background-image: url(../../assets/img/layout/icon-event.svg);
  }
  &.customer {
    background-image: url(../../assets/img/layout/icon-customer.svg);
  }
  &.card {
    background-image: url(../../assets/img/layout/icon-card.svg);
  }
  &.pattern {
    background-image: url(../../assets/img/layout/icon-pattern.svg);
  }
  &.calendar-type3 {
    background-image: url(../../assets/img/layout/icon-calendar-type3.svg);
  }
  &.point {
    background-image: url(../../assets/img/layout/icon-point.svg);
  }
  &.prepayment {
    background-image: url(../../assets/img/layout/icon-prepayment.svg);
  }
  &.review-type2 {
    background-image: url(../../assets/img/layout/icon-review-type2.svg);
  }
  &.member-gold {
    background-image: url(../../assets/img/layout/icon-member-gold.svg);
  }
  &.btn-prev,
  &.btn-next {
    background-image: url(../../assets/img/layout/icon-next-type2.svg);
  }
  &.telphone {
    background-image: url(../../assets/img/layout/icon-tel.svg);
  }
  &.loc {
    background-image: url(../../assets/img/layout/icon-loc.svg);
  }
}
// 뱃지

.badge {
  &:not(:first-child) {
    margin-left: 0.5rem;
  }
  padding: 0 1.2rem;
  display: flex;
  align-items: center;
  height: 2.5rem;
  font-size: 1.1rem;
  font-weight: 700;
  background: $fcF;
  border: 0.1rem solid;
  border-radius: 10rem;
  box-sizing: border-box;
  line-height: 1;

  // &.lg {
  //   height: 2.5rem;
  //   font-size: 1.1rem;
  // }

  &.blue {
    color: $pc3;
    border-color: $pc3;
  }

  &.red {
    color: $gc3;
    border-color: $gc3;
  }

  &.grad1 {
    color: $fcF;
    border: none;
    background: linear-gradient(to right, $gc1 0%, $gc2 100%);
  }
  &.grad2 {
    color: $fcF;
    border: none;
    background: linear-gradient(to right, $gc3 0%, $gc4 100%);
  }
  &.gray {
    border-color: $fcD7;
    background: #fafafa;
  }

  &.num {
    display: inline-block;
    min-width: 2rem;
    height: 2rem;
    margin-left: 0.7rem;
    padding: 0 0.4rem;
    background-color: $gc3;
    border: 0;
    color: $fcF;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    line-height: 2rem;
    vertical-align: top;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16%);
  }
}
