.bg-icon {
  display: inline-block;
  vertical-align: middle;
  background: 50% 50% / 100% no-repeat;
  @include blind();

  &.prev {
    background-image: url(/assets/img/layout/icon-prev.png);
  }

  &.menu {
    background-image: url(/assets/img/layout/icon-hamburg.png);
  }

  &.close {
    background-image: url(/assets/img/layout/icon-close.png);
  }

  &.filter {
    background-image: url(/assets/img/layout/icon-filter.png);
  }

  &.refresh {
    background-image: url(/assets/img/layout/icon-refresh.png);
  }

  &.store {
    background-image: url(/assets/img/layout/icon-store.png);
  }

  &.calendar {
    background-image: url(/assets/img/layout/icon-calendar.png);
  }

  &.time {
    background-image: url(/assets/img/layout/icon-time.png);
  }

  &.favorite {
    background-image: url(/assets/img/layout/icon-favorite.png);

    &.active {
      background-image: url(/assets/img/layout/icon-favorite-on.png);
    }
  }

  &.like {
    background-image: url(/assets/img/layout/icon-l-favorite.png);
  }

  &.location {
    background-image: url(/assets/img/layout/icon-location.png);
  }

  &.direction {
    background-image: url(/assets/img/layout/icon-direction.png);
  }

  &.phone {
    background-image: url(/assets/img/layout/icon-phone.png);
  }

  &.share {
    background-image: url(/assets/img/layout/icon-share.png);
  }

  &.review {
    background-image: url(/assets/img/layout/icon-review.png);
  }

  &.tag1 {
    background-image: url(/assets/img/layout/icon-goodstag-type1.png);
  }

  &.tag2 {
    background-image: url(/assets/img/layout/icon-goodstag-type2.png);
  }

  &.tag3 {
    background-image: url(/assets/img/layout/icon-goodstag-type3.png);
  }

  &.tag4 {
    background-image: url(/assets/img/layout/icon-goodstag-type4.png);
  }

  &.tag5 {
    background-image: url(/assets/img/layout/icon-goodstag-type5.png);
  }

  &.tag6 {
    background-image: url(/assets/img/layout/icon-goodstag-type6.png);
  }

  &.filter-sorting {
    background-image: url(/assets/img/layout/icon-filter-sorting.png);
  }

  &.filter-type {
    background-image: url(/assets/img/layout/icon-filter-type.png);
  }

  &.tooltip {
    background-image: url(/assets/img/layout/icon-tooltip.png);
  }

  &.toggle {
    background-image: url(/assets/img/layout/icon-toggle-type1.png);
  }

  &.more {
    background-image: url(/assets/img/layout/icon-more-type2.png);
  }

  &.add {
    background-image: url(/assets/img/layout/icon-add.png);
  }

  &.card-tag {
    background-image: url(/assets/img/layout/icon-cardtag.png);
  }

  &.skpay {
    background-image: url(/assets/img/layout/icon-skpay.png);
  }

  &.payco {
    background-image: url(/assets/img/layout/icon-payco.png);
  }

  &.npay {
    background-image: url(/assets/img/layout/icon-npay.png);
  }

  &.kakaopay {
    background-image: url(/assets/img/layout/icon-kakaopay.png);
  }

  &.zeropay {
    background-image: url(/assets/img/layout/icon-zeropay.png);
  }

  &.download {
    background-image: url(/assets/img/layout/icon-download.png);
  }
}