.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba($fc1, 0.5);
}

.wrapper-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba($fc1, 0.5);

  .layer-close {
    position: absolute;
    z-index: 5;
    width: 4rem;
    height: 4rem;
    background-size: 2rem;
  }

  .wrap-layer {
    position: absolute;
    left: 0;
    z-index: 51;
    width: 100%;
    background-color: $fcF;
    box-sizing: border-box;
    @include scroll(y);

    .header-popup {
      top: 0;
    }
  }

  &.none-mask {
    position: static;
    height: auto;
    background-color: transparent;
    .mask {
      display: none;
    }
  }

  &.pos-drag {
    position: fixed;
    top: auto;
    bottom: 0;
    min-height: 65%;
    &.active {
      height: 88%;
    }
    .wrap-layer {
      height: 100%;
      overflow-y: hidden;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 4.5rem;
        height: 0.5rem;
        border-radius: 0.3rem;
        background: $fcE4;
      }
      .inner-layer {
        display: flex;
        flex-direction: column;
        height: 100%;
        .layer-cont {
          flex: 1 1 auto; /* flex: 1 1 0 */
          &.scroll-cont {
            margin-top: -6.6rem;
            @include scroll(y);
          }
        }
      }
    }
    .layer-close {
      display: none;
    }
  }

  &.pos-bottom {
    .wrap-layer {
      bottom: 0;
      border-radius: 3rem 3rem 0 0;
      padding-top: 4rem;
    }

    .layer-close {
      top: 1rem;
      right: 1rem;
    }
  }

  &.pos-right {
    .wrap-layer {
      top: 0;
      height: 100%;
    }
  }

  &.pos-sns {
    .wrap-layer {
      bottom: 0;
      background-color: transparent;
    }

    .layer-close {
      bottom: 1rem;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: brightness(30);
    }
  }

  .wrap-layer-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 2rem 1.5rem 3rem;
    border-top: 0.1rem solid $fcD7;

    .refresh {
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 0.5rem;
    }

    .type2 {
      width: auto;
    }
  }

  .layer-cont {
    padding: 0 2rem 4rem;

    .title-sub {
      margin-bottom: 2.5rem;

      .bg-icon {
        width: 2rem;
        height: 2rem;
        margin-top: -0.3rem;
      }
    }

    .wrap-checkbox {
      margin-top: -1rem;
    }

    .wrap-btn {
      display: flex;
      flex-wrap: wrap;

      .btn {
        flex: 1 0 auto;
        width: 20%;
        margin-right: 1rem;
        padding: 0 1rem;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .wrap-price {
      .left {
        font-size: 1.5rem;

        em {
          font-size: 1.6rem;
        }
      }

      .text-guide {
        margin-top: 2rem;
        color: $fc1;
      }
    }

    .wrap-time {
      padding: 0 1rem;

      .wrap-checkbox {
        margin-top: 0;
      }
    }

    .checkbox {
      &.type1 {
        label {
          min-width: 7.1rem;
          margin-left: 0;
          padding: 0 1.6rem;
        }
      }
    }

    .define-box {
      margin-bottom: 2rem;

      .right {
        color: $gc3;
      }
    }
  }
}

.wrap-partner-images {
  box-sizing: border-box;
  min-height: calc(100vh - 5.5rem);
  background-color: $fc1;
}

.wrap-list-image {
  padding: 1.5rem 2rem;

  .item {
    height: 20rem;
    margin-top: 1rem;
    @include cropimg(w);
  }
}

.layer-share {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 8.5rem 0;
  text-align: center;

  .bg-icon {
    width: 2rem;
    height: 2rem;
    margin-top: 2.5rem;
    padding: 2.2rem;
    background-color: $fcF;
    background-size: 2rem;
    border-radius: 50%;
  }
}
