.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba($fc1, 0.5);
}

.wrapper-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .layer-close {
    position: absolute;
    z-index: 5;
    width: 4rem;
    height: 4rem;
    background-size: 2rem;
  }
  .layer-touch {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 4rem;
    background: red;
    left: 0;
    top: 0;
  }

  .wrap-layer {
    position: absolute;
    left: 0;
    z-index: 51;
    width: 100%;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16%);
    background-color: $fcF;
    box-sizing: border-box;
    @include scroll(y);

    .header-popup {
      top: 0;
    }

    .car-cont {
      padding-bottom: 10rem;
    }
  }

  &.none-mask {
    position: static;
    height: auto;
    background-color: transparent;
    .mask {
      display: none;
    }
  }

  &.pos-drag {
    position: fixed;
    top: calc((100% - 5.5rem) * 0.4);
    bottom: 0;
    touch-action: none;
    transform: translateZ(0);
    transition: top 0.2s ease-out;

    &.position0 {
      top: 5.5rem;

      .wrap-layer {
        border-radius: 0;
        transition: border-radius 0.2s;
      }
    }
    &.position1 {
      top: calc((100% - 5.5rem) * 0.4);
    }
    &.position2 {
      top: calc(100% - 3rem);
    }
    &.moving {
      transition: none;
    }
    .layer-touch-area {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 3rem;
    }
    .wrap-layer {
      height: 100%;
      overflow-y: hidden;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 4.5rem;
        height: 0.5rem;
        border-radius: 0.3rem;
        background: $fcE4;
      }
      .inner-layer {
        display: flex;
        flex-direction: column;
        height: 100%;
        .layer-cont {
          &.scroll-cont {
            margin-top: -6.6rem;
            @include scroll(y);
          }
          &.type-info {
            padding-bottom: 3rem;
          }
          .title-sub {
            padding-left: 1rem;
            .title {
              color: $fc6;
            }
          }
        }
      }
    }
    .layer-close {
      display: none;
    }
  }

  &.pos-bottom {
    .wrap-layer {
      bottom: 0;
      overflow-y: hidden;
      border-radius: 3rem 3rem 0 0;
      //padding-top: 4rem;
    }

    .layer-header {
      padding: 1.7rem 4.5rem 3.4rem;
      color: $fc1;
      font-size: 1.8rem;
      text-align: center;

      & + .inner-layer {
        padding-top: 0;
      }
    }

    .inner-layer {
      padding-top: 4rem;
    }

    .layer-close {
      top: 1rem;
      right: 1rem;
    }
  }

  &.pos-right {
    .wrap-layer {
      top: 0;
      height: 100%;
    }
    .wrap-reservation {
      padding-bottom: 9rem;
    }
  }

  &.pos-sns {
    .wrap-layer {
      bottom: 0;
      background-color: transparent;
      box-shadow: none;
    }

    .layer-close {
      bottom: 3.2rem;
      left: 50%;
      width: 3.6rem;
      height: 3.6rem;
      transform: translate(-50%, -50%);
      filter: invert(100%);
      background-color: $fcF;
      background-size: 1.8rem;
      border-radius: 50%;
    }
  }

  &.pos-menu {
    z-index: 99;

    .wrap-layer {
      top: 0;
      left: 4rem;
      right: 0;
      width: auto;
      height: 100%;
    }
    &.pos-menu-enter-active,
    &.pos-menu-leave-active {
      transition-duration: 0.2s;

      .wrap-layer {
        transition: transform 0.2s ease-out;
      }
      .mask {
        transition: opacity 0.2s;
      }
    }
    &.pos-menu-enter,
    &.pos-menu-leave-to {
      .wrap-layer {
        transform: translateX(100%);
      }
      .mask {
        opacity: 0;
      }
    }
  }

  .wrap-layer-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 2rem 1.5rem 3rem;
    border-top: 0.1rem solid $fcD7;

    &.type1 {
      padding: 0;
      border-top: none;
      button {
        flex: 1;
      }
    }

    .refresh {
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 0.5rem;
    }

    .type2 {
      width: auto;
      min-width: 15rem;
      height: 5rem;
      line-height: 5rem;
    }
  }

  .layer-cont {
    padding: 0 2rem 3.8rem;
    &:first-child:last-child {
      padding-bottom: 4rem;
    }

    &.scroll-cont {
      max-height: 41rem;
      @include scroll(y);
    }

    .title-sub {
      margin-bottom: 2.4rem;

      .bg-icon {
        width: 2rem;
        height: 2rem;
        margin-top: -0.3rem;
        &.refresh {
          background-size: 1.6rem auto;
        }
      }
    }

    .wrap-checkbox {
      margin-top: -1.1rem;
      margin-left: -0.7rem;
    }

    .checkbox.type5 {
      margin-top: 1.5rem;
      margin-right: 0;
      margin-left: 0.7rem;
    }

    .wrap-btn {
      display: flex;
      flex-wrap: wrap;

      .btn {
        flex: 1 0 auto;
        width: 20%;
        margin-right: 1rem;
        padding: 0 1rem;
        font-size: 1.5rem;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .wrap-price {
      .left {
        font-size: 1.5rem;

        em {
          font-size: 1.6rem;
        }
      }
      .right {
        em {
          margin-right: 0.1rem;
          font-size: 1.4rem;
        }
      }

      .text-guide {
        margin-top: 1.8rem;
        color: $fc1;
        font-size: 1.1rem;
      }
    }

    .wrap-time {
      padding: 0 1rem;

      .wrap-checkbox {
        margin-top: 0;
        margin-left: 0;
      }
    }

    .checkbox {
      &.type1 {
        label {
          min-width: 7.1rem;
          margin-left: 0;
          padding: 0 1.6rem;
          color: $fc1;
        }
      }
    }

    .define-box {
      .right {
        font-size: 1.4rem;
        color: $gc3;
      }
    }

    .list-btn {
      margin: 0 1rem;
      li:not(:first-child) {
        margin-top: 3rem;
      }
      button {
        width: 100%;
        color: $fc1;
        font-size: 1.5rem;
        text-align: left;
      }
    }
    .gray-box {
      margin-top: 2rem;
    }
  }

  .coupon-cont {
    padding-bottom: 11.5rem;
  }
}

.wrap-partner-images {
  box-sizing: border-box;
  min-height: calc(100vh - 5.5rem);
  background-color: $fc1;
  .images-top {
    padding: 8.4rem 3rem 2rem;
  }
  .list-tab {
    li {
      display: inline-block;
      font-size: 1.5rem;
      &:not(:first-child) {
        margin-left: 1.2rem;
        &:before {
          display: inline-block;
          width: 0.1rem;
          height: 1.2rem;
          margin-right: 1.2rem;
          background: $fc6;
          content: "";
        }
      }
      &.active {
        color: $fcF;
      }
    }
  }
}

.wrap-list-image {
  padding: 1.5rem 2rem;

  .item {
    height: 20rem;
    margin-top: 1rem;
    @include cropimg(w);
  }

  &.type1 {
    position: relative;
    padding: 0 0 8rem;
    .swiper-pagination-fraction {
      top: -4rem;
      right: 3rem;
      bottom: inherit;
      left: inherit;
      width: auto;
      color: $fcF;
      .swiper-pagination-total {
        opacity: 1;
      }
    }
  }
}

.layer-share {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 11rem 0 11.2rem;
  text-align: center;

  .bg-icon {
    width: 2rem;
    height: 2rem;
    margin-top: 2.1rem;
    padding: 2.2rem;
    background-color: $fcF;
    background-size: 2rem 2rem;
    border-radius: 50%;
  }
}

.wrap-fullscreen {
  position: relative;
  height: 100%;

  .bg-icon.close {
    width: 4rem;
    height: 4rem;
    background-size: 2rem 2rem;
    filter: brightness(30);
    position: absolute;
    top: 0.8rem;
    right: 1rem;
    z-index: 9;
  }
}
.list-review-zoom {
  height: 100%;
  background-color: $fc1;

  .swiper-slide-zoomed {
    overflow: hidden;
  }
  .swiper-pagination-fraction {
    bottom: auto;
    top: 1.4rem;
    font-size: 1.8rem;
    color: $fcF;
  }
}

.wrap-layer-alert {
  flex: 0 1 calc(100% - 6rem);
  position: relative;
  overflow: hidden;
  z-index: 51;
  background-color: $fcF;
  border-radius: 0.2rem;

  .desc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3.9rem 2rem;
    font-size: 1.5rem;
    text-align: center;
    color: $fc1;

    &.left-txt {
      text-align: left;
      justify-content: left;
      padding: 0 1rem;
    }
    &.type1 {
      padding: 0 2rem;
      flex-direction: column;
    }
    &.type2 {
      display: block;
      text-align: left;
      .tit {
        font-size: 1.7rem;
        text-align: center;
        em {
          margin-bottom: 0.3rem;
          display: block;
          font-size: 1.8rem;
        }
      }
      .list-dot {
        margin-top: 1rem;
      }
      .gray-box.loc-box {
        width: auto;
        padding: 2rem 1.5rem;
      }
    }
    & + .check-layer {
      margin: -1.9rem 0 3.9rem;
    }

    strong {
      font-size: 1.8rem;
    }

    .txt-row {
      margin-top: 0.7rem;
      width: 100%;
      font-size: 1.1rem;
      color: $fc6;
      text-align: center;
    }

    .gray-box.loc-box {
      margin-top: 2rem;
      padding: 2rem;
      display: block;
      width: 100%;
      text-align: left;

      .title {
        padding-bottom: 1rem;
        border-bottom: 0.1rem solid $fcD7;
      }
      ul {
        margin-top: 2rem;
        padding-left: 1rem;
        color: $fc6;
        li {
          &:not(:first-child) {
            margin-top: 1rem;
          }
        }
      }
      .list-dot {
        margin-top: 0;
        padding-left: 0;
      }
    }
  }

  .wrap-btn {
    display: flex;

    .btn {
      flex: 1;
      height: 5rem;
      font-size: 1.5rem;
      line-height: 4.9rem;
    }
  }
  .check-layer {
    padding: 0 3rem;
    line-height: 2rem;
  }
}

.wrap-layer-float {
  // flex: 0 1 calc(100% - 4rem);
  position: relative;
  z-index: 51;
  .layer-float-cont {
    padding: 4rem 3rem 3.5rem;
    overflow: hidden;
    background: $fcF;
    border-radius: 2rem;
  }
  .float-top {
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid $fcF0;
    .title {
      font-size: 1.5rem;
      color: $fc1;
      .bg-icon {
        margin-right: 0.5rem;
        width: 2rem;
        height: 2rem;
      }
    }
  }
  .float-cont {
    padding-top: 2.5rem;
    width: 27.5rem;
    .gray-box {
      align-items: center;
      justify-content: center;
      padding-top: 0.9rem;
      padding-bottom: 0.9rem;
      margin-top: 2rem;
      color: $fc1;
      .sum {
        margin-left: 1rem;
        color: $pc3;
        strong {
          font-size: 2rem;
        }
      }
    }
    .btn-area {
      margin-top: 3rem;
      &.line-st {
        font-size: 1.5rem;
        color: $fc1;
        line-height: 1.9rem;
        button {
          margin-left: 0;
        }
      }
    }
  }
  .btn-x-black {
    position: absolute;
    top: -5.6rem;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
