.wrap-menu {
  padding: 0 2rem 0 3rem;

  .menu-top {
    padding: 1rem 0 2rem;
    border-bottom: 0.1rem solid $fc1;
    .name {
      font-size: 1.7rem;
      color: $fc1;
    }
  }

  .menu-list {
    li {
      padding: 3.5rem 1rem 1.5rem;

      &:not(:last-child) {
        border-bottom: 0.1rem dotted #eee;
      }

      button {
        position: relative;
        color: $fc1;
        font-size: 1.5rem;
      }

      .bg-icon {
        width: 2rem;
        height: 2rem;
        margin-right: 0.6rem;
        vertical-align: top;
      }

      .badge {
        position: absolute;
        top: -0.2rem;
        right: -2.7rem;
        margin: 0;
      }
    }
  }
}

.wrap-member-info {
  padding: 0 2rem;

  .title-sub {
    .bg-icon {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;
      vertical-align: top;
    }
    .btn-arrow {
      margin-left: auto;
      width: 2rem;
      height: 2rem;
      @include blind();

      &:after {
        width: 1.2rem;
        height: 1.2rem;
        background: url(../../assets/img/layout/icon-more-type2.svg) 50% 50% / 100% 100% no-repeat;
      }
    }
  }

  .member-info {
    margin-top: 4rem;

    .grade {
      display: inline-block;
      width: 3.7rem;
      height: 4.8rem;
      margin-right: 1rem;
      vertical-align: top;

      & + .member {
        display: inline-block;
        margin-top: 0.5rem;
      }
    }

    .member {
      .name {
        color: $fc1;
        font-size: 1.5rem;
        line-height: 1.3;
      }
    }

    .info-txt {
      .inner {
        margin-top: 1rem;
        padding-left: 0.5rem;
      }

      .txt {
        color: $fc1;
        font-size: 1.5rem;
      }
      .sub-txt {
        margin-top: 0.1rem;
      }

      &.type2,
      &.type3 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .num {
          margin-left: auto;
          padding-right: 1.5rem;
          color: $pc3;
          em {
            font-size: 1.6rem;
          }
        }
      }

      &.type2 {
        .txt {
          width: 11rem;
        }
        .num {
          margin-left: inherit;
          padding-right: 0;
          width: calc(100% - 11rem);
          font-weight: 700;
          em {
            margin-right: 0.1rem;
            font-weight: 400;
          }
        }
      }

      &.type3 {
        .txt {
          margin-right: 1.5rem;
          .num {
            padding-right: 0;
            font-size: 1.6rem;
          }
        }
        .desc {
          margin-left: -0.5rem;
          color: $fc6;
          font-size: 1.1rem;
        }
      }
    }
  }

  .info-cont {
    position: relative;
    margin-top: 2rem;
    padding: 0 1rem;

    .btn-link {
      margin-top: 1rem;
      color: $pc3;
      border-color: $pc3;

      &.color1 {
        color: $fc1;
        border-color: $fc1;
      }
    }

    .badge {
      display: inline-block;
      height: 2rem;
      padding: 0 0.8rem;
      font-size: 0.9rem;
      line-height: 2rem;
    }

    .txt-row {
      margin-top: 0.5rem;
      em {
        color: $fc1;
      }
    }
  }
}

.wrap-alarm-setting {
  .title-box {
    padding: 0 1rem 2rem 0;
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid $fc1;

    .title {
      font-size: 1.5rem;
      color: $fc1;

      .bg-icon {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
    .sub-txt {
      margin-top: 1rem;
    }

    .right {
      margin-left: auto;
    }
  }

  .set-list {
    padding: 0 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 0.1rem solid $fcF0;

    dt {
      margin-top: 2rem;
      width: 70%;
      height: 3rem;
    }
    dd {
      margin-top: 2rem;
      text-align: right;
      width: 30%;
      height: 3rem;
    }
  }

  .noti-txt {
    position: relative;
    padding: 0 3.1rem;
    font-size: 1.1rem;
    color: $fc9;
    background: url(../../assets/img/layout/icon-info.svg) no-repeat 1rem 0;
    em {
      margin-top: 0.6rem;
      display: block;
      font-size: 1.2rem;
    }
  }

  .btn-area {
    margin-top: 6rem;
  }
}
