// 레이아웃
.block-cont {
  padding: 4rem 2rem 3.5rem;
  box-sizing: border-box;
  border-top: 0.8rem solid $fcF9;
  border-bottom: 0.1rem solid $fcF0;
  &:nth-last-of-type(1) {
    border-bottom: 0;
  }
  &:nth-of-type(1) {
    border-top: none;
  }
}

// content
.new-add-noti {
  padding: 2.3rem 0 3.8rem;
}
