// 레이아웃
.inner-layout {
  padding: 4rem 2rem 7rem;
}
.block-layout {
  padding: 4rem 2rem 3.5rem;
  box-sizing: border-box;
  border-top: 0.8rem solid $fcF9;
  border-bottom: 0.1rem solid $fcF0;
  &:nth-last-of-type(1) {
    border-bottom: 0;
  }
  &:nth-of-type(1) {
    border-top: none;
  }
}

//fix-footer
.fix-footer-area {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

// content
.new-add-noti {
  padding: 2.3rem 0 0;
}
