// 레이아웃
.inner-layout {
  padding: 4rem 2rem 7rem;
}
.block-layout {
  padding: 4rem 2rem 3.5rem;
  box-sizing: border-box;
  border-top: 0.8rem solid $fcF9;
  border-bottom: 0.1rem solid $fcF0;
  &:nth-last-of-type(1) {
    border-bottom: 0;
  }
  &:nth-of-type(1) {
    border-top: none;
  }
}

//fix-footer
.fix-footer-area {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

// content
.new-add-noti {
  padding: 2.3rem 0 0;
}

.car-info-box {
  &:not(:first-child) {
    margin-top: 2rem;
  }
  //radio
  &.radio-type {
    padding: 0;
    input[type="radio"] {
      position: absolute;
      left: -99999px;
      width: 0;
      height: 0;
      overflow: hidden;
    }

    input[type="radio"]:checked + label {
      &.car-info-cont {
        background: $fcF;
        border-color: $fc1;
        box-shadow: 0 0 1rem 0.4rem rgba(0, 0, 0, 0.08);
        transition: background 0.2s, border 0.2s, box-shadow 0.2s;
      }
    }

    label {
      margin: 0;
      transition: background 0.2s, border 0.2s, box-shadow 0.2s;
    }
  }

  .car-info-cont {
    position: relative;
    padding: 3.5rem 3rem 4rem;
    display: block;
    line-height: 1;
    background: $fcF9;
    border: 1px solid $fcD7;
    border-radius: 1.6rem;
  }
  .logo {
    position: absolute;
    top: 50%;
    right: 3rem;
    width: 7.5rem;
    transform: translate(0, -50%);
    img {
      width: 100%;
    }
    button {
      margin-top: 1.2rem;
      margin-left: -0.6rem;
      width: 8.7rem;
    }
  }
  .car-barnd {
    color: $fc9;
  }
  .car-name {
    margin-top: 1.1rem;
    font-size: 1.5rem;
    color: $fc1;
  }
  .car-number {
    margin-top: 0.4rem;
    font-size: 1.8rem;
    color: $fc1;
  }
}
