.block-layout {
  .card-list-wrap {
    margin: 0 -2rem 0;
  }
}

.card-list-wrap {
  padding: 3.5rem 0 0;
  .card-list-inner {
    border-top: 0.8rem solid $fcF9;
    padding: 4rem 2rem 0;
  }
  .title {
    font-size: 1.5rem;
    color: $fc1;
  }
  .list-area {
    overflow: hidden;
  }
  .list {
    margin-left: -0.9rem;
    overflow: hidden;
    li {
      float: left;
      box-sizing: border-box;
      width: 33.333%;
      margin: 0.9rem 0 0;
      padding-left: 0.9rem;
      button {
        position: relative;
        width: 100%;
        padding-bottom: 84%;
        border: 0.1rem solid $fcE4;
        border-radius: 0.5rem;
        .list-cont {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          span {
            display: block;
            color: $fc1;
          }
          .bg-icon {
            width: 2.4rem;
            height: 2.4rem;
            margin-bottom: 0.8rem;
          }
        }
      }
    }
  }
}

.card-box {
  position: relative;
  width: 100%;
  height: 21rem;
  padding: 3rem 0 0 2.5rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
  border-radius: 2rem;
  background: #414141 url(../../assets/img/layout/icon-card-sim.png) 2.5rem 6.5rem / 2.7rem 2.1rem no-repeat;
  color: $fcF;
  &.type-yellow {
    background-color: #ffcb00;
  }
  .bottom-area {
    position: absolute;
    left: 0;
    bottom: 3rem;
    width: 100%;
    padding: 0 0 0 2.5rem;
    box-sizing: border-box;
    overflow: hidden;
    .card-data {
      float: left;
      .card-number {
        margin-top: 0.2rem;
        font-size: 1.4rem;
      }
    }
    .card-date {
      position: absolute;
      right: 2.5rem;
      bottom: 0rem;
      font-size: 1.4rem;
    }
  }
}

.form-card {
  display: flex;
  height: 4.5rem;
  align-items: center;
  justify-content: center;
  background-color: $fcF9;
  border: 0.1rem solid $fcF0;
  span {
    display: inline-block;
    padding: 0.1rem 0 0 0.7rem;
    background-color: $fc9;
    font-size: 0;
  }
  input {
    text-align: center;
    padding-right: 1rem;
    border: 0 none;
  }
}

.applay-check {
  position: relative;
  margin: 2rem 0 9rem;
  .btn {
    height: 4.5rem;
    line-height: 4.3rem;
    text-align: left;
    padding: 0 1.5rem;
    font-size: 1.3rem;
    .bg-icon {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
  .wrap-tooltip {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
    .tooltip-box {
      left: auto;
      right: -1.5rem;
      &:before {
        left: auto;
        right: 1.75rem;
      }
    }
  }
}

.form-wrap {
  .form-row {
    display: flex;
    margin-top: 3rem;
    .row-cell {
      flex: 1;
      margin-left: 1.5rem;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .title {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: $fc1;
  }
}

.board-list {
  .title {
    color: $fc1;
  }
  .info {
    margin-top: 0.3rem;
    .date {
      display: inline-block;
      font-size: 1.2rem;
      vertical-align: middle;
      color: $fc6;
    }
    .bg-icon {
      margin-left: 0.2rem;
      &.attach2 {
        width: 1.6rem;
        height: 1.6rem;
      }
      &.new-label {
        width: 2.516rem;
        height: 0.85rem;
      }
    }
  }
  li {
    border-bottom: 0.1rem solid $fcF0;
    &:first-child a {
      padding-top: 0;
      .more {
        top: 0.3rem;
      }
    }
    & > a {
      display: block;
      padding: 2rem 2rem 2rem 1rem;
      position: relative;
    }
    .bg-icon {
      &.more {
        position: absolute;
        right: 0.7rem;
        top: 2.3rem;
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }
}

.board-detail {
  & > .btn {
    width: 100%;
  }
  .detail-title {
    .title {
      font-size: 1.7rem;
      color: $fc1;
      .new-label {
        margin: -0.6rem 0 0 0.3rem;
        width: 2.516rem;
        height: 0.85rem;
      }
    }
    .info {
      margin-top: 0.6rem;
      font-size: 1.2rem;
      color: $fc6;
    }
  }
  .attach-box {
    margin-top: 1.5rem;
    padding: 1.2rem 1.5rem;
    border: 0.1rem solid $fcF0;
    button {
      &:first-child {
        margin-top: 0;
      }
      display: block;
      width: 100%;
      margin-top: 1rem;
      text-align: left;
      color: $fc1;
    }
  }
  .detail-body {
    padding-top: 2.5rem;
    padding-bottom: 4rem;
    p {
      &:first-child img {
        margin-top: 0;
      }
    }
    img {
      width: 100%;
      margin: 1.5rem 0;
    }
  }
}

.keypad {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  width: 100%;
  background: $fc1;
  &.active {
    display: block;
  }
  .keypad-top {
    position: relative;
    height: 3.5rem;
    .on-msg {
      padding-left: 2rem;
      font-size: 1.1rem;
      color: $gc3;
      line-height: 3.5rem;
      .bg-icon {
        width: 1.6rem;
        height: 1.6rem;
        margin-top: -0.2rem;
      }
    }
    .close-keypad {
      font-size: 1.1rem;
      color: $fc9;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      padding-right: 2rem;
    }
  }
  .keypad-body {
    overflow: hidden;
    background: #222;
    ul {
      margin-left: -0.1rem;
      overflow: hidden;
      li {
        float: left;
        width: 25%;
        height: 6rem;
        box-sizing: border-box;
        border-left: 0.1rem solid #222;
        border-top: 0.1rem solid #222;
        font-size: 2.2rem;
        color: $fcF;
        text-align: center;
        button {
          display: block;
          width: 100%;
          height: 100%;
          background: #2b2b2b;
        }
      }
    }
    .number {
      position: relative;
      .key-back {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 0;
        button {
          background: #2b2b2b url(../../assets/img/layout/icon-keypad-back.png) 50% 50% / 2.4rem 1.8rem no-repeat;
        }
      }
    }
    .apply {
      .refresh {
        width: 25%;
        font-size: 1.3rem;
        color: $fc9;
      }
      .confirm {
        width: 75%;
        font-size: 1.5rem;
      }
    }
  }
}

.pattern-info {
  padding: 3rem 0 0;
  .title {
    font-size: 1.5rem;
    color: $fc1;
    padding-left: 0.3rem;
    .bg-icon {
      width: 0.6rem;
      height: 0.6rem;
      vertical-align: top;
      margin-top: 0.7rem;
    }
  }
  .desc {
    padding: 0.5rem 0 0 1.3rem;
    color: $pc3;
  }
}

.using-wrap {
  margin-top: 2.5rem;
  .wrap-form {
    padding: 0 1rem 4rem;
  }
  .head-title {
    &.type1 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  .auto-select-list {
    padding: 0 1rem;
  }
  .label-tit,
  .checkbox {
    font-size: 1.5rem;
  }
  .form-input {
    margin-top: 1.5rem;
  }
  // .accordion-title {
  //   padding: 1rem;
  //   background-color: $fcF;
  //   border-color: $fc1;

  //   .toggle {
  //     right: 1rem;
  //   }
  // }
  // .accordion-cont {
  //   padding: 0 1rem 0;
  //   border-bottom: 0 none;

  //   .checkbox {
  //     position: relative;
  //     width: 100%;
  //     .right {
  //       position: absolute;
  //       right: 0;
  //       top: 0;
  //       font-size: 1.3rem;
  //     }
  //     input:checked + label {
  //       .pont {
  //         color: $pc3;
  //       }
  //     }
  //   }
  //
  // }

  .cont-row {
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    border-top: 0.1rem solid $fcF0;
    &:first-child {
      padding-top: 0;
      border-top: 0 none;
    }

    .checkbox {
      position: relative;
      width: 100%;
      &.type4 label {
        color: $fc1;
        margin-left: 0;
      }
      .right {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1.3rem;
        .pont {
          color: $pc3;
        }
      }
    }
  }
  .btn-list {
    text-align: center;
    li {
      margin-top: 2rem;
      &:first-child {
        margin-top: 0;
      }
    }
    .btn {
      min-width: 24.4rem;
    }
  }
}

.member-apply {
  color: $fc1;
  .apply-info {
    font-size: 1.7rem;
    line-height: 2.4rem;
  }
  .apply-form {
    margin-top: 3rem;
    .apply-title {
      font-size: 1.5rem;
      padding-bottom: 0.7rem;
    }
    .dotted-list {
      margin-top: 1.3rem;
      font-size: 1.1rem;
    }
    .error-msg {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  .apply-form-info {
    margin-top: 3.5rem;
    color: $fc6;
    .apply-title {
      font-size: 1.3rem;
      padding-bottom: 1.3rem;
    }
  }
  .wrap-check {
    border-top: 0.1rem solid $fcF0;
    margin-top: 4rem;
    padding-top: 2.5rem;
    display: flex;
  }
}
