.block-layout {
  .card-list {
    margin: 0 -2rem 0;
  }
}
.card-list {
  border-top: 0.8rem solid $fcF9;
  padding: 4rem 2rem;
  .title {
    font-size: 1.5rem;
    color: $fc1;
  }
  .list-area {
    overflow: hidden;
  }
  .list {
    margin-left: -0.9rem;
    li {
      float: left;
      box-sizing: border-box;
      width: 33.333%;
      margin: 0.9rem 0 0;
      padding-left: 0.9rem;
      button {
        position: relative;
        width: 100%;
        padding-bottom: 84%;
        border: 0.1rem solid $fcE4;
        border-radius: 0.5rem;
        .list-cont {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          span {
            display: block;
            color: $fc1;
          }
          .bg-icon {
            width: 2.4rem;
            height: 2.4rem;
            margin-bottom: 0.8rem;
          }
        }
      }
    }
  }
}

.card-box {
  position: relative;
  width: 100%;
  height: 21rem;
  padding: 3rem 0 0 2.5rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
  border-radius: 2rem;
  background: #414141 url(../../assets/img/layout/icon-card-sim.png) 2.5rem 6.5rem / 2.7rem 2.1rem no-repeat;
  color: $fcF;
  &.type-yellow {
    background-color: #ffcb00;
  }
  .bottom-area {
    position: absolute;
    left: 0;
    bottom: 3rem;
    width: 100%;
    padding: 0 0 0 2.5rem;
    box-sizing: border-box;
    overflow: hidden;
    .card-data {
      float: left;
      .card-number {
        margin-top: 0.2rem;
        font-size: 1.4rem;
      }
    }
    .card-date {
      position: absolute;
      right: 2.5rem;
      bottom: 0.2rem;
      font-size: 1, 5rem;
    }
  }
}

.form-card {
  display: flex;
  height: 4.5rem;
  align-items: center;
  justify-content: center;
  background-color: $fcF9;
  border: 0.1rem solid $fcF0;
  span {
    display: inline-block;
    padding: 0.1rem 0 0 0.7rem;
    background-color: $fc9;
    font-size: 0;
  }
  input {
    text-align: center;
    padding-right: 1rem;
    border: 0 none;
  }
}

.applay-check {
  position: relative;
  margin: 2rem 0 9rem;
  .btn {
    height: 4.5rem;
    line-height: 4.3rem;
    text-align: left;
    padding: 0 1.5rem;
    font-size: 1.3rem;
    .bg-icon {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
  .wrap-tooltip {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
    .tooltip-box {
      left: auto;
      right: -1.5rem;
      &:before {
        left: auto;
        right: 1.75rem;
      }
    }
  }
}

.form-wrap {
  .form-row {
    display: flex;
    margin-top: 3rem;
    .row-cell {
      flex: 1;
      margin-left: 1.5rem;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .title {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: $fc1;
  }
}

.keypad {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  width: 100%;
  background: $fc1;
  &.active {
    display: block;
  }
  .keypad-top {
    position: relative;
    height: 3.5rem;
    .on-msg {
      padding-left: 2rem;
      font-size: 1.1rem;
      color: $gc3;
      line-height: 3.5rem;
      .bg-icon {
        width: 1.6rem;
        height: 1.6rem;
        margin-top: -0.2rem;
      }
    }
    .close-keypad {
      font-size: 1.1rem;
      color: $fc9;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      padding-right: 2rem;
    }
  }
  .keypad-body {
    overflow: hidden;
    background: #222;
    ul {
      margin-left: -0.1rem;
      overflow: hidden;
      li {
        float: left;
        width: 25%;
        height: 6rem;
        box-sizing: border-box;
        border-left: 0.1rem solid #222;
        border-top: 0.1rem solid #222;
        font-size: 2.2rem;
        color: $fcF;
        text-align: center;
        button {
          display: block;
          width: 100%;
          height: 100%;
          background: #2b2b2b;
        }
      }
    }
    .number {
      position: relative;
      .key-back {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 0;
        button {
          background: #2b2b2b url(../../assets/img/layout/icon-keypad-back.png) 50% 50% / 2.4rem 1.8rem no-repeat;
        }
      }
    }
    .apply {
      .refresh {
        width: 25%;
        font-size: 1.3rem;
        color: $fc9;
      }
      .confirm {
        width: 75%;
        font-size: 1.5rem;
      }
    }
  }
}
