/// reset
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
em,
img,
sub,
sup,
address,
cite,
pre,
code,
del,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

// article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  word-break: break-all;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  overflow: visible;
  -webkit-appearance: button;
  cursor: pointer;
}

// button::-moz-focus-inner, input::-moz-focus-inner {padding:0; border:0;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
html {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  // -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
body {
  width: 100%;
  font: 1.3rem/1.5 "Moebius", sans-serif;
  // letter-spacing: -0.05em;
  word-break: keep-all;
  color: $fc6;
  background-color: $fcF;
}

input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font-family: inherit;
  color: inherit;
  box-sizing: border-box;
  -webkit-appearance: none;
  vertical-align: middle;
  border-radius: 0;
  background-color: transparent;
}

caption,
legend,
hr {
  display: none;
}

em,
address,
i {
  font-style: normal;
}

img {
  max-width: 100%;
  vertical-align: middle;
  -webkit-user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

strong,
b {
  font-weight: 700;
}

a,
button,
input,
img,
div,
span {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  outline: none;
}

@font-face {
  font-family: "Moebius";
  src: url("../../assets/font/MoebiusRegular.woff2") format("woff2"), url("../../assets/font/MoebiusRegular.woff") format("woff");
}

@font-face {
  font-family: "Moebius";
  font-weight: 700;
  src: url("../../assets/font/MoebiusBold.woff2") format("woff2"), url("../../assets/font/MoebiusBold.woff") format("woff");
}

html {
  box-sizing: border-box;
  max-height: 99999em;
  // padding-bottom: constant(safe-area-inset-bottom);
  // padding-bottom: env(safe-area-inset-bottom);
}

// normalize
.hidden {
  display: none !important;
}

.layer-open {
  &,
  body {
    position: fixed;
    overflow: hidden;
    touch-action: none;
  }
}

.title-sub {
  padding-bottom: 0.8rem;
  border-bottom: 0.1rem solid $fcF0;
  &.type-third {
    .title {
      color: $fc6;
    }
  }
  &.pos-top {
    margin-top: 3rem;
  }
  .title {
    font-size: 1.5rem;
    color: $fc1;
  }
}

.point3 {
  color: $pc3;
}

.required {
  &:after {
    content: "";
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    margin-left: 0.5rem;
    vertical-align: 0.15em;
    background: url(../../assets/img/layout/icon-required.png) 0 0 / 100% auto no-repeat;
  }
}

.wrap-contents {
  padding-bottom: 9rem;

  .wrap-layer & {
    padding-bottom: 0;
  }
}

.swiper-pagination {
  .swiper-pagination-bullet {
    width: 0.6rem;
    height: 0.6rem;
    margin: 0 0.3rem;
    background: $fcF;
    opacity: 0.6;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
  }
}
.swiper-pagination-current {
  opacity: 1;
}
.swiper-pagination-total {
  opacity: 0.5;
}
