.wrap-policy {
  padding: 4rem 2rem 0;
  .wrap-select {
    margin-bottom: 2.3rem;
  }
  .title {
    margin-top: 1.7rem;
    font-weight: 700;
    color: $fc1;
  }
  .txt-row {
    margin-top: 0.7rem;
    line-height: 1.6;
  }
  .list-dot {
    margin-top: 1.5rem;
  }
  .tbl {
    margin-top: 1.95rem;
  }
}
