.wrap-policy {
  padding: 4rem 2rem;
  .wrap-select {
    margin-bottom: 2.3rem;
  }
  .big-title {
    margin-bottom: 3.5rem;
    font-size: 1.5rem;
    color: $fc1;
  }
  .sub-title {
    font-size: 1.5rem;
    color: $fc1;
    margin-bottom: 0.5rem;
  }
  .title {
    margin-top: 1.7rem;
    font-weight: 700;
    color: $fc1;
  }
  .wrap-txt-row {
    padding-left: 0.5rem;
  }
  .txt-row {
    margin-top: 0.7rem;
    line-height: 1.6;
    .list-roman {
      margin-left: 2rem;
    }
    &.type1 {
      margin-top: 2rem;
      color: $fc1;
    }
    .tbl {
      margin-top: 1rem;
    }
    .title {
      margin: 1rem 0 0;
      color: $fc6;
    }
  }
  .txt-row2 {
    margin-top: 0.7rem;
    color: $fc9;
  }
  .list-dot {
    margin-top: 1.5rem;
    &.red {
      li {
        color: $gc3;
        &:before {
          background: $gc3;
        }
      }
    }
  }
  .tbl {
    margin-top: 1.95rem;
    .list-dot {
      margin-top: 0;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      li {
        margin-top: 0;
      }
    }
  }
  .list-number {
    margin-top: 1rem;
    & > li {
      position: relative;
      padding-left: 2rem;
      &:not(:first-child) {
        margin-top: 1rem;
      }
      .num-cycle {
        position: absolute;
        top: 0.3rem;
        left: 0;
        padding-top: 0.1rem;
        display: block;
        width: 1.4rem;
        height: 1.4rem;
        font-size: 1.1rem;
        line-height: 1;
        color: $fc6;
        text-align: center;
        border: 0.1rem solid $fc6;
        border-radius: 50%;
        box-sizing: border-box;
      }
      ol {
        padding-left: 2rem;
        &.list-number {
          padding-left: 0;
        }
      }
    }

    &.type1 {
      li {
        margin-top: 0;
        padding-left: 2rem;
        counter-increment: num;
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          width: 1.5rem;
          font-size: 1.2rem;
          text-align: right;
          content: counter(num) ".";
        }
      }
    }
  }
  .list-roman {
    list-style-type: upper-roman;
    &.color1 {
      color: $fc9;
    }
    .tbl {
      margin: 1.7rem -4rem;
      width: calc(100% + 4rem);
    }
  }

  .tbl-layout {
    margin: 0;
    padding: 3rem 0;
    .title {
      &:not(:first-child) {
        margin-top: 4rem;
      }
      margin-top: 0;
    }
    .tbl {
      margin-bottom: 1rem;
    }

    &.type1 {
      padding: 2rem 0;
      .title {
        font-size: 1.3rem;
      }
    }

    &.type2 {
      padding: 0.7rem 0;
      .title {
        color: $fc6;
        font-size: 1.3rem;
      }
      .tbl {
        margin-top: 0.5rem;
      }
    }
  }
  .btn-down {
    margin-top: 0.5rem;
    color: $pc3;
    border-bottom: 0.1rem solid $pc3;
  }
}

.policy-area {
  iframe {
    width: 100%;
    height: calc(100vh - 5.5rem);
  }
}

.terms-area {
  padding: 4rem 2rem;

  > strong:first-child {
    display: block;
    margin-bottom: 3.5rem;
    color: $fc1;
    font-size: 1.5rem;
    font-weight: 400;
  }

  p {
    color: $fc6;
    strong {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 2rem 0 1rem;
      color: $fc1;
      > span {
        margin-left: auto;
        font-weight: 400;
        font-size: 1.1rem;
        em {
          color: $pc3;
        }
      }
    }
  }

  table {
    margin: 1rem 0;
    width: 100%;
    table-layout: fixed;

    thead {
      th {
        text-align: center;
      }
      & + tbody {
        th,
        td {
          text-align: center;
          padding: 1.3rem 0.5rem;
        }
      }
    }

    tbody {
      th,
      td {
        padding: 1.5rem;
      }
    }

    th {
      padding: 1.3rem 0.5rem;
      color: $fc1;
      background: $fcF9;
      border: 0.1rem solid $fcE4;
      vertical-align: middle;
      text-align: left;
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }

    td {
      padding: 1.2rem 0.5rem;
      border: 0.1rem solid $fcE4;
      vertical-align: middle;
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
  }

  ol {
    counter-reset: num;

    li {
      position: relative;
      margin-top: 1rem;
      padding-left: 2rem;
      counter-increment: num;

      &:before {
        position: absolute;
        top: 0.2rem;
        left: 0;
        width: 1.2rem;
        height: 1.2rem;
        border: 0.1rem solid $fc6;
        border-radius: 50%;
        font-size: 1.2rem;
        text-align: center;
        line-height: 1.2rem;
        content: counter(num);
      }
    }

    ol {
      margin-top: 0.3rem;
      padding-left: 2rem;
      list-style-type: upper-roman;

      li {
        margin: 0;
        padding-left: 0;
        color: $fc9;
        &:before {
          display: none;
        }

        p {
          color: $fc9;
        }
      }

      table {
        margin-left: -4rem;
        width: calc(100% + 4rem);
      }
    }
  }

  div {
    p {
      strong {
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
    & + div {
      margin-top: 4rem;
    }
  }
}
