.wrap-tab-scroll {
  position: relative;
  margin-top: 4rem;
  box-sizing: border-box;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0.1rem;
    background: $fcF0;
  }

  .tab-scroll-menu {
    position: relative;
    // display: flex;
    // width: 100%;
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    z-index: 1;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
    }

    li {
      display: inline-block;
      &:not(:first-child) {
        margin-left: 5rem;
      }
      &.active {
        border-bottom: 0.2rem solid $fc1;
        button {
          padding-bottom: 0.8rem;
        }
      }
      button {
        padding: 0 0 1rem;
        font-size: 1.7rem;
        color: $fc1;
      }
    }
  }

  &.type1 {
    .tab-scroll-menu {
      padding: 0;
      li {
        position: relative;
        margin: 0 1.5rem;
        font-size: 1.5rem;
        text-align: center;
        white-space: nowrap;
        border: 0 none;
        // background: $fcF;
        color: $fc1;
        z-index: 1;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        &.active {
          color: $pc3;
          border-bottom: 0.2rem solid $pc3;
          button {
            color: $pc3;
          }
        }
        button {
          padding: 0 0 0.8rem;
        }
      }
    }
  }

  &.type2 {
    margin-top: 3rem;
    padding-bottom: 2.5rem;
    white-space: nowrap;
    .tab-scroll-menu {
      background: none;

      li {
        &:not(:first-child) {
          margin-left: 0.7rem;
        }

        &.active {
          border: 0;
        }
      }
    }
  }
}

.wrap-tab {
  .tab-menu {
    display: flex;

    li {
      flex: 1;
      height: 4.8rem;
      text-align: center;
      line-height: 4.8rem;
      background-color: $fcF;
      border: 0.1rem solid $fcD7;
      color: $fc9;
      transition: all 0.2s ease;
      box-sizing: border-box;

      & + li {
        margin-left: -0.1rem;
      }

      &.active {
        background-color: $pc3;
        border-color: $pc3;
        color: $fcF;
      }

      button {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 1.2;
        .sm-txt {
          display: inline-block;
          margin-top: 0.2rem;
          font-size: 1.4rem;
          vertical-align: top;
        }
      }
    }
  }

  &.type1 {
    .tab-menu {
      position: relative;

      li {
        background-color: $fcF9;
        border-bottom-color: $fc1;
        color: $fc9;
        font-size: 1.5rem;

        &.active {
          background-color: $fcF;
          border-color: $fc1;
          border-bottom-color: $fcF;
          color: $fc1;

          & + li {
            border-left-color: $fc1;
          }
        }
      }
    }
  }

  &.type2 {
    .tab-menu {
      display: flex;
      li {
        // flex: auto;
        flex: 1;
        height: auto;
        font-size: 1.7rem;
        padding-bottom: 1rem;
        text-align: center;
        border: 0 none;
        border-bottom: 0.1rem solid $fcF0;
        background: $fcF;
        color: $fc1;
        white-space: nowrap;

        &.active {
          padding-bottom: 1rem;
          border-bottom: 0.2rem solid $fc1;
        }

        .num {
          display: inline-block;
          font-size: 1.4rem;
          vertical-align: top;
        }
      }
    }
  }
  &.type3 {
    .tab-menu {
      position: relative;
      display: flex;
      justify-content: space-between;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 0.1rem;
        background: $fcF0;
        z-index: 0;
      }

      li {
        position: relative;
        flex: 0;
        height: auto;
        font-size: 1.7rem;
        padding-bottom: 1.1rem;
        text-align: center;
        white-space: nowrap;
        border: 0 none;
        border-bottom: 0.1rem solid $fcF0;
        background: $fcF;
        color: $fc1;
        z-index: 1;
        &:first-child button {
          text-align: left;
        }
        &:last-child button {
          text-align: right;
        }
        &.active {
          padding-bottom: 1rem;
          border-bottom: 0.2rem solid $fc1;
        }
      }
    }
  }
  &.type4 {
    .tab-menu {
      position: relative;
      display: flex;
      justify-content: space-between;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        border-bottom: 0.1rem solid $fcF0;
        z-index: 0;
      }
      li {
        position: relative;
        flex: 0;
        height: auto;
        font-size: 1.5rem;
        padding-bottom: 1rem;
        text-align: center;
        white-space: nowrap;
        border: 0 none;
        background: $fcF;
        color: $fc1;
        &:first-child button {
          text-align: left;
        }
        &:last-child button {
          text-align: right;
        }
        &.active {
          color: $pc3;
          z-index: 1;
          padding-bottom: 0.9rem;
          border-bottom: 0.2rem solid $pc3;
        }
      }
    }
  }

  &.center {
    .tab-menu {
      justify-content: space-around;
    }
  }
}
