.tbl {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  &.type1 {
    text-align: left;
    th,
    td {
      border-left: none;
      border-right: none;
    }
    th {
      padding-left: 3.2rem;
    }
    td {
      padding-left: 2rem;
    }
  }

  &.type2 {
    td {
      padding: 1.5rem 2rem;
      vertical-align: middle;
      text-align: left;
      &:first-child {
        color: $fc1;
        text-align: center;
      }
    }
  }

  th {
    padding: 1.3rem 0.5rem;
    color: $fc1;
    background: $fcF9;
    border: 0.1rem solid $fcE4;
    vertical-align: middle;
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
  }
  td {
    padding: 1.2rem 0.5rem;
    border: 0.1rem solid $fcE4;
    vertical-align: middle;
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
  }
  .txt-sm {
    font-size: 1.1rem;
  }
  .color1 {
    color: $pc3;
  }
  .ta-c {
    text-align: center;
  }

  .title-sm {
    font-weight: 700;
    margin-bottom: 1rem;
  }
}
