.wrap-tab-scroll {
  position: relative;
  margin-top: 4rem;
  box-sizing: border-box;
  .tab-scroll-menu {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    background: linear-gradient(to bottom, $fcF, $fcF calc(100% - 0.1rem), $fcF0 100%);
    background-attachment: local;

    // &:after {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    //   display: block;
    //   width: 100%;
    //   height: 100%;

    //   z-index: -1;
    // }

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
    }
    li {
      &:not(:first-child) {
        margin-left: 5rem;
      }
      &.active {
        border-bottom: 0.2rem solid $fc1;
      }
      button {
        padding: 0 0 1rem;
        color: $fc1;
      }
    }
  }

  &.type1 {
    .tab-scroll-menu {
      padding: 0;
      li {
        position: relative;
        margin: 0 1.5rem;
        font-size: 1.5rem;
        text-align: center;
        white-space: nowrap;
        border: 0 none;
        // background: $fcF;
        color: $fc1;
        z-index: 1;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        &.active {
          color: $pc3;
          border-bottom: 0.2rem solid $pc3;
          button {
            color: $pc3;
          }
        }
        button {
          padding: 0 0 0.8rem;
        }
      }
    }
  }
}

.wrap-tab {
  .tab-menu {
    display: flex;

    li {
      flex: 1;
      height: 4.5rem;
      text-align: center;
      line-height: 4.5rem;
      background-color: $fcF;
      border: 0.1rem solid $fcD7;
      color: $fc9;
      transition: all 0.2s ease;

      & + li {
        margin-left: -0.1rem;
      }

      &.active {
        background-color: $pc3;
        border-color: $pc3;
        color: $fcF;
      }

      button {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  &.type1 {
    .tab-menu {
      position: relative;

      li {
        background-color: $fcF9;
        border-bottom-color: $fc1;
        color: $fc6;

        &.active {
          background-color: $fcF;
          border-color: $fc1;
          border-bottom-color: $fcF;
          color: $fc1;

          & + li {
            border-left-color: $fc1;
          }
        }
      }
    }
  }

  &.type2 {
    .tab-menu {
      display: flex;

      li {
        flex: 1;
        height: auto;
        font-size: 1.7rem;
        padding-bottom: 1rem;
        text-align: center;
        border: 0 none;
        border-bottom: 0.1rem solid $fcF0;
        background: $fcF;
        color: $fc1;

        &.active {
          border-bottom: 0.2rem solid $fc1;
        }

        .num {
          display: inline-block;
          font-size: 1.4rem;
        }
      }
    }
  }
  &.type3 {
    .tab-menu {
      position: relative;
      display: flex;
      justify-content: space-between;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 0.1rem;
        background: $fcF0;
        z-index: 0;
      }

      li {
        position: relative;
        flex: 0;
        height: auto;
        font-size: 1.7rem;
        padding-bottom: 1rem;
        text-align: center;
        white-space: nowrap;
        border: 0 none;
        border-bottom: 0.1rem solid $fcF0;
        background: $fcF;
        color: $fc1;
        z-index: 1;
        &:first-child button {
          text-align: left;
        }
        &:last-child button {
          text-align: right;
        }
        &.active {
          border-bottom: 0.2rem solid $fc1;
        }
      }
    }
  }
  &.type4 {
    .tab-menu {
      position: relative;
      display: flex;
      justify-content: space-between;
      li {
        position: relative;
        flex: 0;
        height: auto;
        font-size: 1.5rem;
        padding-bottom: 1rem;
        text-align: center;
        white-space: nowrap;
        border: 0 none;
        background: $fcF;
        color: $fc1;
        z-index: 1;
        &:first-child button {
          text-align: left;
        }
        &:last-child button {
          text-align: right;
        }
        &.active {
          color: $pc3;
          border-bottom: 0.2rem solid $pc3;
        }
      }
    }
  }

  &.center {
    .tab-menu {
      justify-content: space-around;
    }
  }
}
