.wrap-view {
  padding-top: 4rem;

  .view-title {
    padding: 0 2rem 2rem;

    .title {
      color: $fc1;
      font-size: 1.7rem;
      font-weight: 400;
    }

    .sub-txt {
      margin-top: 0.2rem;
      font-size: 1.5rem;
    }

    .date {
      margin-top: 1rem;
      font-size: 1.2rem;
    }
  }

  .list-text {
    padding: 3rem 2rem 4rem;

    dt {
      color: $fc1;
      font-size: 1.5rem;

      &:not(:first-child) {
        margin-top: 1.8rem;
      }
    }

    dd {
      position: relative;
      margin-top: 0.8rem;
      padding-left: 1.2rem;

      &:before {
        position: absolute;
        top: 0.7rem;
        left: 0.4rem;
        width: 0.3rem;
        height: 0.3rem;
        background: $fc6;
        border-radius: 50%;
        content: "";
      }
    }
  }

  .view-etc {
    margin: 0 2rem;
    padding-top: 1.8rem;
    border-top: 0.1rem solid $fcF0;

    .title {
      display: block;
      margin-bottom: 0.7rem;
      color: $fc1;
      font-weight: 400;
    }
  }

  .view-terms {
    overflow: hidden;
    padding: 0 3rem 3rem;
    border-top: 0.1rem solid $fcF0;

    &:before {
      display: block;
      height: 0.8rem;
      margin: 0 -3rem 4rem;
      background: $fcF9;
      content: "";
    }

    .btn-arrow {
      float: right;
    }
  }

  .wrap-btn {
    margin: 0 2rem 4rem;

    .btn {
      width: 100%;
      font-size: 1.5rem;
    }
  }

  .winner {
    padding: 3.5rem 2.5rem 4.5rem;
    background-color: #fafafa;

    .title {
      display: block;
      margin-bottom: 1rem;
      font-weight: 400;
    }
  }

  .wrap-label {
    .label {
      display: inline-block;
      padding: 0 0.8rem;
      height: 2.2rem;
      box-sizing: border-box;
      background-color: $fc1;
      border-radius: 10rem;
      color: $fcF;
      font-size: 0.9rem;
      line-height: 2.2rem;
      margin-bottom: 1.5rem;

      &:not(:first-child) {
        margin-left: 0.3rem;
      }
    }
  }
}

.wrap-comment {
  margin: 3.8rem 0 -3rem;
  padding: 2.8rem 2rem 6rem;
  background-color: $fcF9;
  border-top: 0.1rem solid $fcF0;
  .write-box {
    margin-top: 0.8rem;
    border: 0.1rem solid $fcE4;

    &.active {
      textarea {
        min-height: 8rem;
        transition: min-height 0.2s ease;
        line-height: 1.8rem;
      }
      .letter {
        display: block;
      }
    }

    textarea {
      height: 4.3rem;
      min-height: 4.3rem;
      padding: 1.4rem 1rem;
      background-color: $fcF;
      border: 0;
    }

    .letter {
      padding: 1.2rem 1rem 1.5rem;
      display: none;
      background-color: $fcF;
      color: $fc9;
      text-align: right;
    }
  }

  .wrap-btn {
    margin: 2rem 0 4rem;
  }

  .name {
    color: $fc1;
    font-weight: 400;
  }

  .title-sub {
    font-size: 1.3rem;

    .num {
      font-size: 1.4rem;
    }
  }

  .comment-item {
    padding: 2.8rem 1rem 2rem;
    border-bottom: 0.1rem solid $fcF0;

    .badge {
      display: inline-block;
      height: 2rem;
      padding: 0 0.8rem;
      font-size: 0.9rem;
      vertical-align: middle;
      line-height: 2rem;
    }

    .comment {
      margin-top: 0.7rem;
    }

    .date {
      display: inline-block;
      margin-top: 0.8rem;
      font-size: 1.2rem;
    }

    .edit {
      margin-top: -1rem;
      text-align: right;

      button {
        margin-left: 0.7rem;
        color: $fc9;
        font-size: 1.1rem;
        text-decoration: underline;
      }
    }
    .write-box {
      margin: 1.2rem -1rem 0;
    }
    .wrap-btn {
      margin: 2rem -1rem 0;
      .btn {
        width: calc(50% - 0.55rem);
        &:nth-child(odd) {
          margin-right: 1.1rem;
        }
      }
    }
  }
}

.event-list-wrap {
  margin-top: 3rem;
  .event-list {
    .swiper-slide {
      position: relative;
      margin-top: 3rem;
      &.end-event {
        &:before,
        &:after {
          z-index: 10;
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 0;
        }
        &:after {
          background: transparent;
          width: 100%;
          height: 100%;
        }
        &:before {
          content: "종료된 이벤트 입니다";
          box-sizing: border-box;
          height: 13.5rem;
          width: 100%;
          padding-top: 5.6rem;
          color: $fcF;
          font-size: 1.5rem;
          text-align: center;
          background: rgba(0, 0, 0, 0.7);
          border-radius: 1.6rem 0 0 0;
        }
        .state-label {
          display: none;
        }
      }

      &:first-child {
        margin-top: 0;
      }
    }
    li {
      padding-top: 3rem;
      &:first-child {
        padding-top: 0;
      }
    }
  }
  .evnet-box {
    position: relative;
    display: block;
    &.theme-ligth {
      .box-top {
        .title,
        .desc {
          color: $fc1;
        }
      }
    }
    &.theme-dark {
      .box-top {
        .title,
        .desc {
          color: $fcF;
        }
      }
    }
    .box-top {
      position: relative;
      height: 13.5rem;
      border: 0.1rem solid $fcE4;
      border-radius: 1.6rem 1.6rem 0 0;

      img {
        border-radius: 1.6rem 1.6rem 0 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        object-fit: cover;
        -webkit-object-fit: cover;
      }
      .event-label {
        position: absolute;
        top: -0.1rem;
        right: -0.1rem;
        font-size: 1.1rem;
        padding: 0.7rem 1.5rem 0.8rem;
        border-radius: 0 0 0 1.6rem;
        color: $fc1;
        background: $fcF;
      }
      .desc {
        color: $fc1;
        margin: 0.5rem 0 -1.5rem;
        font-size: 1.2rem;
      }
    }
    .box-bottom {
      position: relative;
      padding: 1.7rem 2.5rem 1.8rem;
      background: $fcF;
      border: 0.1rem solid $fcE4;
      border-top: 0 none;
      border-radius: 0 0 1.6rem 1.6rem;

      .title {
        padding-right: 4.5rem;
        color: $fc1;
        font-size: 1.5rem;
        line-height: 1.3;
      }
      .txt {
        margin: 1rem 0;
        color: $fc6;
        font-size: 1.1rem;
        line-height: 1.2;
      }
      .date {
        margin-top: 0.5rem;
        color: $fc6;
        font-size: 1.2rem;
        line-height: 1.4;
      }
      .state-label {
        font-size: 1.1rem;
        position: absolute;
        right: 2.4rem;
        top: 1.8rem;
        .bg-icon {
          width: 2.7rem;
          height: 1rem;
        }
        strong {
          font-weight: normal;
          font-size: 1.2rem;
          color: $gc3;
          position: relative;
          padding-left: 0.8rem;

          &:before {
            position: absolute;
            top: 50%;
            left: 0rem;
            width: 0.6rem;
            height: 0.1rem;
            background: $fc6;
            content: "";
          }
        }
      }
    }
  }
  .box-result {
    position: absolute;
    left: 0;
    top: 50%;
    text-align: center;
    width: 100%;
    font-size: 0;
    transform: translate(0, -50%);
    .result-label {
      box-sizing: border-box;
      display: inline-block;
      border: 0 none;
      background: rgba(0, 0, 0, 0.8);
      color: $fcF;
      height: 4rem;
      padding: 0 1.9rem;
      margin: 0 0.5rem;
      line-height: 4rem;
      border-radius: 2rem;
      font-size: 1.3rem;
    }
    .bg-icon {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
  .go-winning {
    font-size: 1.3rem;
    color: $fc6;
    margin-top: 4rem;
    text-align: center;
    text-decoration: underline;
  }
  .wrap-tab-scroll {
    margin: 0 0 2.3rem;
    padding: 0;
    &:after {
      display: none;
    }
  }
}

.coupon-cont {
  padding: 4rem 2rem 0;

  .text-guide {
    color: $fc1;
  }
  .list-coupon {
    margin-top: 3rem;
  }

  .tab-content {
    .wrap-btn {
      margin-top: 3rem;
      .btn {
        width: 100%;
        font-size: 1.5rem;
      }
      .bg-icon {
        width: 1.6rem;
        height: 1.6rem;
        margin: 0 0 0 0.5rem;
      }
    }
    .list-dot {
      margin-top: 3rem;
    }
    .list-coupon + .list-dot {
      margin-top: 2rem;
    }
  }

  .top-area {
    position: relative;
    padding: 0 1rem 3rem;
    border-bottom: 0.1rem solid $fc1;
    color: $fc1;

    strong {
      font-size: 1.7rem;
      font-weight: 400;
    }
    &:before {
      position: absolute;
      top: 0;
      right: 2rem;
      width: 4.8rem;
      height: 4.6rem;
      background: url(~assets/img/layout/icon-coupon-type1.svg) 0 0 / 100% auto no-repeat;
      content: "";
    }
  }

  .list-link {
    li {
      border-bottom: 0.1rem solid $fcF0;

      a {
        display: flex;
        align-items: center;
        position: relative;
        min-height: 8rem;
        padding: 0 2.7rem 0 1rem;
        box-sizing: border-box;
        color: $fc1;
        font-size: 1.5rem;

        &:after {
          position: absolute;
          top: 50%;
          right: 1rem;
          width: 1.2rem;
          height: 1.2rem;
          background: url(~assets/img/layout/icon-more-type2.svg) 0 0 / 100% auto no-repeat;
          transform: translateY(-50%);
          content: "";
        }
      }
      .bg-icon {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
      }
      .txt {
        margin-left: auto;
        span {
          color: $pc3;
        }
      }
    }
  }

  .desc-area {
    margin: 4rem -1rem 0 0;

    .list-dot.type1 {
      > li:not(:first-child) {
        margin-top: 2.5rem;
      }
      ul {
        margin-left: -0.5rem;
      }
    }
  }

  .list-radio {
    margin-top: 2rem;
    .left {
      font-size: 1.5rem;
    }
  }

  .form-div + .form-div {
    border-top: 0.1rem solid $fcF0;
    padding-top: 3rem;
    .title-sm {
      font-size: 1.5rem;
    }
  }

  .block-layout {
    margin: 0 -2rem;

    &:first-child {
      padding-top: 0;
    }
    .wrap-btn {
      margin-top: 1.5rem;
      text-align: center;
    }
  }

  .title-sub {
    .sub-txt {
      color: $fc9;
      font-size: 1.1rem;

      &:before {
        display: inline-block;
        margin: 0.5rem 0.3rem 0 0;
        vertical-align: middle;
        content: "*";
      }
    }
  }

  .block-layout {
    padding-bottom: 0;
    border: 0;

    &:before {
      display: none;
    }
  }
}

.wrap-coupon {
  margin: 2rem -2rem 0;
  padding: 3rem 0 3.5rem;
  background: $fcF9;
  border-top: 0.1rem solid $fcF0;

  .swiper-container {
    min-height: 21.7rem;
  }
  .swiper-wrapper {
    align-items: center;
  }
  .swiper-slide {
    width: 31.5rem;
    box-sizing: border-box;
    margin: 0 1rem;

    &:first-child {
      margin-left: 0;
    }
    &:not(.swiper-slide-active) {
      .info-type-cont {
        height: 18.6rem;
        padding-bottom: 2rem;
        .title {
          margin-top: 1rem;
          font-size: 1.3rem;
        }
        .num strong {
          font-size: 2.2rem;
        }
      }
    }
  }

  .swiper-pagination {
    position: static;
    margin-top: 2rem;
    color: $fc9;
    font-size: 0;
    .swiper-pagination-current {
      color: $fc1;
      font-size: 1.2rem;
      &:after {
        display: inline-block;
        width: 0.1rem;
        height: 0.8rem;
        margin: 0 0.5rem;
        background: $fcD7;
        content: "";
      }
    }
    .swiper-pagination-total {
      color: $fc9;
      font-size: 1.2rem;
    }
  }

  .wrap-empty {
    padding: 1rem 0 2.5rem;
  }

  &.couponLst2 {
    margin-bottom: -4rem;
    padding-bottom: 8rem;
  }
}

.top-banner {
  margin: -4rem -2rem 1rem;
  background: #3f6df9;
  text-align: center;
  img {
    width: 100%;
  }
}
