.wrap-view {
  padding-top: 4rem;

  .view-title {
    padding: 0 2rem 2rem;

    .title {
      color: $fc1;
      font-size: 1.7rem;
      font-weight: 400;
    }

    .sub-txt {
      margin-top: 0.5rem;
      font-size: 1.5rem;
    }

    .date {
      margin-top: 1.5rem;
      font-size: 1.2rem;
    }
  }

  .list-text {
    padding: 3rem 2rem 4rem;

    dt {
      color: $fc1;
      font-size: 1.5rem;

      &:not(:first-child) {
        margin-top: 2rem;
      }
    }

    dd {
      position: relative;
      margin-top: 1rem;
      padding-left: 1.2rem;

      &:before {
        position: absolute;
        top: 0.6rem;
        left: 0.4rem;
        width: 0.3rem;
        height: 0.3rem;
        background: $fc6;
        border-radius: 50%;
        content: "";
      }
    }
  }

  .view-etc {
    margin: 0 2rem;
    padding-top: 2rem;
    border-top: 0.1rem solid $fcF0;

    .title {
      display: block;
      margin-bottom: 1rem;
      color: $fc1;
      font-weight: 400;
    }
  }

  .view-terms {
    position: relative;
    padding: 4rem 2rem 3rem;
    border-top: 0.1rem solid $fcF0;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0.8rem;
      background-color: $fcF9;
      content: "";
    }
  }

  .wrap-btn {
    margin: 0 3rem 4rem;

    .btn {
      width: 100%;
    }
  }

  .winner {
    padding: 3.5rem 2.5rem 4.5rem;
    background-color: #fafafa;

    .title {
      display: block;
      margin-bottom: 1rem;
      font-weight: 400;
    }
  }

  .wrap-label {
    margin-bottom: 1.5rem;

    .label {
      display: inline-block;
      padding: 0 0.8rem;
      height: 2.2rem;
      box-sizing: border-box;
      background-color: $fc1;
      border-radius: 10rem;
      color: $fcF;
      font-size: 0.9rem;
      line-height: 2.2rem;

      &:not(:first-child) {
        margin-left: 0.3rem;
      }
    }
  }
}

.wrap-comment {
  margin: 4rem 0 -3rem;
  padding: 3rem 2rem 6rem;
  background-color: $fcF9;

  .write-box {
    margin-top: 1rem;
    border: 0.1rem solid $fcE4;

    &.active {
      textarea {
        min-height: 8.2rem;
        transition: min-height 0.2s ease;
      }
      .letter {
        display: block;
      }
    }

    textarea {
      min-height: 4.5rem;
      background-color: $fcF;
      border: 0;
    }

    .letter {
      padding: 1.2rem 1rem 1.5rem;
      display: none;
      background-color: $fcF;
      color: $fc9;
      text-align: right;
    }
  }

  .wrap-btn {
    margin: 2rem 0 4rem;
  }

  .name {
    color: $fc1;
    font-weight: 400;
  }

  .title-sub {
    font-size: 1.3rem;

    .num {
      font-size: 1.4rem;
    }
  }

  .comment-item {
    padding: 3rem 1rem;
    border-bottom: 0.1rem solid $fcF0;

    .badge {
      display: inline-block;
      padding: 0 0.7rem;
      vertical-align: middle;
      line-height: 2rem;
    }

    .comment {
      margin-top: 1rem;
    }

    .date {
      display: inline-block;
      margin-top: 1rem;
      color: $fc9;
      font-size: 1.2rem;
    }

    .edit {
      margin-bottom: -1rem;
      text-align: right;

      button {
        margin-left: 0.7rem;
        color: $fc9;
        font-size: 1.1rem;
        text-decoration: underline;
      }
    }
    .write-box {
      margin-top: 2rem;
    }
    .wrap-btn {
      margin-bottom: 0;
      .btn {
        width: calc(50% - 0.55rem);
        &:nth-child(odd) {
          margin-right: 1.1rem;
        }
      }
    }
  }
}

.event-list-wrap {
  .event-list {
    li {
      position: relative;
      margin-top: 3rem;
      &.end-event {
        &:before,
        &:after {
          z-index: 10;
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 0;
        }
        &:after {
          background: transparent;
          width: 100%;
          height: 100%;
        }
        &:before {
          content: "종료된 이벤트 입니다";
          box-sizing: border-box;
          height: 15.6rem;
          width: 100%;
          padding-top: 7rem;
          color: $fcF;
          font-size: 1.5rem;
          text-align: center;
          background: rgba(0, 0, 0, 0.7);
          border-radius: 1.6rem 1.6rem 0 0;
        }
        .state-label {
          display: none;
        }
      }
    }
  }
  .evnet-box {
    position: relative;
    display: block;
    border-radius: 1.6rem;
    &.theme-ligth {
      .box-top {
        .title,
        .desc {
          color: $fc1;
        }
      }
    }
    &.theme-dark {
      .box-top {
        .title,
        .desc {
          color: $fcF;
        }
      }
    }
    .box-top {
      position: relative;
      height: 15.6rem;
      img {
        border-radius: 1.6rem 1.6rem 0 0;
        // position: absolute;
        // left: 0;
        // bottom: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        object-fit: cover;
        -webkit-object-fit: cover;
      }
      .event-label {
        position: absolute;
        top: -0.1rem;
        right: -0.1rem;
        font-size: 1.1rem;
        padding: 0.7rem 1.5rem 1rem;
        border-radius: 0 0 0 1.6rem;
        color: $fc1;
        background: $fcF;
      }
      .desc {
        color: $fc1;
        margin: 0.5rem 0 -1.5rem;
        font-size: 1.2rem;
      }
    }
    .box-bottom {
      position: relative;
      padding: 2rem 2.5rem;
      border: 0.1rem solid $fcE4;
      border-top: 0 none;
      border-radius: 0 0 1.6rem 1.6rem;

      .title {
        font-size: 1.5rem;
        color: $fc1;
      }
      .date {
        margin-top: 1rem;
        font-size: 1.2rem;
        color: $fc6;
      }
      .state-label {
        font-size: 1.1rem;
        position: absolute;
        right: 2rem;
        top: 1.4rem;
        .bg-icon {
          width: 2.516rem;
          height: 0.85rem;
        }
        strong {
          font-weight: normal;
          font-size: 1.2rem;
          color: $gc3;
        }
      }
    }
  }
  .box-result {
    position: absolute;
    left: 0;
    top: 50%;
    text-align: center;
    width: 100%;
    font-size: 0;
    transform: translate(0, -50%);
    .result-label {
      box-sizing: border-box;
      display: inline-block;
      border: 0 none;
      background: rgba(0, 0, 0, 0.8);
      color: $fcF;
      height: 4rem;
      padding: 0 1.9rem;
      margin: 0 0.5rem;
      line-height: 4rem;
      border-radius: 2rem;
      font-size: 1.3rem;
    }
    .bg-icon {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
  .go-winning {
    font-size: 1.3rem;
    color: #999;
    margin-top: 4rem;
    text-align: center;
  }
  .wrap-tab-scroll {
    padding-bottom: 0;
    &:after {
      display: none;
    }
  }
}
