// 버튼
a {
  display: inline-block;
}
.btn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  height: 5rem;
  padding: 0 3.9rem;
  border: 0.1rem solid $fc1;
  border-radius: 2.5rem;
  background-color: $fcF;
  line-height: 5rem;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: $fc1;
  font-size: 1.3rem;

  .bg-icon {
    width: 2rem;
    height: 2rem;
    margin: -0.4rem 0.4rem 0 0;
  }

  // 버튼 타입
  &.size1 {
    height: 4rem;
    padding: 0 1.9rem;
    line-height: 4rem;
    border-radius: 2rem;
    font-size: 1.3rem;
  }

  &.type1 {
    border-style: dashed;
    border-color: $fc9;
    font-size: 1.3rem;

    &:before {
      content: "";
      display: inline-block;
      width: 0.6rem;
      height: 0.6rem;
      margin: 0 0.6rem;
      background: url(~assets/img/layout/icon-more-type1.svg) 0 0 / 100% auto no-repeat;
      vertical-align: 0.2rem;
    }
  }

  &.type2 {
    width: 100%;
    height: 5.5rem;
    font-size: 1.7rem;
    line-height: 5.4rem;
    border-radius: 0;
  }
  &.type3 {
    width: 100%;
    height: 4rem;
    font-size: 1.3rem;
    line-height: 3.8rem;
    border-radius: 0;
  }

  &.type4 {
    border-style: dotted;
    border-color: $fc9;
    font-size: 1.3rem;
    &:before {
      content: "";
      display: inline-block;
      width: 0.6rem;
      height: 0.6rem;
      margin: 0 0.6rem;
      background: url(~assets/img/layout/icon-more-type1.svg) 0 0 / 100% auto no-repeat;
      vertical-align: 0.2rem;
    }
  }

  // 버튼 컬러
  &.color1 {
    color: $fcF;
    border-color: $fc1;
    background-color: $fc1;
  }

  &.color2 {
    color: $fc6;
    border-color: $fcE4;
    background-color: $fcE4;
  }

  &.color3 {
    color: $fc1;
    border-color: $fcE4;
    background-color: $fcF;
    font-size: 1.3rem;
  }

  &.color4 {
    color: $fcF;
    border-color: $pc3;
    background-color: $pc3;
  }

  &.color5 {
    color: $fcF;
    border-color: $pc1;
    background-color: $pc1;
  }
  &.color6 {
    color: $fcF;
    border-color: $fc6;
    background-color: $fc6;
  }
  &.color7 {
    border-color: $fcE4;
    background-color: $fcF0;
  }

  &.color11 {
    border: 0;
    color: $fcF;
    background: linear-gradient(to right, $gc1 0%, $gc2 100%);
  }

  &.color12 {
    border: 0;
    color: $fcF;
    background: linear-gradient(to right, $gc3 0%, $gc4 100%);
  }

  &:disabled,
  &[disabled] {
    color: $fcF;
    border-color: $fcD7;
    background-color: $fcD7;
  }
}

// icon 버튼
.btn-search {
  .bg-icon {
    width: 2rem;
    height: 2rem;
  }
}

.btn-clear-x {
  .bg-icon {
    width: 1.6rem;
    height: 1.6rem;
  }
}

.btn-download {
  .bg-icon {
    width: 2rem;
    height: 2rem;
  }
}

.btn-info {
  .bg-icon {
    width: 1.6rem;
    height: 1.6rem;
  }
}
.btn-add {
  .bg-icon {
    width: 2rem;
    height: 2rem;
  }
}

.btn-arrow {
  font-size: 1.1rem;
  color: $fc1;
  line-height: 1.1rem;

  &:after {
    content: "";
    margin-left: 0.3rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: url(~assets/img/layout/icon-arrow-left-black.svg) no-repeat 0 0;
    background-size: 1rem auto;
    vertical-align: top;
  }

  &.blue {
    color: $pc3;
    &:after {
      background: url(~assets/img/layout/icon-arrow-left-blue.svg) no-repeat 0 0;
      background-size: 1rem auto;
    }

    .txt-under {
      border-color: $pc3;
    }
  }

  &.type1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    &:after {
      width: 1.3rem;
      height: 1.3rem;
      background-size: 1.3rem auto;
    }
  }

  &.type2 {
    font-size: 1.3rem;
    line-height: 1.3rem;
    &:after {
      width: 1.2rem;
      height: 1.2rem;
      background: url(~assets/img/layout/icon-arrow-left-black.svg) 0 0 / 100% auto no-repeat;
    }
  }

  &.size1 {
    font-size: 1.3rem;
    line-height: 1.4;
    &:after {
      vertical-align: middle;
    }
  }

  &.type3 {
    font-size: 1.3rem;
    line-height: 1.2;
    &:after {
      margin-top: 0.3rem;
      margin-left: 0.5rem;
      background: url(~assets/img/layout/icon-arrow-btm2.svg) 0 0 / 100% auto no-repeat;
    }
    &.active {
      &:after {
        transform: rotate(180deg);
      }
    }
  }

  &.color1 {
    color: $fc6;
    .txt-under {
      border-color: $fc6;
    }
  }
  .txt-under {
    text-decoration: none;
    border-bottom: 0.1rem solid $fc1;
  }
}
.btn-delete {
  font-size: 1.1rem;
  &:before {
    content: "";
    margin-right: 0.5rem;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background: url(~assets/img/layout/icon-trashcan.svg) no-repeat 0 0;
    background-size: 1.2rem auto;
    vertical-align: top;
  }
  &.type1 {
    font-size: 1.3rem;
    color: $fc1;
    &:before {
      margin-top: -0.1rem;
      margin-right: 0.3rem;
      width: 1.6rem;
      height: 1.6rem;
      background: url(~assets/img/layout/icon-review-del.svg) no-repeat 0 0;
      background-size: 1.6rem auto;
      vertical-align: top;
    }
  }
}
.btn-chk-ok {
  font-size: 1.1rem;
  color: $pc3;
  &:before {
    content: "";
    margin-right: 0.5rem;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background: url(~assets/img/layout/icon-chk-blue.svg) no-repeat 0 0;
    background-size: 1.2rem auto;
    vertical-align: top;
  }
}
.btn-attach {
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: $fc1;
  .bg-icon {
    margin-right: 0.5rem;
    width: 1.6rem;
    height: 1.6rem;
    vertical-align: top;
  }
}
.btn-drpomenu {
  padding: 0.5rem 0.5rem;
  .bg-icon {
    width: 2rem;
    height: 2rem;
    background-size: 100%;
  }
}
.btn-link {
  font-size: 1.1rem;
  color: $fc9;
  border-bottom: 0.1rem solid $fc9;
  &.type1 {
    font-size: 1.3rem;
    color: $fc1;
    border-bottom-color: $fc1;
  }
  &.type2 {
    font-size: 1.5rem;
    color: $fc6;
    border-bottom-color: $fc6;
  }
  &.color1 {
    color: $pc3;
    border-bottom-color: $pc3;
  }
}
.btn-x-black {
  width: 3.6rem;
  height: 3.6rem;
  background: $fc1;
  border-radius: 50%;
  .bg-icon {
    width: 3.6rem;
    height: 3.6rem;
    background: url(~assets/img/layout/icon-close.svg) 50% 50% / 1.6rem 1.6rem no-repeat;
    filter: brightness(30);
  }
}
.btn-refresh {
  font-size: 1.5rem;
  color: $fc1;
}
.btn-box-arrow {
  padding-left: 2rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.5rem;
  text-align: left;
  background: $fcF;
  border: 0.1rem solid $fcE4;
  &:after {
    content: "";
    margin: 0 1.5rem 0 auto;
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    background: url(~assets/img/layout/icon-arrow-left.svg) no-repeat 0 0;
    background-size: 1.3rem auto;
    vertical-align: top;
  }
}
//버튼 레이아웃
.btn-area {
  margin-top: 3.5rem;
  text-align: center;
  &.grid {
    display: flex;
    flex-wrap: wrap;
    button {
      flex: 1;

      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }

  &.line-st {
    button {
      &:nth-child(odd) {
        border-right: 0.1rem dotted $fc70;
      }
      &:nth-child(even) {
        border-left: 0.1rem solid $fc70;
      }
    }
  }
}

.btn-floating {
  display: inline-block;
  height: 4rem;
  padding: 0 1.5rem;
  background: rgba($fc1, 0.85%);
  border-radius: 2.5rem;
  color: $fcF;
  font-size: 1.3rem;
  line-height: 4rem;

  .bg-icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 0.5rem;

    &.more {
      filter: brightness(30);
    }
  }
}

.wrap-floating {
  position: fixed;
  bottom: 8.5rem;
  right: 2rem;
  z-index: 30;
}
