input,
button,
select,
textarea,
[contenteditable="true"] {
  &:focus {
    outline: none;
  }
}

input[type="number"],
input[type="date"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="file"],
input[type="tel"],
textarea {
  display: inline-block;
  width: 100%;
  height: 4.5rem;
  padding: 0 3rem 0 1rem;
  box-sizing: border-box;
  background-color: $fcF9;
  border: 0.1rem solid $fcF0;
  color: $fc1;
  &::placeholder {
    color: $fc9;
  }
}
textarea {
  min-height: 12rem;
  padding: 1.5rem 1rem;
  resize: none;
}
select[disabled],
select:disabled {
  background-color: #e5e5e5;
  opacity: 0.3;
}

.form-input {
  position: relative;

  .btn-clear-x {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
  }
  .form-more-msg {
    padding: 1rem 0 0 1rem;
    font-size: 1.1rem;
    color: $fc9;
    .more-number {
      position: relative;
      display: inline-block;
      vertical-align: top;
      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        padding-left: 0.5rem;
        margin: 0 0 0 0.5rem;
        height: 0.7rem;
        border-left: 0.1rem dotted $fc9;
      }
    }
  }
}

.form-text-area {
  position: relative;
  padding: 1.5rem 1rem 4.5rem;
  background: $fcF9;
  border: 0.1rem solid $fcF0;
  textarea {
    padding: 0;
    border: none;
  }
  .text-length {
    color: $fc9;
    font-size: 1.3rem;
    position: absolute;
    right: 1rem;
    bottom: 1.5rem;
    strong {
      font-weight: normal;
      &.active {
        color: $fc1;
      }
    }
  }
}

.select {
  width: 100%;
  height: 4.5rem;
  padding: 0 3rem 0 0.9rem;
  background: url(~assets/img/layout/icon-toggle.svg) right 1rem center / 1.2rem 1.2rem no-repeat;
  border: 0.1rem solid $fcE4;
  color: $fc1;
  &:not(:focus):invalid {
    color: $fc9;
  }
  option:first-of-type {
    color: $fc9;
  }

  &.type1 {
    padding: 0 1rem;
    color: $fc1;
    border: none;
    border-bottom: 0.1rem solid $fcE4;
  }
  &.type2 {
    padding: 0 3rem 0 1rem;
    width: auto;
    color: $fc1;
    border: none;
  }
}

.wrap-checkbox {
  display: flex;
  flex-wrap: wrap;

  .checkbox {
    margin: 1rem 1rem 0 0;
  }
}

.tab-checkbox {
  font-size: 0;
  padding: 2.5rem 1rem 1.5rem;
  .checkbox {
    margin-left: 2rem;
    font-size: 1.5rem;
    &:first-child {
      margin-left: 0;
    }
  }
}
.tab-checkbox-cont {
  padding: 0 1rem;
  .checkbox-cont {
    &.active {
      display: block;
    }
    .right-txt {
      input {
        text-align: right;
        padding-right: 1rem;
      }
    }
    display: none;
  }
  .form-input {
    & + .wrap-checkbox {
      margin-top: 1.5rem;
    }
  }
  .wrap-checkbox {
    .btn {
      flex: 1;
      margin: 0;
      width: 100%;
      &.active {
        border-color: $fc1;
        background-color: $fc1;
        color: $fcF;
      }
    }
    .checkbox {
      flex: 1;
      label {
        margin: 0;
        width: 100%;
      }
    }
  }
}

.checkbox {
  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    clip: rect(0 0 0 0);
  }

  label {
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.2s ease;
  }

  &.type1 {
    display: inline-block;
    position: relative;

    &:nth-of-type(4n) {
      margin-right: 0;
    }

    label {
      height: 4rem;
      padding: 0 1.9rem;
      background: $fcF0;
      border: 0.1rem solid $fcE4;
      border-radius: 10rem;
      line-height: 4rem;
      text-align: center;
    }

    input[type="checkbox"]:checked + label,
    input[type="radio"]:checked + label {
      background: $fc1;
      border-color: $fc1;
      color: $fcF;
      border-color: $fc1;
    }
  }

  &.type2 {
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    label {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      height: 5.5rem;
      padding: 0 3rem;
      background-color: $fcF9;
      border: 0.1rem solid $fcE4;
      border-radius: 5rem;
      color: $fc9;

      .left {
        display: flex;
        align-items: center;

        &:before {
          display: inline-block;
          width: 0.6rem;
          height: 0.6rem;
          margin-right: 0.9rem;
          background-color: $fcF;
          border: 0.7rem solid $fcE4;
          border-radius: 50%;
          vertical-align: middle;
          transition: all 0.2s ease;
          content: "";
        }
      }
    }

    input[type="checkbox"]:checked + label,
    input[type="radio"]:checked + label {
      background-color: $fcF;
      border: 0.1rem solid $fc1;
      color: $fc1;

      .left {
        &:before {
          border-color: $fc1;
        }
      }
    }
  }

  &.type3 {
    label {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      width: 4rem;
      height: 7rem;
      border-radius: 4rem;
      text-align: center;
      transition: all 0.2s ease;
    }

    input[type="radio"]:checked + label {
      background-color: $fc1;

      span {
        color: $fcF;
      }

      .date:after {
        border-color: $fcF;
      }
    }
  }

  &.type4 {
    display: inline-block;

    label {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      background-color: $fcF;
      border: 0 none;
      color: $fc9;

      .left {
        display: flex;
        align-items: center;

        &:before {
          display: inline-block;
          width: 0.6rem;
          height: 0.6rem;
          margin-right: 0.9rem;
          background-color: $fcF;
          border: 0.7rem solid $fcE4;
          border-radius: 50%;
          vertical-align: middle;
          transition: all 0.2s ease;
          content: "";
        }
      }
    }
    input[type="checkbox"] + label {
      .left {
        &:before {
          width: 2rem;
          height: 2rem;
          border-radius: 0;
          border: none;
          background: $fcE4 url(../~assets/img/layout/icon-checkbox.svg) no-repeat center center / 2rem auto;
          transition: background 0.2s ease;
        }
      }
    }
    input[type="checkbox"]:checked + label {
      .left {
        &:before {
          background: $fc1 url(../~assets/img/layout/icon-checkbox-on.svg) no-repeat center center / 2rem auto;
          transition: background 0.2s ease;
        }
      }
    }
    input[type="radio"]:checked + label {
      background-color: $fcF;
      border: 0 none;
      color: $fc1;

      .left {
        &:before {
          border-color: $fc1;
        }
      }
    }
  }

  &.type5 {
    display: inline-block;

    label {
      position: relative;
      height: 3.2rem;
      margin: 0;
      padding: 0 1.6rem 0 2.4rem;
      background-color: $fcF;
      border: 0.1rem solid $fcE4;
      border-radius: 10rem;
      color: $fc9;
      line-height: 3rem;

      &:before {
        position: absolute;
        top: 0.8rem;
        left: 0.8rem;
        width: 1.2rem;
        height: 1.2rem;
        background: url(~assets/img/layout/icon-chk-off.svg) 0 0 / 100% auto no-repeat;
        content: "";
      }
    }

    input[type="checkbox"]:checked + label,
    input[type="radio"]:checked + label {
      background-color: $fc1;
      border-color: $fc1;
      color: $fcF;

      &:before {
        filter: brightness(10);
      }
    }
  }
}

.input-spinner {
  position: relative;
  height: 5.8rem;
  margin-bottom: 2rem;
  padding: 0 5.6rem;
  background: $fcF9;
  border: 0.1rem solid $fcF0;
  border-radius: 5rem;

  button {
    position: absolute;
    top: 0.05rem;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    box-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.08);
    @include blind();

    &.minus {
      left: 0;
      background: $fc1 url(~assets/img/layout/icon-minus.svg) 50% 50% / 1.2rem no-repeat;
    }

    &.plus {
      right: 0;
      background: $fc1 url(~assets/img/layout/icon-plus.svg) 50% 50% / 1.2rem no-repeat;
    }
    &:disabled {
      background-color: $fcF0;
    }
  }

  .input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5.8rem;

    input[type="number"] {
      width: 5rem;
      padding: 0;
      border: 0;
      color: $fc1;
      font-size: 2.4rem;
      text-align: right;
    }

    p {
      padding-left: 0.1rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: $fc1;

      span {
        padding-left: 0.5rem;
        font-size: 1.3rem;
        color: $fc9;
        font-weight: normal;
      }
    }
  }
}

input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  background: url(~assets/img/layout/icon-checkbox.svg) 0 0 / 100% auto no-repeat;
  transition: all 0.2s ease;

  &:checked {
    background: url(~assets/img/layout/icon-checkbox-on.svg) 0 0 / 100% auto no-repeat;
  }

  & + label {
    margin-left: 0.6rem;
    color: $fc1;
    line-height: 1.5;
  }
}

.checkbox-st {
  position: relative;
  padding-left: 3rem;

  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
  }
  input[type="checkbox"] + label {
    margin-left: 0;
    display: flex;
    justify-content: space-between;
  }
  input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
  }
  input[type="radio"] + label {
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    &:before {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 0.6rem;
      height: 0.6rem;
      margin-right: 0.9rem;
      background-color: $fcF;
      border: 0.7rem solid $fcE4;
      border-radius: 50%;
      transition: all 0.2s ease;
      content: "";
    }
  }

  input[type="radio"]:checked + label {
    &:before {
      border-color: $fc1;
    }
  }

  .label-tit {
    color: $fc1;
    button {
      margin-left: 0.6rem;
    }
  }
  .sub-txt {
    margin-top: 0.45rem;
    font-size: 1.1rem;
    color: $fc6;
    .dotted-list {
      li {
        color: $fc6;
        &:before {
          background-color: $fc6;
        }
      }
    }
  }
}
.checkbox-spinner {
  input[type="checkbox"] {
    position: absolute;
    left: -9999rem;
    width: 0;
    height: 0;
    opacity: 0;
    font-size: 0;
  }
  input[type="checkbox"] + label {
    position: relative;
    margin: 0;
    padding: 0.6rem 3rem 0.6rem 1.2rem;
    display: inline-block;
    font-size: 1.1rem;
    line-height: 1;
    color: $fc9;
    background: $fcF;
    border: 0.1rem solid $fcD7;
    border-radius: 1.25rem;
    transition: padding 0.2s, color 0.2s, background 0.2s, border-color 0.2s, box-shadow 0.2s;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 2.3rem;
      height: 2.3rem;
      z-index: 1;
      background: $fcF;
      border: 0.1rem solid $fcD7;
      border-radius: 50%;
      box-sizing: border-box;
      transition: right 0.2s, border-color 0.2s, box-shadow 0.2s;
    }
  }
  input[type="checkbox"]:checked + label {
    padding: 0.6rem 1.2rem 0.6rem 3rem;
    color: $fc1;
    background: $pc2;
    border-color: $pc6;
    transition: padding 0.2s, color 0.2s, background 0.2s, border-color 0.2s, box-shadow 0.2s;
    &:before {
      right: calc(100% - 2.3rem);
      border-color: $pc6;
      box-shadow: 0.1rem 0 0.2rem 0 rgba(252, 203, 58, 1);
      transition: right 0.2s, border-color 0.2s, box-shadow 0.2s;
    }
  }

  &.type1 {
    input[type="checkbox"] + label {
      padding: 0;
      width: 5rem;
      height: 2rem;
      border-radius: 1rem;
      background: $fc9;
      box-sizing: border-box;
      transition: background 0.2s;

      &:before {
        top: -0.6rem;
        left: -0.1rem;
        right: auto;
        width: 3rem;
        height: 3rem;
        border-color: $fcF0;
        box-shadow: 0.1rem 0 0.2rem 0 rgba(0, 0, 0, 0.16);
        transition: left 0.2s, border-color 0.2s, box-shadow 0.2s;
      }
    }

    input[type="checkbox"]:checked + label {
      background: $pc3;
      border-color: $pc3;

      &:before {
        left: calc(100% - 2.9rem);
        border-color: $fcF0;
        transition: left 0.2s, border-color 0.2s, box-shadow 0.2s;
      }
    }
  }

  &.color1 {
    input[type="checkbox"] + label {
      background: $fcD7;
    }
  }
}
.checkbox-btn {
  input[type="checkbox"] {
    position: absolute;
    left: -9999rem;
    width: 0;
    height: 0;
    opacity: 0;
    font-size: 0;
  }
  input[type="checkbox"] + label {
    position: relative;
    margin: 0;
    padding: 0.6rem 1.2rem 0.6rem 3rem;
    display: inline-block;
    font-size: 1.1rem;
    line-height: 1;
    color: $fc9;
    background: $fcF9;
    border: 0.1rem solid $fcD7;
    border-radius: 1.25rem;
    transition: color 0.2s, background 0.2s, border-color 0.2s, box-shadow 0.2s;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 2.3rem;
      height: 2.3rem;
      z-index: 1;
      background: $fcF url(../~assets/img/layout/icon-chk-off.svg) no-repeat center center;
      background-size: 1.2rem auto;
      border: 0.1rem solid $fcD7;
      border-radius: 50%;
      box-sizing: border-box;
      transition: right 0.2s, border-color 0.2s, box-shadow 0.2s;
    }
  }
  input[type="checkbox"]:checked + label {
    color: $fc1;
    background: $pc2;
    border-color: $pc6;
    transition: color 0.2s, background 0.2s, border-color 0.2s, box-shadow 0.2s;
    &:before {
      background: $fcF url(../~assets/img/layout/icon-chk-on.svg) no-repeat center center;
      background-size: 1.2rem auto;
      border-color: $pc6;
      box-shadow: 0.1rem 0 0.2rem 0 rgba(252, 203, 58, 1);
      transition: right 0.2s, border-color 0.2s, box-shadow 0.2s;
    }
  }
}

.checkbox-cycle {
  input[type="checkbox"] {
    width: 2.3rem;
    height: 2.3rem;
    background: url(~assets/img/layout/icon-chk-cycle.svg) 0 0/100% auto no-repeat;

    &:checked {
      background: url(~assets/img/layout/icon-chk-cycle-on.svg) 0 0/100% auto no-repeat;
    }
  }

  input[type="radio"] {
    width: 2.3rem;
    height: 2.3rem;
    background: url(~assets/img/layout/icon-chk-cycle.svg) 0 0/100% auto no-repeat;
    transition: all 0.2s ease;

    &:checked {
      background: url(~assets/img/layout/icon-chk-cycle-on.svg) 0 0/100% auto no-repeat;
    }
  }
}

.form-div {
  &.type1 {
    padding-bottom: 2.5rem;
    border-bottom: 0.1rem solid $fcF0;

    .title-sm {
      margin-bottom: 0;
    }
  }

  .title {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: $fc1;
    & + .form-search {
      padding-top: 0.4rem;
    }
    .col-pc3 {
      color: $pc3;
    }
    .asterisk-mark {
      margin-left: 0;
    }
  }
  .title-sm {
    margin-bottom: 1rem;
    color: $fc1;
    line-height: 1;
  }
  & + .form-div {
    margin-top: 3rem;
  }

  .list-dot.color1 {
    margin: 3rem 0 4rem;

    li {
      font-size: 1.3rem;
    }
    .tel {
      border-bottom: 0.1rem solid;
    }
  }

  .btn-area {
    margin-top: 4rem;
  }

  .txt-area {
    margin-top: 2.5rem;
    text-align: center;

    .btn-arrow {
      margin-top: 1rem;
      font-size: 1.3rem;
      text-decoration: underline;
    }
  }
}
// 검색화면
.form-search {
  position: relative;

  input {
    padding: 0 7rem 0 1rem;
    width: 100%;
    height: 4.5rem;
    line-height: 1;
    font-size: 1.5rem;
    color: $fc1;
    background-color: $fcF;
    border: 0;
    border-bottom: 0.2rem solid $fc1;

    &::placeholder {
      font-size: 1.5rem;
      color: $fc9;
    }
  }

  .btn-clear-x {
    position: absolute;
    top: 50%;
    right: 4.5rem;
    transform: translate(0, -50%);
  }

  .btn-search {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 1rem;
    transform: translate3D(0, -50%, 0);
  }
}

// 드롭다운
.dropdown-area {
  position: relative;
  z-index: 6;
  &.active {
    .drop-menu {
      display: block;
    }
  }
  .drop-menu {
    position: absolute;
    top: 3.5rem;
    right: 0.5rem;
    display: none;
    min-width: 15.8rem;
    background: $fcF;
    border: 0.1rem solid $fcD7;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.08%);

    li {
      &:not(:first-child) {
        border-top: 0.1rem solid $fcF0;
      }
    }
    button {
      position: relative;
      padding: 0 4rem 0 1.5rem;
      width: 100%;
      height: 4.5rem;
      color: $fc1;
      white-space: nowrap;
      text-align: left;
      .bg-icon {
        position: absolute;
        top: 50%;
        right: 1.55rem;
        width: 1.6rem;
        height: 1.6rem;
        transform: translate(0, -50%);
      }
    }
  }
}

//카드번호 인풋
.form-cardnumber {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.5rem;
  padding: 0 3.6rem 0 1rem;
  box-sizing: border-box;
  background-color: $fcF9;
  border: 0.1rem solid $fcF0;
  color: $fc1;
  input {
    width: 5.4rem;
    padding: 1rem;
    text-align: center;
    border: none;
    background: none;
  }
  span {
    color: $fc9;
  }
}

.form-list {
  .title {
    font-size: 1.5rem;
    color: $fc1;

    .req {
      padding-left: 0.3rem;
      font-size: 1.1rem;
      color: $gc3;
    }
  }

  .wrap-check {
    margin: 2rem 0 0 1rem;
  }

  .checkbox {
    margin-right: 2rem;

    label {
      font-size: 1.5rem;
    }
  }

  .txt-guide {
    position: relative;
    margin-top: 1rem;
    padding-left: 1.2rem;
    color: $gc3;
    font-size: 1.1rem;

    &:before {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      width: 0.2rem;
      height: 0.2rem;
      background: $gc3;
      content: "";
    }
  }

  &.type1 {
    .title {
      margin-bottom: 1rem;
    }

    li:not(:first-child) {
      margin-top: 3rem;
    }
  }

  & + .btn-area {
    margin-top: 4rem;

    .btn {
      font-size: 1.5rem;
    }
  }
}
