//header
.isDetail {
  .header {
    height: auto;
    z-index: 31;
    .title {
      display: none;
    }
    .left,
    .right {
      top: 0;
      transform: translateY(0);
      .prev {
        background-image: url(~assets/img/layout/icon-prev-white.png);
      }
      .menu {
        background-image: url(~assets/img/layout/icon-hamburg-white.png);
      }
    }
  }
}

.header {
  position: sticky;
  z-index: 31;
  height: 5.5rem;
  box-sizing: border-box;
  background-color: $fcF;
  border-bottom: 0.1rem solid $fcF0;

  &.isDetail {
    background: transparent;
    border-bottom: 0 none;
    & ~ .wrap-contents {
      margin-top: -5.5rem;
    }
    .title {
      display: none;
    }
    .prev {
      background-image: url(~assets/img/layout/icon-prev-white.png);
    }
    .menu {
      background-image: url(~assets/img/layout/icon-hamburg-white.png);
    }
  }

  .title {
    height: 5.5rem;
    padding: 0 4rem;
    box-sizing: border-box;
    font-size: 1.8rem;
    color: $fc1;
    text-align: center;
    line-height: 5.5rem;
    @include clamp(1);

    a,
    button {
      display: inline-block;
      max-width: 100%;
      box-sizing: border-box;
      padding-right: 1.7rem;
      background: url(~assets/img/layout/icon-toggle.png) 100% 50% / 1.2rem 1.2rem no-repeat;
      @include clamp(1);
    }
  }

  .left,
  .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  .btn-txt {
    height: 4rem;
    padding-right: 1.2rem;
    text-align: right;
    line-height: 4rem;
    color: $fcF;
    .num {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      border-radius: 50%;
      background: $pc3;
      text-align: center;
      font-size: 1.1rem;
      margin-right: 0.5rem;
    }
  }

  .bg-icon {
    width: 4rem;
    height: 4rem;
    background-size: 2rem 2rem;
    @include blind();
  }

  &.header-popup {
    background-color: $fc1;
    border: 0;

    .title {
      color: $fcF;
    }

    .bg-icon {
      filter: brightness(30);
    }
  }

  &.header-menu {
    border: 0;

    .right {
      right: 1rem;
    }

    button {
      position: relative;
    }

    .badge {
      position: absolute;
      top: 0.9rem;
      left: 0.4rem;
      min-width: 1.6rem;
      height: 1.6rem;
      margin: 0;
      padding: 0;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.6rem;
    }
  }
}
