.review-top {
  padding: 3rem 2rem;
  background: $fcF9;
  border-bottom: 0.1rem solid $fcE4;
  .title {
    font-size: 1.5rem;
    color: $fc1;
    .num {
      color: $pc3;
    }
  }
  .link-msg-box {
    margin: 1.5rem 0 0;
    a {
      display: block;
    }
  }
}

.edit-layer {
  position: absolute;
  right: 0;
  top: 0;
  .more {
    font-size: 0;
    .bg-icon {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
  .edite-box {
    display: none;
    position: absolute;
    right: 0;
    top: 2.5rem;
    border: 0.1rem solid $fcD7;
    background: $fcF;
    color: $fc1;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.08%);
    &.active {
      display: block;
    }
    li {
      border-top: 0.1rem solid $fcF0;
    }
    li:first-child {
      border-top: 0 none;
    }
    button {
      position: relative;
      display: block;
      width: 100%;
      padding: 1.5rem 7rem 1.5rem 1.5rem;
      text-align: left;
      .bg-icon {
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }
}

.review-cont {
  background: $fcF;
  .review-row {
    padding: 4rem 2rem 3.5rem;
    box-sizing: border-box;
    border-top: 0.8rem solid $fcF9;
    border-bottom: 0.1rem solid $fcF0;
    &:first-child {
      border-top: 0 none;
    }
    &:last-child {
      border-bottom: 0 none;
    }
    &.type-apply {
      border: 0.1rem solid $fcD7;
      border-radius: 1.6rem;
      margin: 3rem 2rem 0;
      padding: 3rem 2.5rem;
      &:last-child {
        margin-bottom: 3rem;
      }
    }
    .top-row {
      padding-bottom: 2rem;
    }
    .body-row {
      padding-top: 2rem;
      border-top: 0.1rem solid $fcF0;
    }
    .blind-row {
      .wrap-empty {
        padding-top: 1rem;
      }
    }
  }
  .label-area {
    display: flex;
    padding-bottom: 1rem;
    .label {
      display: inline-block;
      box-sizing: border-box;
      vertical-align: top;
      text-align: center;
      min-width: 4.6rem;
      padding: 0 1rem;
      line-height: 2rem;
      font-size: 0.9rem;
      border: 0.1rem solid $fcD7;
      border-radius: 1rem;
      &.type-1 {
        color: $pc3;
      }
      &.type-2 {
        border-color: $gc3;
        color: $gc3;
      }
    }
  }
  .title-area {
    position: relative;
    color: $fc1;
    .title {
      font-size: 1.7rem;
      padding-right: 1.6rem;
      .bg-icon {
        width: 1.2rem;
        height: 1.2rem;
        vertical-align: top;
        margin: 0.5rem 0 0 0.3rem;
      }
    }
    .desc {
      margin-top: 0.6rem;
      font-size: 1.5rem;
    }
    .option {
      margin-top: 0.3rem;
      color: $fc6;
    }
  }
  .rating-area {
    overflow: hidden;
    .rating-box {
      float: left;
    }
    .date {
      float: right;
      font-size: 1.2rem;
      color: $fc6;
    }
  }
  .comment-area {
    margin-top: 1rem;
    .comment {
      @include clamp(2);
    }
  }
  .reply-area {
    margin-top: 1.5rem;
    padding: 2rem;
    border: 0.1rem solid $fcF0;
    background: $fcF9;
    .title {
      color: $fc1;
      padding-bottom: 0.6rem;
      .bg-icon {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.3rem;
      }
    }
    .comment {
      @include clamp(2);
    }
    .date {
      text-align: right;
      font-size: 1.2rem;
      padding-top: 0.6rem;
    }
  }
  .apply-row {
    padding: 4rem 2rem 0;
    text-align: center;
    .title {
      padding: 0;
      font-size: 1.8rem;
    }
    .review-info-box {
      border: 0 none;
      margin-top: 2rem;
      .rating {
        height: auto;
        width: auto;
        margin-top: 0.5rem;
        background: none;
        .star {
          width: 3rem;
          height: 3rem;
          display: inline-block;
          background: url(~assets/img/layout/icon-review-apply-star.png) 0 0.2rem / 3rem 3rem no-repeat;
          &.active {
            background-image: url(~assets/img/layout/icon-review-apply-star-active.png);
          }
        }
      }
      .num {
        display: block;
        margin-top: 0.3rem;
        font-size: 2.4rem;
      }
    }
    .form-text-area {
      margin-top: 1.5rem;
      background: $fcF;
      textarea {
        background: $fcF;
        min-height: 18rem;
      }
    }
    .attention-info {
      margin: 3rem 0 0;
      padding: 1.5rem 0 0;
      border-top: 0.1rem solid $fcF0;
      text-align: left;
      .title {
        color: $fc1;
        font-size: 1.3rem;
      }
      .dotted-list {
        margin: 0.3rem 0 4rem;
        li {
          color: $fc6;
          font-size: 1.1rem;
        }
      }
    }
    .label-area {
      justify-content: center;
    }
  }
  .img-wrap {
    margin-top: 1rem;
    img {
      width: 100%;
    }
  }
  .apply {
    width: 100%;
  }
}
.review-add-img {
  overflow: hidden;
  margin-top: 1rem;
  .img-list {
    margin-left: -0.5rem;
    display: flex;
    li {
      flex: 1;
      position: relative;
      margin-left: 0.5rem;
      width: 8rem;
      height: 8rem;
      img {
        height: 100%;
        object-fit: cover;
        -webkit-object-fit: cover;
      }
      .remove {
        position: absolute;
        right: 0.4rem;
        top: 0.5rem;
        width: 1.6rem;
        height: 1.6rem;
      }
      .more-num {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.16);
        color: $fcF;
        font-size: 1.6rem;
        text-align: center;
        line-height: 7.5rem;
      }
      .no-add-img {
        position: relative;
        display: block;
        height: 100%;
        border: 0.1rem solid $fcE4;
        box-sizing: border-box;
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          width: 2rem;
          height: 2rem;
          background: url(~assets/img/layout/icon-plus02.png) no-repeat 0 0;
          background-size: 100% auto;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  .btn-add-photo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 8rem;
    border: 0.1rem solid $fcE4;
    box-sizing: border-box;
    color: $fc1;
    input[type="file"] {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
    .photo {
      width: 2.4rem;
      height: 2.4rem;
    }
    .num {
      display: block;
      width: 100%;
      margin-top: 0.3rem;
      text-align: center;
    }
  }
}
.dotted-list {
  li {
    position: relative;
    padding-left: 1.2rem;
    color: $fc1;
    margin-top: 0.5rem;
    &:first-child {
      margin-top: 0;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0.8rem;
      left: 0.4rem;
      width: 0.3rem;
      height: 0.3rem;
      background-color: $fc1;
      border-radius: 50%;
    }
  }
}

.expected-d {
  position: relative;
  &:before {
    content: "디자인 확정 안됨";
    display: block;
    z-index: 10;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem 1.5rem;
    background: red;
    border-radius: 0 0 1.5rem 1.5rem;
    font-size: 1rem;
    color: #fff;
  }
}

.row-section {
  .top-info {
    margin: -4rem -2rem 0;
    padding: 0 2rem 2rem;
  }
}

.top-info {
  & + .wrap-tab-scroll {
    margin-top: 3rem;
  }
  .main-info {
    position: relative;
    padding-top: 4rem;
    .title {
      font-size: 1.5rem;
    }
    .num {
      font-size: 2rem;
      font-weight: bold;
      strong {
        font-size: 3rem;
      }
    }
    .more {
      position: absolute;
      bottom: 0.7rem;
      right: 0;
      font-size: 1.3rem;
      span {
        text-decoration: underline;
      }
      .bg-icon {
        margin: -0.3rem 0.3rem 0 0;
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }
  .sub-info {
    position: relative;
    .title {
      font-size: 1.3rem;
    }
    .num {
      font-size: 1.5rem;
      strong {
        font-size: 1.6rem;
      }
    }
  }
  &.type-point {
    color: $fcF;
    background: $pc3 url(~assets/img/layout/bg-top-info-point.png) 1.2rem 2.1rem / 4.75rem 4.99rem no-repeat;
    .main-info {
      padding-left: 4rem;
      .num {
        color: $pc2;
      }
      .more {
        color: $pc2;
      }
    }
    .sub-info {
      margin-top: 2.1rem;
      padding: 1.3rem 1.5rem;
      border: 0.1rem solid #1a56ce;
      background: #1b5cde;
      .num {
        position: absolute;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &.type-down,
  &.type-up {
    color: $fc1;
    margin: -4rem 0 0;
    padding: 4rem 0 3rem;
    border-bottom: 0.1rem solid $fc1;
    .main-info {
      padding-top: 0;
      .title {
        padding-left: 2.5rem;
      }
      .num {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &.type-down {
    .main-info {
      .title {
        background: url(~assets/img/layout/icon-point-down.png) 0 0 / 2rem 2rem no-repeat;
      }
    }
  }
  &.type-up {
    .main-info {
      .title {
        background: url(~assets/img/layout/icon-point-up.png) 0 0 / 2rem 2rem no-repeat;
      }
    }
  }
  .up {
    color: $pc3;
  }
  .down {
    color: $gc3;
  }
}

.statement-list-wrap {
  .wrap-tab-scroll {
    margin-top: 3rem;
    .tab-scroll-menu {
      background: linear-gradient(to bottom, $fcF, $fcF calc(100% - 0.1rem), $fcE4 calc(100% - 0.1rem), $fcE4 100%);
    }
  }
  .statement-list {
    li {
      position: relative;
      padding: 3rem 1rem;
      border-bottom: 0.1rem solid $fcE4;
      .title,
      .price {
        font-size: 1.5rem;
        .num {
          font-size: 1.6rem;
        }
      }
      .desc {
        font-size: 1.1rem;
        color: $fc9;
      }
      .title-area {
        .title {
          color: $fc1;
        }
        .desc {
          font-size: 1.2rem;
          span {
            position: relative;
            padding-left: 1.5rem;
            &:first-child {
              padding-left: 0;
              &:before {
                display: none;
              }
            }
            &:before {
              content: "";
              display: block;
              position: absolute;
              left: 0.6rem;
              top: 50%;
              transform: translateY(-50%);
              height: 0.8rem;
              border-left: 0.1rem dotted $fcD7;
            }
          }
        }
      }
      .price-area {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        text-align: right;
      }
    }
    .up {
      color: $pc3;
    }
    .down {
      color: $gc3;
    }
  }
}
