.review-top {
  padding: 3rem 2rem;
  background: $fcF9;
  border-bottom: 0.1rem solid $fcF0;
  .title {
    font-size: 1.5rem;
    color: $fc1;
    .num {
      color: $pc3;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
  .link-msg-box {
    margin: 1.5rem 0 0;
    a {
      display: block;
    }
  }
}

.edit-layer {
  position: absolute;
  right: 0;
  top: 0;
  .more {
    font-size: 0;
    .bg-icon {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
  .edite-box {
    display: none;
    position: absolute;
    right: 0;
    top: 2.5rem;
    border: 0.1rem solid $fcD7;
    background: $fcF;
    color: $fc1;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.08%);
    &.active {
      display: block;
    }
    li {
      border-top: 0.1rem solid $fcF0;
    }
    li:first-child {
      border-top: 0 none;
    }
    button {
      position: relative;
      display: block;
      width: 100%;
      padding: 1.5rem 7rem 1.5rem 1.5rem;
      text-align: left;
      .bg-icon {
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }
}

.review-cont {
  background: $fcF;
  .review-row {
    padding: 3rem 2rem;
    box-sizing: border-box;
    border-top: 0.8rem solid $fcF9;
    border-bottom: 0.1rem solid $fcF0;
    &:first-child {
      border-top: 0 none;
    }
    &:last-child {
      border-bottom: 0 none;
    }
    &.type-apply {
      border: 0.1rem solid $fcD7;
      border-radius: 1.6rem;
      margin: 3rem 2rem 0;
      padding: 3rem 2.5rem;
      &:last-child {
        margin-bottom: 3rem;
      }
    }
    .top-row {
      padding-bottom: 1.5rem;
    }
    .body-row {
      padding-top: 2rem;
      border-top: 0.1rem solid $fcF0;
    }
    .blind-row {
      border-top: 0.1rem solid $fcF0;
      .wrap-empty {
        padding-top: 1rem;
        padding-bottom: 0;
        .empty-img {
          width: 7rem;
          height: 7rem;
        }
        .empty-text strong {
          font-size: 1.3rem;
        }
      }
    }
  }
  .label-area {
    display: flex;
    padding-bottom: 1rem;
    align-items: center;
    .label {
      display: inline-block;
      box-sizing: border-box;
      vertical-align: top;
      text-align: center;
      min-width: 4.6rem;
      padding: 0 1rem;
      line-height: 2rem;
      font-size: 0.9rem;
      border: 0.1rem solid $fcD7;
      border-radius: 1rem;
      &.type-1 {
        color: $pc3;
      }
      &.type-2 {
        border-color: $gc3;
        color: $gc3;
      }
    }
    .date {
      margin-left: 1.2rem;
      padding-left: 1rem;
      border-left: 0.1rem solid $fcD7;
      line-height: 1;
      font-size: 1.2rem;
      color: $fc6;
    }
  }
  .title-area {
    position: relative;
    color: $fc1;
    .title {
      font-size: 1.7rem;
      padding-right: 1.6rem;
      .bg-icon {
        width: 1.2rem;
        height: 1.2rem;
        vertical-align: top;
        margin: 0.7rem 0 0 0.5rem;
      }
    }
    .desc {
      margin-top: 0.6rem;
      font-size: 1.5rem;
    }
    .option {
      margin-top: 0.3rem;
      color: $fc6;
    }
  }
  .rating-area {
    overflow: hidden;
    .rating-box {
      float: left;
    }
    .date {
      float: right;
      font-size: 1.2rem;
      color: $fc6;
    }
  }
  .comment-area {
    margin-top: 1rem;
  }
  .reply-area {
    margin-top: 1.5rem;
    padding: 1.7rem 2rem;
    border: 0.1rem solid $fcF0;
    background: $fcF9;
    .title {
      color: $fc1;
      padding-bottom: 0.6rem;
      .bg-icon {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.3rem;
      }
    }
    .date {
      text-align: right;
      font-size: 1.2rem;
      padding-top: 0.6rem;
    }
  }
  .apply-row {
    padding: 4rem 2rem 0;
    text-align: center;

    .title {
      padding: 0;
      font-size: 1.8rem;
    }
    .review-info-box {
      border: 0 none;
      margin-top: 2rem;

      &.type1 {
        padding: 2rem;
        display: flex;
        align-items: center;

        .rating-box {
          margin: 0 0 0 auto;
          display: flex;
          align-items: center;

          .rating {
            margin-top: 0;
            width: 15.2rem;
          }
          .percent {
            background-position-y: 0.1rem;
          }
          .rating,
          .percent {
            height: 2.8rem;
            background-size: 15.2rem auto;
          }
          .num {
            margin-left: 1rem;
            font-size: 1.8rem;
          }
        }

        & + .review-info-box.type1 {
          margin-top: 0.5rem;
        }
      }

      .rating-box {
        margin: 1rem 0;
        .rating {
          width: 21.5rem;
          margin-top: 1rem;
        }
        .percent {
          background-position-y: -0.2rem;
        }
        .rating,
        .percent {
          height: 3.5rem;
          background-size: 21.5rem auto;
        }
      }
      .num {
        display: block;
        font-size: 2.4rem;
      }
    }
    .form-text-area {
      margin-top: 1.5rem;
      background: $fcF;
      textarea {
        background: $fcF;
      }
    }
    .attention-info {
      margin: 3rem 0 0;
      padding: 3rem 0 0;
      border-top: 0.1rem solid $fcF0;
      text-align: left;
      .title {
        color: $fc1;
        font-size: 1.3rem;
      }
      .dotted-list {
        margin: 0.3rem 0 4rem;
        li {
          color: $fc6;
          font-size: 1.1rem;
        }
      }

      .asterisk-mark {
        margin: 2rem 0 4rem;
      }
    }
    .label-area {
      justify-content: center;
    }
  }
  .img-wrap {
    margin-top: 1rem;
    img {
      width: 100%;
    }
  }
  .apply {
    margin-top: 0.5rem;
    width: 100%;
  }

  .like-box {
    margin-top: 4rem;
    display: flex;

    button {
      flex: 1;
      height: 4.8rem;
      background: $fcF;
      border: 0.1rem solid $fcD7;
      box-sizing: border-box;

      &:first-child {
        border-right: none;
      }

      .bg-icon {
        margin-right: 0.4rem;
        width: 2.4rem;
        height: 2.4rem;
      }

      &.active {
        color: $fc1;
        border: 0.1rem solid $fc1;
      }
    }
  }
}

.review-add-img {
  overflow: hidden;
  margin-top: 1.5rem;

  .img-list {
    overflow: hidden;
    text-align: left;

    li {
      display: inline-block;
      position: relative;
      width: 8rem;
      height: 8rem;
      vertical-align: top;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;

      &:not(:first-child) {
        margin-left: 0.1rem;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .remove {
        position: absolute;
        right: 0.4rem;
        top: 0.5rem;
        width: 1.6rem;
        height: 1.6rem;
      }
      .more-num {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: $fcF;
        font-size: 1.6rem;
        text-align: center;
        line-height: 8rem;
      }
      .no-add-img {
        position: relative;
        display: block;
        height: 100%;
        border: 0.1rem solid $fcE4;
        box-sizing: border-box;
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          width: 2rem;
          height: 2rem;
          background: url(~assets/img/layout/icon-plus02.svg) no-repeat 0 0;
          background-size: 100% auto;
          transform: translate(-50%, -50%);
        }
      }
    }
    button {
      height: 100%;
    }
  }
  .btn-add-photo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 8rem;
    border: 0.1rem solid $fcE4;
    box-sizing: border-box;
    color: $fc1;
    input[type="file"] {
      position: absolute;
      width: 0.1rem;
      height: 0.1rem;
      padding: 0;
      margin: -0.1rem;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
      &:disabled {
        + span {
          opacity: 0.5;
        }
      }
    }
    .photo {
      width: 2.4rem;
      height: 2.4rem;
    }
    .num {
      display: block;
      width: 100%;
      margin-top: 0.3rem;
      text-align: center;
      font-size: 1.1rem;
    }
  }

  &.scroll {
    margin: 1.5rem -2rem 0;

    .img-list {
      overflow-x: visible;
      overflow-y: hidden;
      height: 8rem;
      padding-right: 2rem;
      white-space: nowrap;
      scroll-snap-type: x mandatory;

      li {
        scroll-snap-align: start;
        &:first-child {
          padding-left: 2rem;
        }
      }
    }
  }
}

.dotted-list {
  &.error-msg {
    li {
      color: $gc3;
      &::before {
        background: $gc3;
      }
    }
  }

  li {
    position: relative;
    padding-left: 1.2rem;
    color: $fc1;
    margin-top: 0.5rem;
    line-height: 1.35;
    &:first-child {
      margin-top: 0;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0.4rem;
      left: 0.4rem;
      width: 0.3rem;
      height: 0.3rem;
      background-color: $fc1;
      border-radius: 50%;
    }
  }
}

.expected-d {
  position: relative;
  &:before {
    content: "디자인 확정 안됨";
    display: block;
    z-index: 10;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem 1.5rem;
    background: red;
    border-radius: 0 0 1.5rem 1.5rem;
    font-size: 1rem;
    color: $fcF;
  }
}

.row-section {
  .top-info {
    margin: -4rem -2rem 0;
    padding: 0 2rem 2rem;
  }
}

.top-info {
  & + .wrap-tab-scroll {
    margin-top: 3rem;
  }
  .main-info {
    position: relative;
    padding-top: 4rem;
    .title {
      font-size: 1.5rem;
      text-align: left;
    }
    .num {
      font-size: 2rem;
      font-weight: bold;
      strong {
        font-size: 3rem;
      }
    }
    .more {
      position: absolute;
      bottom: 0.7rem;
      right: 0;
      font-size: 1.3rem;
      span {
        text-decoration: underline;
      }
      .bg-icon {
        margin: -0.3rem 0.3rem 0 0;
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }
  .sub-info {
    position: relative;
    .title {
      font-size: 1.3rem;
    }
    .num {
      font-size: 1.5rem;
      strong {
        font-size: 1.6rem;
      }
    }
  }

  &.type-point {
    padding: 3.9rem 2rem 2.5rem;
    color: $fc1;
    text-align: center;
    background: $fcF9;
    border-bottom: 0.1rem solid $fcEB;
    &.type1 {
      padding: 2.9rem 3.54rem 2.5rem 3rem;
      .main-info {
        padding: 0;
        display: block;
        text-align: left;
        background: url(~assets/img/layout/bg-top-info-point.svg) right center / 4.75rem 4.99rem no-repeat;

        &.bg1 {
          background: url(~assets/img/layout/bg-top-info-point2.svg) right center / 6.5rem 4.5rem no-repeat;
        }
        &.bg2 {
          background: url(~assets/img/layout/bg-top-info-point3.svg) right center / 6.5rem 6.1rem no-repeat;
        }

        .num {
          font-size: 1.7rem;
          strong {
            font-size: 2.4rem;
            vertical-align: middle;
          }
        }
      }
    }
    .main-info {
      padding: 0 0 1rem 4.7rem;
      display: inline-block;
      text-align: center;
      background: url(~assets/img/layout/bg-top-info-point.svg) 0 1.6rem / 4.75rem 4.99rem no-repeat;
      .num {
        margin-top: 0.4rem;
        line-height: 1;
      }
      .more {
        color: $pc2;
      }
    }
    .sub-info {
      margin-top: 1.2rem;
      padding: 2rem 0;
      display: flex;
      color: $fc1;
      text-align: left;
      border: 0.1rem solid $fcF0;
      background: $fcF;
      .sub-point-box {
        width: 50%;
        box-sizing: border-box;
        &.point-up {
          padding-left: 2rem;
          .title {
            padding: 0.4rem 0 0 2.5rem;
            background: url(~assets/img/layout/icon-point-up.svg) 0 0.1rem / 2rem 2rem no-repeat;
          }
          .num {
            padding-left: 0.7rem;
            color: $pc3;
          }
        }
        &.point-down {
          padding-left: 2.5rem;
          border-left: 0.1rem dotted $fcE4;
          .title {
            padding: 0.4rem 0 0 2.5rem;
            background: url(~assets/img/layout/icon-point-down.svg) 0 0.1rem / 2rem 2rem no-repeat;
          }
          .num {
            color: $gc3;
          }
        }
        .num {
          margin-top: 1rem;
          font-size: 1.7rem;
          font-weight: 700;
          strong {
            margin-right: 0.2rem;
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  &.type-down,
  &.type-up {
    color: $fc1;
    margin: -4rem 0 0;
    padding: 4rem 0 3rem;
    border-bottom: 0.1rem solid $fc1;
    .main-info {
      padding-top: 0;
      .title {
        padding-left: 2.5rem;
      }
      .num {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &.type-down {
    .main-info {
      .title {
        background: url(~assets/img/layout/icon-point-down.svg) 0 0 / 2rem 2rem no-repeat;
      }
    }
  }
  &.type-up {
    .main-info {
      .title {
        background: url(~assets/img/layout/icon-point-up.svg) 0 0 / 2rem 2rem no-repeat;
      }
    }
  }
  .up {
    color: $pc3;
  }
  .down {
    color: $gc3;
  }
}

.statement-list-wrap {
  .wrap-tab-scroll {
    margin-top: 3rem;
    .tab-scroll-menu {
      background: linear-gradient(to bottom, $fcF, $fcF calc(100% - 0.1rem), $fcE4 calc(100% - 0.1rem), $fcE4 100%);
    }
  }
  .statement-list {
    &.type1 {
      li {
        padding-bottom: 2.5rem;
      }
    }

    li {
      position: relative;
      padding: 3rem 1rem;
      border-bottom: 0.1rem solid $fcE4;
      .title,
      .price {
        font-size: 1.5rem;
        .num {
          margin-right: 0.2rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
      .desc {
        font-size: 1.1rem;
        color: $fc9;
      }
      .title-area {
        .title {
          .t-logo {
            margin-top: -0.5rem;
            margin-right: 0.5rem;
            width: 1.6rem;
            height: 1.6rem;
          }
          color: $fc1;
        }
        .desc {
          margin-top: 0.5rem;
          font-size: 1.2rem;
          span {
            position: relative;
            padding-left: 1.5rem;
            &:first-child {
              padding-left: 0;
              &:before {
                display: none;
              }
            }
            &:before {
              content: "";
              display: block;
              position: absolute;
              left: 0.6rem;
              top: 50%;
              transform: translateY(-50%);
              height: 0.8rem;
              border-left: 0.1rem dotted $fcD7;
            }
          }
        }
      }
      .price-area {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        text-align: right;
      }
    }
    .up {
      color: $pc3;
    }
    .down {
      color: $gc3;
    }
  }

  .top-title {
    margin-top: 3rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: $fc1;
    border-bottom: 0.1rem solid $fc1;

    &:not(:first-child) {
      margin-top: 4rem;
    }
  }
}

.bookmark-cont {
  padding: 4rem 0;

  .wrap-tab {
    margin: 0 2rem;
  }

  .wrap-filter {
    padding-top: 2rem;
  }

  .top-area {
    padding: 3rem 2rem 0;
    .gray-box {
      padding: 1.2rem;
      justify-content: center;
      align-items: center;
    }
    .bg-icon {
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 0.5rem;
    }
  }

  .list-content {
    .list-item {
      margin: 0 2rem 4rem;
      border-bottom: 0.1rem solid $fcF0;

      .item-bottom {
        padding: 2.8rem 0 4rem;
      }
      .thumbnail {
        min-height: 17.9rem;
      }
      .favorite {
        right: 0;
      }
      .btn {
        font-size: 1.5rem;
      }
      &:last-child {
        margin-bottom: -4rem;
        border-bottom: 0;
      }
    }

    &.type1 {
      .list-item {
        margin: 0 2rem;
        border-top: 0.1rem solid $fcF0;
        border-bottom: 0;
        &:last-child {
          margin-bottom: -4rem;
        }
        .info {
          padding-right: 0;
        }
        .tag {
          margin-left: 1.2rem;
          color: $fc6;
        }
      }
      .item-bottom {
        padding-top: 2.5rem;
      }
      .title {
        margin: 1.5rem 0 0.2rem;
        padding-right: 8rem;
        font-size: 1.7rem;
      }
      .wrap-badge {
        display: flex;
        padding-right: 2rem;
      }
      .btn-location {
        position: absolute;
        top: 6.6rem;
        right: 0;
        color: $pc3;
        font-size: 1.5rem;
        .bg-icon {
          width: 2rem;
          height: 2rem;
        }
        .num {
          border-bottom: 0.1rem solid;
        }
        em {
          font-size: 1.7rem;
        }
      }
      .wrap-price {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;

        .kind {
          height: 2rem;
          margin-right: 0.5rem;
          padding: 0 0.5rem;
          border-radius: 0.1rem;
          font-size: 1.1rem;
          text-align: center;
          line-height: 2rem;

          &.type1 {
            background: #ffe7ad;
            color: #ff7e40;
          }
          &.type2 {
            background: #ccf0e8;
            color: #00b58c;
          }
          &.type3 {
            background: #fef0f2;
            color: $gc3;
          }
        }
        .price {
          span {
            padding-right: 0.8rem;
            &:first-child {
              color: $gc3;
              em {
                font-size: 1.7rem;
              }
            }
            &:last-child {
              em {
                text-decoration: line-through;
              }
            }
          }
        }
      }
    }
  }

  .wrap-tab-scroll {
    &:after {
      width: calc(100% - 2rem);
      margin: 2.5rem 0 0 2rem;
    }
    li:first-child {
      margin-left: 2rem;
    }
  }
}

.alert-box {
  padding: 1.5rem 2rem;
  color: $fcF;
  background: $pc3;
  .msg {
    position: relative;
    a {
      display: block;
      &:after {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        background: url(~assets/img/layout/icon-more-type4.svg) 0 0 / 100% auto no-repeat;
        vertical-align: middle;
        content: "";
      }
    }
    .bg-icon {
      width: 1.6rem;
      height: 1.6rem;
      margin-top: -0.2rem;
    }
  }
}

.wrap-filter-result {
  padding: 1.3rem 0;
  background: $fcF9;
  border-top: 0.1rem solid $fcF0;
  .filter-list {
    &::-webkit-scrollbar {
      display: none;
    }
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    padding: 0 2rem;
    z-index: 1;
    &:after {
      content: "";
      flex: 0 0 auto;
      width: 1.3rem;
    }
    li {
      margin-right: 0.7rem;
      flex: 0 0 auto;
    }
  }
  .item {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    line-height: 3rem;
    border: 0.1rem solid $fcE4;
    border-radius: 1.5rem;
    padding: 0 2.7rem 0 1.5rem;
    color: $fc1;
    background: $fcF;
    .btn-del {
      position: absolute;
      right: 1rem;
      top: 0.9rem;
      font-size: 0;
      .bg-icon {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }
}

.history-list-wrap {
  margin-bottom: -3rem;
  border-top: 0.1rem solid $fcF0;
  .history-list {
    padding: 3rem 2rem 0;
    li {
      margin-top: 1rem;
      &:first-child {
        margin-top: 0;
      }
    }

    &.type1 {
      padding-top: 0;
    }
  }

  .car-number-info {
    padding: 2.3rem 0 2.1rem;
    font-size: 2.1rem;
    font-weight: 700;
    color: $fc1;
    text-align: center;
    border-bottom: 0.1rem solid $fcF0;
  }
  .wrap-tab-content {
    padding: 2rem 2rem 0;
    border-top: 0.8rem solid $fcF9;

    .wrap-tab-scroll:after {
      height: 0;
      border-bottom: 0.1rem dotted $fcD7;
      background: none;
    }
    input[type="checkbox"] + label {
      margin-left: 0;
    }
  }

  .history-count {
    padding: 2.1rem 2rem 0.9rem;
    text-align: right;
    color: $fc1;
  }
}

.history-box {
  &.type-reservation {
    .label {
      background-image: url(~assets/img/layout/img_yellow_balloon_box.png);
      span {
        background-image: url(~assets/img/layout/img_yellow_balloon_box_right.png);
        //background: $pc2;
        // border-color: $pc6;
      }
    }
    .date {
      color: $fc1;
    }
    .box-body {
      border-color: $fc1;
    }
  }
  .label {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 4.6rem;
    padding: 0 0 0 2.6rem;
    box-sizing: border-box;
    background: url(~assets/img/layout/img_default_balloon_box.png) 0 0 / 2.6rem 4.6rem no-repeat;
    span {
      display: inline-block;
      vertical-align: top;
      height: 4.6rem;
      line-height: 3.3rem;
      padding: 0 1.5rem 0 1.2rem;
      // border: 0.1rem solid $fcD7;
      // border-left: 0 none;
      // border-radius: 0 1.6rem 1.6rem 0;
      // background: $fcF9;
      background: url(~assets/img/layout/img_default_balloon_box_right.png) 100% 0 / auto 4.6rem no-repeat;
      color: $fc1;
      .bg-icon {
        position: absolute;
        left: 1.2rem;
        top: 0.7rem;
        width: 2rem;
        height: 2rem;
      }
    }
  }
  .date {
    display: inline-block;
    vertical-align: top;
    margin-left: 0.8rem;
    line-height: 3.4rem;
    color: $fc9;
    strong {
      font-weight: 400;
    }
  }
  .box-body {
    border-left: 0.1rem dotted $fcD7;
    margin: 1rem 0 0 1.3rem;
    padding: 0 0 2rem 2rem;
    .history-desc {
      padding: 3rem 2.5rem 4rem;
      border: 0.1rem solid $fcD7;
      border-radius: 0 1.6rem 1.6rem 1.6rem;
      color: $fc1;
      .title-area {
        position: relative;
        .title {
          font-size: 1.5rem;
          padding-bottom: 0.5rem;

          .desc {
            display: block;
          }
        }
        .state {
          position: absolute;
          right: 0;
          top: 0.2rem;
          font-size: 1.1rem;
          .state-item {
            position: relative;
            margin-left: 2rem;
            &:first-child {
              margin-left: 0;
              &:before {
                display: none;
              }
            }
            &:before {
              content: "";
              position: absolute;
              left: -1.1rem;
              top: 50%;
              transform: translateY(-50%);
              height: 1.1rem;
              border-left: 0.1rem dotted $fc9;
            }
          }
        }
      }
      .blue {
        color: $pc3;
        &.link {
          padding-right: 1rem;
          background: url(~assets/img/layout/icon-more-type-blue.svg) 100% 50% / 1rem 1rem no-repeat;
        }
      }
      .red {
        color: $gc3;
      }
      .under-line {
        text-decoration: underline;
      }

      .list {
        li {
          position: relative;
          padding-left: 1.2rem;
          margin-top: 0.4rem;
          &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0.7rem;
            width: 0.3rem;
            height: 0.3rem;
            background: $fc6;
            border-radius: 50%;
          }

          &.color1 {
            color: $pc3;
            &:before {
              background: $pc3;
            }
          }
        }

        .txt-line-th {
          text-decoration: line-through;
        }
      }

      .more-detail {
        border-top: 0.1rem solid $fcE4;
        margin: 3rem -0.5rem -2rem;
        padding-top: 1.8rem;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        .more-item {
          position: relative;
          flex: 1;
          &:first-child {
            &:before {
              display: none;
            }
          }
          &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 0.1rem;
            height: 2rem;
            background: $fcE4;
          }
          .bg-icon {
            margin-top: -0.4rem;
            width: 1.6rem;
            height: 1.6rem;
          }
        }
      }

      .sum-box {
        margin-top: 1rem;
        padding: 1.5rem 2rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        background: $fcF9;
        color: $fc6;
        dt,
        dd {
          width: 50%;
          &:not(:first-of-type) {
            margin-top: 0.7rem;
          }
        }
        dd {
          text-align: right;
          em {
            margin-left: 0.5rem;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

.star-score-area {
  margin-top: 1.5rem;
  padding: 2.2rem 2.5rem;
  display: flex;
  align-items: center;
  background: $fcF9;
  border: 0.1rem solid $fcF0;
  border-radius: 0.1rem;

  .icon-box {
    margin-right: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.4rem;
    height: 6.4rem;
    background: $fcF;
    border: 0.1rem solid $fcE4;
    border-radius: 50%;

    .bg-icon {
      width: 2.8rem;
      height: 2.8rem;
    }
  }

  .score-list {
    width: calc(100% - 9.1rem);
    li {
      display: flex;
      align-items: center;
      width: 100%;
      color: $fc1;

      &::before {
        content: "";
        margin: 0 0.45rem;
        display: block;
        width: 0.3rem;
        height: 0.3rem;
        background: $fc6;
        border-radius: 50%;
      }

      &:not(:first-child) {
        margin-top: 0.7rem;
      }

      .rating-box {
        margin-left: auto;
      }
    }
  }
}
