.map-wrap {
  position: absolute;
  left: 0;
  top: 5.5rem;
  height: calc(100% - 5.5rem);
  width: 100%;
  background: $fc1;
  color: $fcF;
  &.full-height {
    height: calc(100% - 5.5rem);
  }
}

.search-result {
  &.type-ing {
    .desc {
      padding-left: 0;
    }
  }
  & + .result-more {
    &:before {
      content: "";
      display: block;
      border-top: 0.1rem solid $fcF0;
      position: absolute;
      top: -0.9rem;
      left: 0;
      width: 100%;
    }
  }
  &.type1 {
    li {
      &:first-child {
        padding-top: 0;
      }
      border-bottom: 0.1rem solid $fcE4;
    }
  }
  &.type2 {
    margin-top: 2rem;
    border-top: 0.1rem solid $fc1;
  }

  .pos-bottom & {
    padding-bottom: 6rem;
  }
  li {
    position: relative;
    padding: 2.3rem 1rem;
    color: $fc1;
    border-bottom: 0.1rem solid $fcF0;
    .active {
      .title,
      .match,
      .desc p,
      .desc p:first-child {
        color: $pc3;
      }
      .location-small {
        background-image: url(~assets/img/layout/icon-location-small-active.svg);
      }
    }
    .title {
      font-size: 1.5rem;
      .bg-icon {
        width: 1.6rem;
        height: 1.6rem;
        margin-top: -0.4rem;
      }
    }
    .desc {
      padding-left: 2.2rem;
      p {
        font-size: 1.1rem;
        color: $fc6;
        &:first-child {
          font-size: 1.3rem;
          color: $fc1;
        }
        &.sub-txt {
          font-size: 1.3rem;
        }
      }
    }
    .btn-del {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      .bg-icon {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
    .match {
      color: $gc3;
    }
    .date {
      margin-top: 0.6rem;
      font-size: 1.2rem;
      color: $fc9;
    }
  }

  .result-list {
    li {
      position: relative;
    }
    .num-count {
      position: absolute;
      bottom: 3.4rem;
      right: 1rem;
      font-size: 1.5rem;
      em {
        font-size: 1.6rem;
        color: $pc3;
      }
    }
  }
}

.result-more {
  position: relative;
  border-top: 0.8rem solid $fcF9;
  padding: 4rem 2rem 0;
  margin: 0 -2rem 0;
  text-align: center;
  .more-text {
    margin-top: 1rem;
    line-height: 2rem;
  }
  .more-text:first-of-type {
    margin-top: 0;
    font-size: 1.7rem;
    color: $fc1;
  }
  .btn-area {
    margin-top: 1.5rem;
  }
}

.search-address {
  padding-bottom: 2rem;
  .title {
    font-size: 1.8rem;
    color: $fc1;
    .bg-icon {
      width: 1.6rem;
      height: 1.6rem;
      margin-top: -0.5rem;
    }
  }
  .desc {
    p {
      font-size: 1.1rem;
      color: $fc6;
      &:first-child {
        font-size: 1.3rem;
        color: $fc1;
      }
      &.new-address {
        color: $fc6;
      }
    }
  }

  & + .wrap-btn {
    .btn {
      font-size: 1.5rem;
    }
  }
}

.link-msg-box {
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  min-height: 4.5rem;
  padding: 0 3.2rem 0 1rem;
  line-height: 1.5;
  font-size: 1.3rem;
  color: $fc1;
  border: 0.1rem solid $fcE4;
  background: $fcF;

  &.type-search {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 2.5rem 0 2rem;
    padding-bottom: 1.5rem;
    border: 0 none;
    border-bottom: 0.1rem solid $fc1;

    .bg-icon.more {
      top: 1.2rem;
      transform: translateY(0);
    }
    .msg + .msg {
      margin-top: 0.5rem;
      color: $fc6;
      font-size: 1.1rem;
    }
  }

  .link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2.7rem;
  }
  .bg-icon.more {
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 1.2rem;
    height: 1.2rem;
    transform: translateY(-50%);
  }
}

.info-box {
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid $fcF0;
  color: $fc1;
  .title {
    font-size: 1.7rem;
    padding: 0.2rem 0 0.4rem;
  }
  .attention {
    margin: 0.5rem 0 0 -1.2rem;
    padding-left: 1.2rem;
    font-size: 1.1rem;
    background: url(~assets/img/layout/icon-attention.svg) 0 0.2rem / 1.2rem 1.2rem no-repeat;
    .under-line {
      color: $pc3;
      text-decoration: underline;
    }
  }
  .btn-area {
    margin-top: 1.2rem;
    text-align: left;
  }
  &.type-business {
    padding-left: 12rem;
    background: url(~assets/img/layout/icon-info-business-map.svg) 0 0 / 11rem 9rem no-repeat;
    .title {
      color: $pc3;
    }
  }
  &.type-oilservice {
    padding-left: 12rem;
    background: url(~assets/img/layout/icon-oliservice.svg) 0 0 / 11rem 9rem no-repeat;
    .title {
      color: $pc3;
    }
    .btn-area {
      .btn-arrow {
        font-size: 1.3rem;
        line-height: 1.4;
        &:after {
          margin: 0.4rem 0 0 0.1rem;
        }
      }
      .desc {
        margin-top: 1rem;
      }
    }
  }
  &.type-dawn {
    position: absolute;
    left: 0;
    top: 5.5rem;
    width: 100%;
    min-height: calc(100% - 5.5rem);
    box-sizing: border-box;
    padding: 3.5rem 2rem 0 12.2rem;
    background: $fcF9 url(~assets/img/layout/icon-info-dawn-map.svg) 1.23rem 2.6rem / 11.1rem 12.8rem no-repeat;
  }
  &.type-repairservice {
    padding-left: 12rem;
    background: url(~assets/img/layout/icon-repairservice.svg) 0 0 / 11rem 9rem no-repeat;
    .title {
      color: $pc3;
    }
    .desc {
      word-break: break-all;
      letter-spacing: -0.01em;
    }
  }
}
