.vartical-bar {
  position: relative;
  text-align: left;
  font-size: 0;
  &.dotted {
    & > span:after {
      border-right: 0.1rem dotted $fc9;
    }
  }
  &.type1 {
    & > span {
      &:after {
        display: none;
      }
      &:not(:last-of-type):nth-child(odd) {
        &:after {
          display: block;
          border-right-style: dotted;
        }
      }
    }
  }

  & > span {
    position: relative;
    margin: 1.1rem 1rem 0 0;
    padding: 0 1.1rem 0 0;
    display: inline-block;
    vertical-align: top;
    letter-spacing: -0.04rem;
    font-size: 1.3rem;
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
      padding-right: 0;
      &:after {
        display: none;
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 0.1rem;
      height: 1.1rem;
      border-right: 0.1rem solid $fc9;
      transform: translate(0, -50%);
    }
    em {
      margin-left: 1rem;
      color: $fc6;
    }
  }
}
.blind {
  width: 0;
  height: 0;
  font-size: 0;
  opacity: 0;
  overflow: hidden;
}
.reeference-mark {
  position: relative;
  padding-left: 1.6rem;
  &:before {
    content: "※";
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.4;
  }

  &.color1 {
    color: $fc1;
  }
}
.asterisk-mark {
  font-size: 1.1rem;
  line-height: 1.4;
  color: $fc9;
  &.type1 {
    position: relative;
    padding-left: 1.2rem;
    &:before {
      content: "*";
      position: absolute;
      top: 0.5rem;
      left: 0.35rem;
      font-size: 0.9rem;
      line-height: 1;
    }
  }
  &.color1 {
    color: $fc1;
  }
  &.color2 {
    color: $gc3;
  }
  > li {
    position: relative;
    padding-left: 1.2rem;
    &:not(:first-child) {
      margin-top: 1rem;
    }
    &:before {
      content: "*";
      position: absolute;
      top: 0.25rem;
      left: 0.35rem;
      font-size: 0.9rem;
    }
  }
}
.ta-r {
  text-align: right;
}

.txt-under {
  text-decoration: underline;
}
// 레이아웃
// .wrap-mycar {
//   padding: 4rem 2rem;
//   .block-layout {
//     margin: 0 -2rem;
//     &:first-child {
//       padding-top: 0;
//     }
//     &:last-child {
//       padding-bottom: 0;
//     }
//   }
// }
.block-layout {
  position: relative;
  padding: 4rem 2rem 3.5rem;
  box-sizing: border-box;
  border-top: 0.9rem solid $fcF9;
  &:before {
    content: "";
    position: absolute;
    top: -0.9rem;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 0.1rem;
    background: $fcF0;
  }
  &:nth-of-type(1) {
    border-top: none;
    &:before {
      display: none;
    }
  }

  .title-sub {
    &.type-third {
      margin-top: 3rem;
      padding-left: 1rem;
      .title {
        color: $fc6;
      }
    }
  }
  .wrap-tab-scroll {
    margin: 0;
  }
  .noti-txt {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    color: $fc9;
  }

  .order-cont {
    margin: 0 -2rem;
    padding: 4rem 2rem 3.5rem;
    .gray-box + .title-sub {
      margin-top: 3.4rem;
    }
  }

  .reeference-mark {
    margin-top: 1.5rem;
  }
}

//fix-footer
.fix-footer-area {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 30;
  width: 100%;
  display: flex;
  background-color: $fcF;

  &.type1 {
    flex-wrap: wrap;

    .btn-cancel {
      margin: 0 2rem 3rem auto;
    }

    .btn {
      flex: inherit;
    }
  }

  .btn {
    flex: 1;
    border-left: 0.1rem solid rgba(255, 255, 255, 0.16);
    &:first-child {
      border-left: 0 none;
    }
    em {
      font-size: 1.8rem;
    }
  }
}

// content
.head-title {
  padding-bottom: 0.8rem;
  display: flex;
  font-size: 1.5rem;
  color: $fc1;
  border-bottom: 0.1rem solid $fcF0;

  &.type1 {
    border-bottom: 0.1rem solid $fc1;
  }

  .right {
    margin-left: auto;
  }

  strong {
    padding-left: 0.4rem;
  }
}
.new-add-noti {
  padding: 2.3rem 0 0;
  .list-dot > li {
    color: $fc1;
    .col-pc3 {
      color: $pc3;
    }
    .tel {
      text-decoration: underline;
    }
  }
}
.acc-list {
  margin-top: 2.5rem;
  .accordion {
    &:not(:first-child) {
      margin-top: 4rem;
    }
    .accordion-cont {
      padding: 0 1rem;
    }
  }
  .checkbox-st {
    margin-bottom: 2rem;
    color: $fc1;
    &:first-child {
      margin-top: 2.5rem;
    }
    label {
      align-items: flex-start;
      > div {
        width: calc(100% - 8rem);
      }
    }
    .btn-arrow {
      margin-top: 0.2rem;
      line-height: 1.2;
      &:after {
        margin-top: 0.2rem;
        background: url(~assets/img/layout/icon-arrow-left-black2.svg) 0 0 / 100% auto no-repeat;
      }
    }
  }
  .option-box {
    margin: 1.5rem 0 0.4rem -3rem;
    padding: 2rem 0 3rem;
    background: $fcF9;
    border: 0.1rem solid $fcF0;
    .wrap-checkbox {
      justify-content: center;
      margin-right: -1rem;
      label {
        height: 3rem;
      }
    }
    p {
      margin-bottom: 1rem;
      color: $fc1;
      text-align: center;
    }
  }
}
.price-box {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  color: $fc1;
  line-height: 1;
  .wash-time {
    line-height: 1.6rem;
    .bg-icon.time {
      width: 1.6rem;
      height: 1.6rem;
      vertical-align: top;
    }
  }
  .price-unit {
    color: $fc9;
    font-size: 1.1rem;
    span {
      font-size: 1.2rem;
      text-decoration: line-through;
    }
  }
  .discount {
    margin-left: 0.6rem;
    vertical-align: middle;
    span {
      font-size: 1.6rem;
    }
    font-size: 1.5rem;
  }

  & > span:last-child {
    margin-left: auto;
  }
}
.gray-box {
  padding: 1.5rem 1.5rem 1.5rem 1.7rem;
  display: flex;
  background: $fcF9;
  border: 0.1rem solid $fcF0;

  &.round {
    padding: 1.2rem 1.5rem 1.1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: $fc1;
    text-align: center;
    border: none;
    border-radius: 2.1rem;
  }
  &.type1 {
    display: block;
    margin-top: 4rem;
    padding: 2rem 1.5rem;
    font-size: 1.1rem;
    text-align: center;
    color: $fc1;
  }
  &.type2 {
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 0 4rem;
    text-align: center;
    color: $fc1;

    .btn {
      margin-top: 2rem;
    }
  }
  &.type3 {
    padding-left: 2.5rem;
    display: block;
    color: $fc1;
    p:not(:first-child) {
      margin-top: 1rem;
    }
  }
  &.type4 {
    margin-top: 3rem;
    justify-content: center;
    font-size: 1.5rem;
  }
  &.top-box {
    padding: 3rem 2rem;
    display: block;
    color: $fc1;

    .block-layout & {
      &:first-child {
        margin: -4rem -2rem 3rem;
        border-top: none;
      }
    }
    .btn-box-arrow {
      margin-bottom: 0.5rem;
    }
    .vartical-bar {
      &.type1 {
        padding: 0 1rem;
      }
    }
  }
  &.vartical-bar {
    justify-content: center;
    color: $fc1;
    span {
      margin-top: 0;
      em {
        font-size: 1.5rem;
        color: $fc1;
      }
    }
  }
  .right {
    margin-left: auto;
    strong {
      font-size: 1.8rem;
    }
  }
  .col-point {
    color: $pc3;
  }
  .list-txt {
    margin: auto;
    color: $fc1;

    li {
      display: inline-block;
      font-size: 1.3rem;
      line-height: 1;

      &:not(:first-child) {
        &:before {
          display: inline-block;
          height: 1.1rem;
          margin: 0 1.2rem 0 1rem;
          border-left: 0.1rem dotted $fc9;
          vertical-align: top;
          content: "";
        }
      }
    }
  }
}

// 세차상품 선택
.detail-option-top {
  line-height: 1;
  .title {
    font-size: 1.7rem;
    font-weight: 700;
    color: $fc1;
  }
  .txt {
    margin-top: 1.4rem;
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .noti-box {
    margin-top: 2rem;
    display: block;
    color: $fc1;
    text-align: center;

    &.type1 {
      padding: 3rem 2rem;
      font-size: 1.7rem;
      color: $pc3;
    }
  }
  .coupon {
    margin-top: 2rem;
  }
  .list-dot {
    margin-top: 3rem;
    li {
      line-height: 1.4;
    }
  }
}
.detail-introduce {
  margin-top: 2.25rem;
  .row-txt {
    line-height: 1.8rem;
  }
  .thumb {
    margin-top: 1.25rem;
  }
  .price-box {
    .discount {
      color: $gc3;
    }
    .price-unit {
      font-size: 1.3rem;
      span {
        font-size: 1.4rem;
      }
    }
  }
}

// 세차상품상세
.step-cont {
  margin-top: 4rem;
  color: $fc1;
  .title {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    span {
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.5rem;
        background: $pc3;
        opacity: 0.6;
      }
    }
  }
  .sub-title {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.2;
  }
  .txt-box {
    margin-top: 1rem;
    line-height: 1.4;
    color: $fc6;
  }
  .thumb {
    margin-top: 1.75rem;
  }
}
.car-grade-area {
  .noti-top {
    margin-top: 4rem;
    color: $pc3;
  }
  .title {
    margin-top: 3rem;
    font-size: 1.5rem;
    color: $fc1;
  }
  .tbl {
    margin-top: 1.5rem;
  }
  .num {
    font-size: 1.4rem;
  }
}
.refund-area {
  margin-top: 4rem;
  .top-title {
    margin-top: 3.4rem;
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    color: $fc1;
  }

  .txt-row {
    & + .top-title {
      margin-top: 2rem;
    }
  }
  .list-number {
    margin-top: 1rem;
    color: $fc1;
    & > li:not(:first-child) {
      margin-top: 2rem;
    }
    .txt-row {
      margin-top: 1rem;
      margin-left: 1.5rem;
      color: $fc6;
    }
    .ol-num {
      margin-top: 1rem;
    }
  }
}

// 오일/배터리
.tbl-layout {
  padding: 4rem 2rem 6rem;
  &.type1 {
    .tbl {
      margin-top: 0.8rem;
    }
  }
  .title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: $fc1;
    &:not(:first-child) {
      margin-top: 3.5rem;
    }
    & > span {
      margin-left: auto;
    }
  }
  .tbl {
    margin-top: 2rem;
  }
  .list-dot {
    margin-top: 2.5rem;
  }
}
.quo-marks-cont {
  padding-top: 4rem;
  text-align: center;
  color: $fc1;
  .main-txt {
    font-size: 1.7rem;
    &:before,
    &:after {
      content: '"';
      margin: auto;
      display: block;
      line-height: 1;
      font-size: 3rem;
      height: 1rem;
    }
    &:before {
      margin-bottom: 0.5rem;
    }
    &:after {
      margin-top: 0.5rem;
    }
  }
  .sub-txt {
    margin-top: 3.5rem;
    font-size: 1.2rem;

    &:after {
      content: "";
      margin: 2rem auto 3rem;
      display: block;
      width: 0.1rem;
      height: 5rem;
      background: $fc1;
    }
    em {
      text-decoration: underline;
      color: $pc3;
    }
  }
}

.tmap-layout {
  .review-top {
    position: relative;
    border-bottom: none;
    &.type1 {
      padding: 1.5rem 3.5rem 1.5rem 2rem;
    }
    & + .order-cont {
      padding-top: 3rem;
      border-top: none;
    }
    button {
      position: absolute;
      top: 50%;
      right: 2rem;
      transform: translate(0, -50%);
      .bg-icon {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
    .dotted-list {
      li:before {
        top: 0.7rem;
      }
    }
  }
  .order-cont {
    .wrap-form {
      overflow: hidden;
      margin-top: 1.5rem;
      .wrap-input {
        margin-top: 0.5rem;
      }
      .list-dot li {
        font-size: 1.1rem;
      }
      .list-check {
        margin: 1rem 1rem 0;
      }
    }
    .title-sub:not(:first-child) {
      margin-top: 2rem;
    }
    .title-sub.type2 {
      margin-bottom: 0rem;
    }
    .review-add-img {
      margin-top: 2rem;
    }
    .form-text-area {
      margin-top: 1.5rem;
      textarea {
        height: 20rem;
      }
    }
    .desc + .product-info {
      margin-top: 2.3rem;
    }
  }

  .option-box {
    margin-top: 1.4rem;
    padding: 2.5rem 1rem;
    box-sizing: border-box;
    // border: 0.1rem solid $fcE4;
    border-top: 0.1rem solid $fc1;
    border-bottom: 0.1rem solid $fcF0;
    .wrap-check {
      height: 2rem;
      &:not(:first-child) {
        margin-top: 2.5rem;
        padding-top: 2.5rem;
        border-top: 0.1rem dotted $fcD7;
      }
      .checkbox:not(:first-child) {
        margin-left: 3rem;
      }
    }
  }
  .define-list {
    .btn-clear-x {
      margin-left: 0.5rem;
    }
  }

  .product-info {
    display: flex;
    padding-top: 0.7rem;
    color: $fc1;

    .thumb {
      width: 6rem;
      height: 6rem;
      border: 0.1rem solid #e8e8e8;
      box-sizing: border-box;
    }
    .info {
      width: calc(100% - 7.6rem);
      padding: 0 1.5rem;
      box-sizing: border-box;
    }
    .price {
      margin-top: 1rem;
    }
    .btn-clear-x {
      width: 1.6rem;
      height: 1.6rem;
      margin-left: auto;
    }
    .wrap-btn {
      width: 100%;
      padding: 0 2.5rem;
      .btn {
        width: 100%;
      }
    }
  }
}

.sel-layout {
  padding: 3rem 2rem 0;
}
