.wrapper-main {
  min-height: 100vh;
  background-color: $fcF9;
  .wrap-contents {
    padding-bottom: 6rem;
  }
}

.main-cont {
  padding: 4rem 2.5rem 0;

  .main-txt {
    margin: 0 0 0 1.5rem;
    padding-top: 1.5rem;
    color: $fc1;
    font-size: 1.8rem;
    line-height: 1.3;
  }

  .wrap-info-box {
    margin: 0 -2.5rem;

    .swiper-slide {
      padding: 0 2.5rem;
      box-sizing: border-box;
    }
    .info-type-box {
      padding-top: 0;
    }
    .info-car-cont.type1 {
      padding: 0 2.5rem 3rem;
      border-color: #d7d7d7;
    }
  }

  .info-type-box {
    margin-top: 0;
    padding-top: 2.5rem;

    .dropdown-area {
      top: 3rem;
    }
  }

  .info-car-cont.type1 {
    padding: 1rem 2.5rem 3.5rem 2.5rem;
    background: $fcF;
    border-color: $fcF0;

    .car-number {
      display: inline-block;
      margin: 0.7rem 0 0;
      padding: 0 0 0 0.5rem;
      font-size: 2.4rem;
      width: calc(100% - 10.5rem);
    }
    .car-name {
      display: inline-block;
      margin-top: 3rem;
      padding: 0 0 0 0.5rem;
      font-size: 1.3rem;
      width: calc(100% - 10.5rem);
    }
    .car-info {
      clear: both;
      margin: 1.5rem 0 0;
      padding: 0 0.5rem;

      .vartical-bar > span {
        margin-top: 2rem;
      }
    }
    .logo {
      position: static;
      float: right;
    }
  }

  .wrap-category {
    margin-top: 1rem;
  }

  .list-category {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    li {
      position: relative;
      box-sizing: border-box;

      img {
        width: 7rem;
        height: 7rem;
      }
      strong {
        display: block;
        color: $fc1;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1;
      }
    }

    &.type1 {
      justify-content: flex-start;
      padding-top: 2rem;

      li {
        display: flex;
        align-items: center;
        width: 15.6rem;
        min-height: 9.3rem;
        padding-left: 8rem;

        .btn-arrow:after {
          margin-left: 0;
        }

        &:nth-of-type(2n):before {
          position: absolute;
          left: 0;
          height: 3.5rem;
          border-left: 0.1rem dotted $fcD7;
          content: "";
        }

        &:nth-of-type(1) {
          background: url(~assets/img/layout/icon-category1.svg) 0 0 / 8.6rem 8.2rem no-repeat;
        }
        &:nth-of-type(2) {
          padding-left: 10.6rem;
          background: url(~assets/img/layout/icon-category2.svg) 2rem 0 / 8.1rem 8.4rem no-repeat;
        }
        &:nth-of-type(3) {
          background: url(~assets/img/layout/icon-category3.svg) 0.6rem 0.9rem / 8rem 8rem no-repeat;
        }
        &:nth-of-type(4) {
          padding-left: 9.2rem;
          background: url(~assets/img/layout/icon-category6.svg) 0.8rem 0 / 9.1rem 9rem no-repeat;
        }
      }
    }

    &.type2 {
      padding: 0 1rem;

      li {
        padding: 3rem 0;
        flex-basis: 100%;

        .tit {
          color: $fc1;
          font-size: 1.7rem;
          line-height: 1.4;
          > span {
            color: $pc3;
          }
        }
        .txt {
          margin-top: 1rem;
          padding: 0 0.5rem;
          color: $fc6;
          font-size: 1.1rem;
          line-height: 1.4;
        }
        .wrap-btn {
          margin: 2rem 0 0;
          display: flex;

          .btn {
            flex: auto;
            padding: 0 2.7rem;
            &:not(:first-child) {
              margin-left: 1rem;
            }
            .bg-icon {
              margin-top: -0.1rem;
            }
          }
        }
        &:not(:first-child) {
          border-top: 0.1rem dotted $fcD7;
        }
        &.category1 {
          background: url(~assets/img/layout/icon-category-type1.svg) 100% 2.5rem / 10.7rem auto no-repeat;
          p {
            padding: 0 12.7rem 0 0;
            text-align: right;
          }
        }
        &.category2 {
          background: url(~assets/img/layout/icon-category6.svg) 0 2.5rem / 9.9rem auto no-repeat;
          p {
            padding: 0 0 0 10rem;
          }
        }
        &.category3 {
          background: url(~assets/img/layout/icon-category2.svg) 0 3rem / 8.7rem auto no-repeat;
          p {
            padding: 0 0 0 10rem;
          }
        }
      }
    }

    &.type3 {
      flex-wrap: nowrap;
      justify-content: center;
      margin: 3rem -2rem 0;

      li {
        flex: 1;
        padding: 0 2rem;

        &:not(:first-child) {
          border-left: 0.1rem dotted #d7d7d7;
        }

        strong {
          margin-left: 0.4rem;
          height: 3.7rem;
          font-size: 1.5rem;
          line-height: 1.3;
        }
        img {
          display: block;
          margin: 0 auto;
        }

        .btn-arrow {
          margin: 1.5rem 0 1.5rem 0.4rem;
          line-height: 1.4;
          &:after {
            margin: 0.3rem 0 0;
          }
        }
        .btn {
          height: 3.5rem;
          margin-top: 0.5rem;
          padding: 0 1.7rem;
          border-color: #d7d7d7;
          line-height: 3.4rem;
        }
      }
    }
  }

  .main-banner {
    margin-top: 4.5rem;

    &.type1 {
      position: relative;
      min-height: 12.8rem;
      margin-top: 3.6rem;
      padding: 3rem 1.5rem 1.5rem 11.6rem;
      background: #e5f0ff;
      border: 0.1rem solid rgba(#315aad, 0.07);
      border-radius: 2rem;
      box-sizing: border-box;

      .wrap-txt {
        text-align: left;
        color: $fc1;

        .tit {
          margin: 0;
          font-size: 1.5rem;
          color: #111;
          line-height: 1.2;

          span {
            color: $pc3;
          }
        }
        .txt {
          margin: 0.5rem 0;
          line-height: 1.3;
        }
      }

      &:before {
        position: absolute;
        top: 2.3rem;
        left: 2.9rem;
        width: 7.2rem;
        height: 9.1rem;
        background: url(~assets/img/layout/icon-banner.svg) 0 0 / 100% auto no-repeat;
        content: "";
      }
    }
  }

  .event-list-wrap {
    position: relative;
    margin: 2.5rem -2.5rem;

    .event-list {
      li {
        padding-top: 0;
      }
    }

    .swiper-slide {
      margin-top: 0;
      margin: 0 0 0 2.5rem;
      width: 29rem;

      &:last-child {
        margin-right: 2.5rem;
      }
    }

    .evnet-box {
      .event-label {
        background: $fcF9;
      }
      .box-bottom {
        padding: 2rem 2.5rem 2.5rem;
      }
      .state-label {
        top: 2rem;
      }
    }
  }

  .swiper-pagination {
    position: static;
    margin-top: 2rem;
    height: 0.6rem;
  }
  .swiper-pagination-bullet {
    display: inline-block;
    background: $fc1;
    border-radius: 50%;
    vertical-align: top;
    opacity: 0.2;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
  }

  .wrap-empty {
    padding: 0;

    .btn {
      margin-top: 3rem;
    }

    .empty-text {
      &.type1 {
        strong {
          font-size: 1.5rem;
        }
        .num {
          font-size: 2.2rem;
        }
      }
    }

    & + .main-banner {
      margin-top: 5rem;
    }
  }
}

.header-main {
  & ~ .wrap-contents {
    .main-cont {
      padding-top: 1rem;
    }
  }
}
