.account-area {
  padding: 4rem 2rem 0;

  .terms-box {
    margin: 2.5rem 0 0;

    .more {
      right: -0.6rem;
    }
  }

  .wrap-terms {
    margin: 0 1rem;
    &:not(:first-child) {
      margin-top: 2.5rem;
      border-top: 0.1rem dotted $fcD7;
    }
  }

  .apply-info {
    margin-bottom: 3rem;
  }

  .apply-form {
    margin-top: 3rem;

    &:nth-of-type(1) {
      margin-top: 0;
    }
  }

  .form-input {
    input {
      padding: 0 1rem;
    }

    .input-box {
      width: 50%;

      input[type="password"] {
        width: 3rem;
        margin-right: 0.8rem;
        padding: 0;
        text-align: center;
      }

      &:not(:first-child) {
        position: relative;
        margin-left: 5rem;

        &:before {
          position: absolute;
          top: 50%;
          left: -3rem;
          width: 1rem;
          height: 0.1rem;
          background: $fcD7;
          content: "";
        }
      }
    }

    &.password {
      input {
        padding-right: 5.5rem;
        &::placeholder {
          letter-spacing: -0.1rem;
        }
      }
      .wrap-btn {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        button {
          position: static;
          margin-left: 0.6rem;
          transform: translateY(0);
          .bg-icon {
            margin: 0;
          }
        }
      }
    }
  }

  .member-apply {
    .terms-box {
      margin-top: 2rem;
    }
  }

  .block-layout {
    padding: 4rem 0 3.5rem;
    .wrap-empty {
      padding: 0;
    }
  }
}

//머핀클럽 멤법쉽
.wrap-membership {
  padding: 4rem 2rem 0;
  color: $fc1;

  .mumbership-card-list {
    margin-top: 3.5rem;

    .membership-info:not(:first-child) {
      margin-top: 3rem;
    }
  }

  .info-cont {
    .title {
      font-size: 1.5rem;
      padding-bottom: 1rem;
    }
    .customer-info {
      padding: 2.5rem 0 4rem;
      border-top: 0.1rem solid $fcF0;
      border-bottom: 0.1rem solid $fcF0;

      dd {
        color: $fc6;
      }
    }
    .gray-box {
      padding: 2.5rem 2rem;
    }

    &:not(:first-child) {
      margin-top: 3rem;
    }
  }

  .charge-top {
    padding: 0 0 3rem;
  }

  .big-title {
    padding-left: 1rem;
    color: $fc1;
    font-size: 2rem;

    > span {
      display: block;
      font-size: 1.7rem;
    }
  }

  .wrap-benefit {
    margin: 3rem 0 4rem;
    border-top: 0.1rem solid $fc1;
  }

  .tbl-grade {
    width: 100%;

    tr:first-child {
      td {
        border-top: 0;
      }
    }
    td {
      padding: 1.5rem 1rem;
      border: 0.1rem solid $fcF0;
      font-size: 1.1rem;
      text-align: center;
      line-height: 1.6;

      .num {
        color: $pc3;
      }
      strong {
        display: block;
        font-size: 1.3rem;
        font-weight: 400;
      }
      &:first-child {
        border-left: 0;
      }
      &:last-child {
        border-right: 0;
      }
    }

    .grade {
      display: block;
      font-size: 1.5rem;
      line-height: 1.2;

      &:before {
        display: block;
        width: 5rem;
        height: 5rem;
        margin: 0 auto 0.8em;
        content: "";
      }
      &.member-grade1:before {
        background: url(~assets/img/layout/icon-grade1.svg) 0 0 / 100% auto no-repeat;
      }
      &.member-grade2:before {
        background: url(~assets/img/layout/icon-grade2.svg) 0 0 / 100% auto no-repeat;
      }
      &.member-grade3:before {
        background: url(~assets/img/layout/icon-grade3.svg) 0 0 / 100% auto no-repeat;
      }
    }
  }

  .tbl-btm {
    margin-top: 3rem;

    .title {
      font-size: 1.5rem;
    }

    .list-dot {
      margin-top: 1rem;

      li {
        color: $fc1;
        font-size: 1.3rem;

        &:before {
          top: 0.8rem;
          width: 0.3rem;
          height: 0.3rem;
        }
        &:not(:first-child) {
          margin-top: 0.6rem;
        }
      }

      .point {
        position: relative;
        padding-left: 2.7rem;

        &:before {
          position: absolute;
          top: -0.2rem;
          left: 0.3rem;
          width: 2rem;
          height: 2rem;
          background: url(~assets/img/layout/icon-point-plus.svg) 0 0 / 100% auto no-repeat;
          content: "";
        }
      }

      .cash {
        position: relative;
        padding-left: 3rem;

        &:before {
          position: absolute;
          bottom: 0.2rem;
          left: 0;
          width: 2.8rem;
          height: 1.8rem;
          background: url(~assets/img/layout/icon-okcash.svg) 0 0 / 100% auto no-repeat;
          content: "";
        }
      }
    }
  }

  .wrap-benefit-coupon {
    margin-top: 4rem;

    .title {
      padding-bottom: 1.5rem;
      font-size: 1.5rem;
      line-height: 1.2;
      span {
        color: #6955ff;
      }
    }

    .benefit-coupon-list {
      border-top: 0.1rem solid $fc1;

      li {
        margin: 0;
        padding: 2.5rem 1rem 2rem;

        &:not(:first-child) {
          border-top: 0.1rem solid $fcF0;
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }

  .accordion {
    margin: 0 -2rem;
    .list-dot {
      li:not(:first-child) {
        margin-top: 1.3rem;
      }
    }
  }
}

.wrap-code {
  text-align: center;

  .gray-box {
    margin: 0 1rem;
    padding: 3rem 1.5rem;
  }
  .barcode-box {
    padding-right: 0;
    margin: 0 auto;
    width: 20.6rem;

    img {
      width: 100%;
    }
  }
  .btn-link {
    margin-top: 3rem;
  }
  .wrap-btn {
    margin-top: 4rem;
    button {
      width: 100%;
    }
  }
}

.barcode-box {
  position: relative;
  margin: 2rem 1.4rem 0;
  padding-right: 3.1rem;

  .btn-add {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.membership-top {
  .name-info {
    font-size: 1.7rem;
  }
  .txt-row {
    margin-top: 0.2rem;
    display: flex;
    button {
      margin-left: auto;
    }
  }
}

.membership-info {
  .title {
    font-size: 1.5rem;
    &:not(:first-child) {
      margin-top: 3rem;
    }
  }
  .list-dot {
    margin-top: 0.7rem;
  }

  // padding: 2.5rem 2rem 4rem;
  // border: 0.1rem solid $fcD7;
  // border-radius: 1.6rem;
  // .membership-top {
  //   display: flex;
  //   align-items: center;
  //   .thumb {
  //     margin-right: 2.3rem;
  //     width: 10rem;
  //   }
  //   .info {
  //     color: $fc1;
  //   }
  //   .title {
  //     font-size: 1.7rem;
  //   }
  //   .annual-fees {
  //     .col-point {
  //       color: $pc3;
  //       em {
  //         font-size: 1.4rem;
  //       }
  //     }
  //   }
  //   .period {
  //     margin-top: 0.5rem;
  //     font-size: 1.1rem;
  //     color: $fc6;
  //   }
  // }

  // .card-detail-info {
  //   margin-top: 3rem;
  //   padding: 3rem 0.5rem 0;
  //   border-top: 0.1rem solid $fcE4;

  //   .title {
  //     font-size: 1.5rem;
  //     &:not(:first-child) {
  //       margin-top: 2.5rem;
  //     }
  //   }
  //   .list-dot {
  //     margin-top: 0.7rem;
  //   }
  // }

  // .btn-area {
  //   margin-top: 3rem;
  //   padding: 0 0.5rem;
  // }
}

.membership-detail {
  margin-top: 4rem;
  .title {
    padding: 0 0 1rem 0.5rem;
    font-size: 1.5rem;
    border-bottom: 0.1rem solid $fc1;
    .bg-icon {
      width: 2rem;
      height: 2rem;
    }
  }
  .detail-box {
    padding-top: 4rem;

    &.type1 {
      .info-block:last-of-type {
        border-bottom: 0.1rem dotted $fcD7;
      }
    }

    .info-block {
      padding: 0 1rem 3.5rem;
      &:not(:first-child) {
        padding-top: 3rem;
        border-top: 0.1rem dotted $fcD7;
      }

      .info-tit {
        display: flex;
        font-size: 1.5rem;
        button {
          margin-left: auto;
        }
      }
      .list-dot {
        margin-top: 1rem;
      }
      .gray-box {
        margin-top: 2.5rem;
        text-align: center;
        justify-content: center;
        .col-point {
          margin-left: 0.5rem;
          color: $pc3;
        }
        em {
          font-size: 1.4rem;
          font-weight: 700;
        }
        .barcode {
          margin: 2rem 0 2.5rem;
          display: block;
          width: 21.6rem;
        }
        .bg-icon {
          margin: 1.5rem 0 0 0.4rem;
          width: 3.8rem;
          height: 3.8rem;
        }
      }
    }
  }
  .btn-area {
    margin-top: 1.5rem;
    padding-top: 4rem;
    text-align: center;
    border-top: 0.1rem solid $fc1;
  }
  .benefit-coupon-list {
    margin-top: 3rem;
  }
}

.membership-swiper {
  margin-top: 4rem;
  .swiper-container {
    margin: 0 -2rem;
    background: $fcF9;
    border-top: 0.1rem solid $fcF0;
    border-bottom: 0.1rem solid $fcF0;
    overflow: hidden;

    .swiper-slide {
      padding: 4rem 0 6rem;
      width: 27rem !important;
      color: $fc1;
      text-align: center;

      .thumb {
        margin: auto;
        padding: 1.5rem;
        width: 22rem;
        height: 12.5rem;
        font-weight: 700;
        color: $fcF;
        line-height: 1;
        text-align: left;
        border-radius: 1rem;
        box-sizing: border-box;
        box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.15);

        &.getcha {
          background: #f47645 url(../~assets/img/layout/bg-icon-getcha.svg) no-repeat 0 0.8rem;
          background-size: 22rem auto;
          border: 0.1rem solid #fd8250;
        }
        &.oil {
          background: #5d85fa url(../~assets/img/layout/bg-icon-oil.svg) no-repeat 0 0.8rem;
          background-size: 22rem auto;
          border: 0.1rem solid #4977ea;
        }
        &.exp {
          background: #43d6c5 url(../~assets/img/layout/bg-icon-exp.svg) no-repeat 0 0.8rem;
          background-size: 22rem auto;
          border: 0.1rem solid #36c9b9;
        }

        .txt1 {
          font-size: 1.1rem;
        }
        .txt2 {
          margin-top: 1rem;
          font-size: 2.8rem;
        }
        .txt3 {
          margin-top: 3.5rem;
          font-size: 0.9rem;
        }
      }

      .name {
        margin-top: 1.9rem;
        font-size: 1.7rem;
      }
      .info {
        text-align: center;

        span {
          margin-top: 0.6rem;
        }
      }
    }

    .swiper-pagination {
      .swiper-pagination-bullet {
        width: 0.8rem;
        height: 0.8rem;
        background: #e0e0e0;
        border-radius: 50%;
        opacity: 1;
        &.swiper-pagination-bullet-active {
          background: $fc1;
        }
      }
    }
  }

  .wrap-membercard-info {
    padding-top: 3rem;

    .membership-info {
      display: none;
      &.active {
        display: block;
      }

      .car-info {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        text-align: center;

        & > div:not(:first-child) {
          margin-left: 2rem;
        }
        .thumb {
          width: 13.8rem;
          height: 13.8rem;
          background: #dddddd;
        }
        p {
          margin-top: 1.5rem;
          font-size: 1.1rem;
          color: $fc9;
        }
        .sum {
          margin-top: 0.2rem;
          font-size: 1.3rem;
          color: $fc1;
          em {
            font-size: 1.5rem;
            font-weight: 700;
          }
        }
      }
      .asterisk-mark:not(:first-child) {
        margin-top: 3rem;
      }
    }
  }
}

.wrap-noti {
  margin: 0 2rem;
  border-top: 0.1rem solid $fc1;
  .noti-title {
    display: block;
    position: relative;
    padding: 1.6rem 1rem 1.6rem 2.3rem;
    border-bottom: 0.1rem solid $fcE4;
    color: $fc1;
    font-weight: 400;

    &:before {
      position: absolute;
      top: 2.3rem;
      left: 1.4rem;
      width: 0.3rem;
      height: 0.3rem;
      background: $fc6;
      border-radius: 50%;
      content: "";
    }
  }
  .noti-cont {
    padding: 2rem 1rem;

    p {
      margin-bottom: 1.5rem;
      padding-left: 1.5rem;
      font-size: 1.1rem;
      color: $fc1;
    }

    .list-dot:not(:first-child) {
      padding-left: 1.5rem;
    }

    .btn-arrow {
      margin: 2rem 0 0 3rem;
    }
  }
}

.stage-info {
  padding-bottom: 2.4rem;
  border-bottom: 0.1rem solid $fcE4;
  &:not(:first-child) {
    margin-top: 2.5rem;
  }
  .stage-num {
    font-size: 1.1rem;
    color: $pc3;
  }
  .stage-name {
    margin-top: 0.8rem;
    display: flex;
    font-size: 1.5rem;
    color: $fc1;

    & > span {
      margin-left: auto;
      color: $fc6;
      &.point {
        color: $fc9;
      }
      em {
        margin: 0 0.3rem;
        color: $pc3;
      }
    }
  }

  & + .btn-area {
    margin-top: 4rem;
  }
}

.form-box {
  padding: 2.5rem 1rem 2rem;
  border-bottom: 0.1rem solid $fcF0;
  .checkbox {
    display: block;
    &:not(:first-child) {
      margin-top: 2rem;
    }
  }
  .form-text-area {
    margin-top: 1.5rem;

    textarea {
      min-height: 6rem;
    }
  }
}

.member-layout {
  .block-layout {
    .wrap-empty {
      padding: 0;
    }
    .customer-info {
      margin-top: 2.5rem;
    }
  }

  .list-dot {
    margin-top: 1rem;

    &.color1 {
      @include listdot(0.8rem, 1.3rem, $pc3, 0, $pc3);
    }
  }
}

.benefit-coupon-list {
  li {
    position: relative;
    margin: 0 -1rem;
    padding: 2rem 1rem 2.5rem;
    display: flex;
    align-items: center;
    border-top: 0.1rem solid $fcF0;

    &:first-child {
      padding-top: 0;
      border-top: none;
    }
  }
  .coupon-img {
    position: relative;
    margin-right: 1.7rem;
    padding: 0 0 0 1.3rem;
    width: 11.2rem;
    height: 8rem;
    background: url(../~assets/img/layout/bg-coupon2.svg) 0 0 / 100% auto no-repeat;
    line-height: 1;
    box-sizing: border-box;

    .txt1 {
      margin-top: 1rem;
      font-size: 1.1rem;
      color: $pc3;
      text-decoration: underline;
    }
    .txt2 {
      margin-top: 0.6rem;
      font-size: 1.7rem;
      font-weight: 700;
      text-indent: -0.3rem;
      em {
        font-size: 2.6rem;
      }
    }
    .txt3 {
      margin-top: 0.1rem;
      font-size: 1.1rem;
      font-weight: 700;
      letter-spacing: 0.2rem;
    }

    .dmm {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      color: $fcF;
      background: rgba(0, 0, 0, 0.8);
      z-index: 1;

      &:before,
      &:after {
        content: "";
        position: absolute;
        right: 2.55rem;
        display: block;
        width: 0.9rem;
        height: 0.9rem;
        background: $fcF;
        border-radius: 50%;
      }
      &:before {
        top: -0.45rem;
      }
      &:after {
        bottom: -0.4em;
      }
    }

    .bg-icon {
      margin-right: 0.5rem;
      width: 2rem;
      height: 2rem;
    }
  }

  .tit {
    font-size: 1.5rem;
    letter-spacing: -0.1rem;
    em {
      margin-left: 0.2rem;
      font-weight: 700;
      color: $pc3;
    }
  }
  .desc {
    font-size: 1.1rem;
    line-height: 1;
  }
  .date {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    color: $fc6;
    span {
      display: block;
    }
  }
}

.car-del-list {
  margin-top: -0.8rem;
}

.qrcode-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18rem;
  transform: translate(-50%, -50%);
  .qrcode {
    text-align: center;
  }
}
