.store-time {
  display: flex;
  margin-top: 2rem;
  color: #111;
  dt {
    flex: none;
    padding-right: 0.5rem;
    .bg-icon {
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 0.5rem;
    }
  }
  .holliday {
    color: #666;
    margin-left: 0.5rem;
  }
}

.store-link {
  display: flex;
  padding: 1.8em 0;
  margin-top: 2.8rem;
  border-radius: 1px;
  background: #f9f9f9;
  border: 1px solid #f0f0f0;
  li {
    flex: 1;
    position: relative;
    text-align: center;
    color: #111;
    &:first-child:before {
      display: none;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 3.5rem;
      display: block;
      border-left: 0.1rem dotted #d7d7d7;
    }
  }
  .bg-icon {
    position: static;
    display: block;
    margin: 0 auto 0.4rem;
    width: 2.4rem;
    height: 2.4rem;
  }
}

.coupon {
  border-radius: 1.6rem;
  border: 0.1rem solid #111;
  color: #111;
  &.purple {
    color: #fff;
    border-color: #4538ff;
    background: #6257ff;
  }
  .discount {
    font-size: 3.4rem;
  }
}
