.store-time {
  display: flex;
  margin-top: 2rem;
  color: $fc1;
  dt {
    flex: none;
    padding-right: 0.5rem;
    .bg-icon {
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 0.5rem;
    }
  }
  .holliday {
    color: $fc6;
    margin-left: 0.5rem;
  }
}

.store-link {
  display: flex;
  padding: 1.8em 0;
  margin-top: 2.8rem;
  border-radius: 1px;
  background: $fcF9;
  border: 1px solid $fcF0;
  li {
    flex: 1;
    position: relative;
    text-align: center;
    color: $fc1;
    font-size: 1.4rem;
    button {
      display: block;
      width: 100%;
      font: inherit;
    }
    &:first-child:before {
      display: none;
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 3.5rem;
      display: block;
      border-left: 0.1rem dotted $fcD7;
    }
  }
  .bg-icon {
    position: static;
    display: block;
    margin: 0 auto 0.4rem;
    width: 2.4rem;
    height: 2.4rem;
  }
}

.coupon {
  border-radius: 1.6rem;
  border: 0.1rem solid $fc1;
  color: $fc1;
  &.purple {
    color: $fcF;
    border-color: $pc3;
    background: #6257ff;
  }
  .discount {
    font-size: 3.4rem;
  }
}

.row-section {
  padding: 4rem 2rem 3.5rem;
  box-sizing: border-box;
  border-top: 0.8rem solid $fcF9;
  border-bottom: 0.1rem solid $fcF0;
}

.content-tab-wrap {
  .tab-menu {
    display: flex;
    li {
      flex: 1;
      font-size: 1.7rem;
      padding-bottom: 1rem;
      text-align: center;
      border-bottom: 0.1rem solid $fcF0;
      &.active {
        border-bottom: 0.2rem solid $fc1;
      }
      .num {
        display: inline-block;
        font-size: 1.4rem;
      }
    }
  }
}

.article-area {
  margin-top: 4rem;
  &.type-map {
    margin: 5rem -2rem 0;
    height: 14rem;
    img {
      width: 100%;
      object-fit: cover;
      -webkit-object-fit: cover;
    }
  }
  .article-title {
    font-size: 1.5rem;
    color: $fc1;
    .num {
      font-size: 1.4rem;
    }
  }
  .icon-list-wrap {
    margin-top: 2rem;
  }
}

.icon-list-wrap {
  overflow: hidden;
  .icon-list {
    margin: -2.6rem 0 0 -2.6rem;
    li {
      float: left;
      width: 25%;
      box-sizing: border-box;
      padding: 2.6rem 0 0 2.6rem;
      font-size: 1.3rem;
      text-align: center;
      color: $fc1;
      .list-cont {
        display: inline-block;
        width: 6.4rem;
      }
    }
    .circle-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 6.4rem;
      box-sizing: border-box;
      margin: 0 auto 1rem;
      background-color: $fcF9;
      border: 0.1rem solid $fcF0;
      border-radius: 50%;
      .bg-icon {
        width: 2.8rem;
        height: 2.8rem;
      }
      .num {
        display: block;
        position: absolute;
        right: -0.3rem;
        top: 0.5rem;
        width: 2rem;
        height: 2rem;
        overflow: hidden;
        border-radius: 50%;
        font-size: 1.1rem;
        line-height: 2rem;
        color: $fcF;
        background-color: $fc1;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      }
    }
  }
}

.rating-box {
  .rating {
    text-align: left;
    vertical-align: middle;
    width: 8.8rem;
    background: url(../../assets/img/layout/icon_rating_star.png) no-repeat 0 100%;
    font-size: 0;
    .percent {
      background: url(../../assets/img/layout/icon_rating_star.png) no-repeat 0 0.2rem;
    }
  }
  .rating,
  .rating .percent {
    display: inline-block;
    height: 1.6rem;
    background-size: 8.8rem 3.2rem;
  }
  .num {
    display: inline-block;
    vertical-align: top;
    font-size: 1.6rem;
    color: $fc1;
  }
}

.review-info-box {
  margin-top: 1.5rem;
  padding: 1.8rem 0;
  border: 1px solid $fcF0;
  background: $fcF9;
  text-align: center;
  color: $fc1;
}

.review-wrap {
  .review-row {
    margin: 3rem 0 0;
    padding: 3rem 0 0;
    border-top: 0.1rem solid $fcF0;
    &:first-child {
      border-top: 0 none;
    }
    .rating-box,
    .user {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
