.wrap-filter {
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem 2rem;

  .left {
    .desc {
      color: $fc1;
    }
  }

  .right {
    .bg-icon {
      position: relative;
      width: 1.6rem;
      height: 1.6rem;
      margin-left: 2.2rem;

      &:not(:first-of-type):before {
        position: absolute;
        top: 50%;
        left: -1.4rem;
        height: 1.1rem;
        border-right: 0.1rem dotted $fc1;
        transform: translateY(-50%);
        content: "";
      }
    }
  }
}

.list-content {
  + .wrap-more {
    margin-top: 1rem;
  }

  .pattern-comp-list > li {
    &:first-child {
      margin-top: 0;
    }
    padding: 0 2rem;
  }
}

.list-item {
  margin-bottom: 4rem;

  .thumbnail {
    min-height: 20rem;
    @include cropimg(w);
  }

  .item-top {
    position: relative;

    .label {
      position: absolute;
      bottom: -2.3rem;
      left: 2rem;
      z-index: 3;
      height: 4.6rem;
      padding-left: 2.5rem;
      background: url(../../assets/img/layout/bg-label.png) 0 0 / 2.6rem 4.6rem no-repeat;
      color: $fc1;
      font-size: 1.1rem;
      line-height: 3.4rem;

      span {
        display: inline-block;
        vertical-align: top;
        height: 4.6rem;
        padding: 1rem 1rem 0 1.4rem;
        line-height: 1.35rem;
        background: url(../../assets/img/layout/bg-label-right.png) 100% 0 / auto 4.6rem no-repeat;
        box-sizing: border-box;
        text-decoration: underline;
      }

      &:before {
        position: absolute;
        top: 0.2rem;
        left: 0.8rem;
        width: 2.8rem;
        height: 2.8rem;
        background: url(../../assets/img/layout/icon-confusion-off.svg) 0 0 / 100% auto no-repeat;
        content: "";
      }

      &.type2:before {
        background-image: url(../../assets/img/layout/icon-ticket.svg);
      }
    }

    .wrap-badge {
      display: flex;
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;
      z-index: 10;
    }
  }

  .item-bottom {
    position: relative;
    padding: 2.8rem 2rem 0;
    box-sizing: border-box;

    .wrap-btn {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 3rem;

      .btn {
        flex: 1 1 auto;
        width: auto;
        padding: 0 2.5rem;

        + .btn {
          margin-left: 1rem;
        }
      }
    }
  }

  &.detail-page {
    .info {
      padding-right: 0;
      .title {
        font-size: 1.8rem;
      }
    }
  }

  .info {
    padding-right: 2rem;

    .title {
      display: block;
      margin-bottom: 0.4rem;
      font-size: 1.5rem;
      color: $fc1;
      word-break: break-all;
      @include clamp(2);
    }

    .desc {
      @include clamp(2);
    }
  }

  .etc {
    margin-top: 1.8rem;

    .bg-icon {
      width: 1.6rem;
      height: 1.6rem;
      margin: -0.5rem 0.5rem 0 0;
    }

    a {
      display: inline-block;
      margin-right: 0.8rem;
      color: $fc1;

      span {
        color: $fc6;
      }

      &:not(:first-of-type):before {
        display: inline-block;
        width: 0.1rem;
        height: 1.1rem;
        margin: -0.2rem 1rem 0 0;
        border-right: 0.1rem dotted $fc1;
        vertical-align: middle;
        content: "";
      }

      &.active {
        color: $pc3;
        text-decoration: underline;

        .location {
          background-image: url(../../assets/img/layout/icon-location-active.svg);
        }
      }
    }
  }

  .wrap-tag {
    font-size: 0;
    vertical-align: top;
    .bg-icon {
      width: 2.8rem;
      height: 2.8rem;
      margin-right: 0.7rem;
    }

    .tag {
      display: inline-block;
      margin: 1.5rem 1.5rem 0 0;
      font-size: 1.3rem;
      color: $fc1;
    }
  }

  .favorite {
    position: absolute;
    top: 3.1rem;
    right: 2rem;
    width: 1.6rem;
    height: 1.6rem;
  }

  .wrap-error {
    margin-top: 2.5rem;
    padding: 0 2.5rem;
    border-top: 0.1rem solid $fcE4;
    text-align: center;

    .btn {
      width: 100%;
      margin-top: 2rem;

      .bg-icon {
        width: 1.6rem;
        height: 1.6rem;
      }
    }

    .text-guide {
      display: inline-block;
      margin-top: 2rem;
      color: $pc3;
      font-size: 1.1rem;

      &:before {
        background: $pc3;
      }
    }
  }

  .wrap-checkbox {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    padding: 1rem 0.5rem 0;
    border-top: 0.1rem solid $fcE4;

    label {
      width: 5.6rem;
      height: 3rem;
      margin: 0;
      padding: 0;
      font-size: 1.2rem;
      line-height: 3rem;
    }

    .text-box {
      width: 100%;
      margin: 1rem 0.5rem 0;
      padding: 1.2rem 0;
      color: $fc1;
      border: none;
      background: $fcF0;
    }

    .wrap-more {
      flex: 1;
      margin: 1rem 1.1rem 0 0;
      text-align: right;
    }

    .btn {
      margin: 0 2.5rem;
    }
  }

  .checkbox:nth-of-type(4n) {
    margin-right: 1rem;
  }

  .checkbox:nth-of-type(5n) {
    margin-right: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

//empty
.wrap-empty {
  padding: 8rem 0;
  text-align: center;

  .empty-img {
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
  }

  .empty-text {
    margin-top: 0.5rem;
    line-height: 1.5;

    strong {
      font-size: 1.7rem;
      font-weight: 400;
      color: $fc1;
    }

    &:first-of-type {
      margin-top: 1.8rem;
    }
  }

  .btn-area {
    margin-top: 5.2rem;
    button {
      font-size: 1.3rem;
    }
  }

  .text-box {
    margin: 3rem 2rem 0;
    .text-color {
      color: $pc3;
    }
    + .btn-area {
      margin: 4rem 2rem 0;
      .btn {
        width: 100%;
      }
    }
  }
}

.filter-layer {
  position: fixed;
  top: 5.5rem;
  left: 0;
  width: 100%;
  height: 100%;

  .top {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 3rem 3rem 3rem 4rem;
    border-bottom: 0.1rem solid $fcE4;

    .desc {
      margin-top: 0.2rem;
      flex: 1 1 auto;
      color: $fc1;
    }
  }

  .wrap-filter-tab {
    display: flex;
    height: calc(100% - 15.6rem);
  }

  .filter-menu {
    @include scroll(y);
    width: 10.6rem;
    background: $fcF9;

    ul {
      min-height: 100%;
      padding-top: 2.05rem;
      padding-bottom: 9rem;
      border-right: 0.1rem solid $fcE4;
    }

    li {
      height: 5rem;
      line-height: 5rem;
      text-align: center;
      box-sizing: border-box;
      overflow: hidden;

      a {
        display: block;
        background: $fcF9;
        color: $fc9;
        font-size: 1.5rem;
        box-sizing: border-box;
      }

      &.active {
        margin-right: -0.1rem;
        height: 5.1rem;
        line-height: 5.1rem;
        border-top: 0.1rem solid $fcE4;
        border-bottom: 0.1rem solid $fcE4;
        border-right: 0.1rem solid $fcF;

        a {
          background: $fcF;
          color: $gc3;
        }
      }
    }
  }

  .filter-content {
    flex: 1 1 auto;
    @include scroll(y);
  }

  .filter-list-item {
    padding-top: 2.2rem;
    padding-bottom: 9rem;

    li {
      padding-left: 3.5rem;
      height: 5.2rem;
      line-height: 5.2rem;

      a {
        color: $fc1;
        font-size: 1.5rem;

        &:active {
          border-bottom: 0.1rem solid $fc1;
          font-weight: 700;
        }
      }
    }
  }
}

.wrap-reservation {
  .define-box.total {
    margin-top: 0;
  }
}

.reservation-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem 2.8rem;
  box-sizing: border-box;
  border-top: 0.8rem solid $fcF9;
  border-bottom: 0.1rem solid $fcF0;
  color: $fc1;

  &:first-of-type {
    border-top: 0;
  }

  &:last-of-type {
    border-bottom: 0;
  }

  .title {
    font-size: 1.5rem;

    .bg-icon {
      width: 2rem;
      height: 2rem;
      margin-top: -0.3rem;
      margin-right: 0.5rem;
    }
  }

  .date {
    color: $pc3;
    text-align: right;

    & + .date {
      flex-basis: 100%;
    }
  }

  .desc {
    color: $fc9;
    font-size: 1.1rem;
  }

  .info {
    width: 100%;
  }

  .wrap-info {
    width: 100%;
    margin-top: 0.8rem;
    border-top: 0.1rem solid $fcF0;

    dl {
      overflow: hidden;
    }

    dt {
      clear: both;
      float: left;
      color: $fc6;
    }

    dd {
      float: right;
      color: $pc3;
    }

    dt,
    dd {
      margin-bottom: 1.5rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .wrap-select {
      margin: 2.5rem 1rem 0;
      padding-bottom: 2.5rem;
      border-bottom: 0.1rem solid $fcF0;
    }

    .wrap-checkbox {
      .checkbox {
        margin-top: 2.5rem;
      }
    }
  }

  .wrap-tab {
    margin: 2.5rem 1rem 0;
  }

  .wrap-btn {
    margin-top: 4rem;
    text-align: center;
  }
  .wrap-car-info {
    .wrap-btn {
      margin: 0.5rem 0;
    }
  }

  .tab-content {
    .btn:not(:first-of-type) {
      margin-top: 3rem;
    }

    .wrap-car-info {
      padding: 3.2rem 0 2.5rem;
    }
  }

  .wrap-car-info {
    padding: 2.5rem 1rem;
    border-bottom: 0.1rem solid $fcF0;

    &:last-of-type {
      padding-bottom: 0;
      border-bottom: 0;
    }

    .title {
      font-size: 1.3rem;
      margin-bottom: 1.5rem;
    }
  }

  .wrap-title {
    display: flex;
    align-items: center;

    // .bg-icon {
    //   margin-left: 0.5rem;
    // }
  }

  .text-guide {
    margin: 2rem 0 0.5rem;
    color: $fc1;
    font-size: 1.1rem;

    &:before {
      top: 0.1rem;
      left: 0.3rem;
      width: 0;
      height: 0;
      background: none;
      content: "*";
    }
  }
}

.wrap-setting {
  padding-bottom: 8rem;
}

.setting-cont {
  padding: 4rem 2rem 3.5rem;
  border-top: 0.8rem solid $fcF9;
  border-bottom: 0.1rem solid $fcF0;

  &:first-of-type {
    border-top: 0;
  }

  &:last-of-type {
    border-bottom: 0;
  }

  .title-sub {
    margin-bottom: 2.5rem;
  }

  .desc {
    margin: 0 1rem 2.5rem;
  }

  .input-spinner {
    margin: 0 1rem 1rem;

    + .wrap-checkbox {
      margin: 0 1rem;
    }
  }

  .time {
    button {
      height: 4rem;
      padding: 0 2rem;
      box-sizing: border-box;
      background: $fcF0;
      border: 0.1rem solid $fcE4;
      border-radius: 10rem;
      font-size: 1.4rem;
    }
  }

  .checkbox {
    label {
      min-width: 7.1rem;
      padding: 0;
      color: $fc1;
    }
  }

  .wrap-time {
    padding: 0 1rem;
  }
}

.title-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.9rem;
  border-bottom: 0.1rem solid $fcF0;
  font-size: 1.5rem;
  color: $fc1;

  .title {
    .bg-icon {
      margin-right: 0.5rem;
    }
  }

  .bg-icon {
    width: 1.6rem;
    height: 1.6rem;
    &.size2 {
      width: 2rem;
      height: 2rem;
    }

    &.tooltip2 {
      margin-top: -0.4rem;
      margin-left: 0.6rem;
    }
  }

  & + .order-info,
  & + .define-list,
  & + .point-info {
    margin-top: 2.3rem;
  }
}

.wrap-time {
  margin-bottom: 2.5rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  .title {
    color: $fc1;
  }
}

.define-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2rem;
  padding: 0 1rem 1rem;
  border-bottom: 0.1rem solid $fc1;
  color: $fc1;

  dt,
  dd {
    display: inline-block;

    &.right {
      float: right;
      span {
        margin-right: 0.15rem;
      }
    }
  }

  & + .define-list {
    margin-top: 2.5rem;
  }
}

.define-list {
  overflow: hidden;

  dt,
  dd {
    float: left;
    margin-bottom: 2rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    &.bold {
      color: $fc1;
    }
  }

  dt {
    clear: both;
    &.replay-txt {
      .bg-icon {
        width: 1.2rem;
        height: 1.2rem;
        margin-left: 0;
      }
    }
  }

  dd {
    float: right;
    text-align: right;
  }

  .sub-point {
    display: block;
    font-size: 1.1rem;
    color: $pc3;
  }
  .date {
    display: block;
    font-size: 1.2rem;
    color: $fc9;
  }

  .bg-icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 0.5rem;
  }

  & + .define-box {
    margin-top: 3.5rem;
  }
}

.text-guide {
  position: relative;
  padding-left: 1.2rem;

  &:before {
    position: absolute;
    top: 0.7rem;
    left: 0.5rem;
    width: 0.2rem;
    height: 0.2rem;
    background: $fc6;
    border-radius: 50%;
    content: "";
  }
}

.list-dot {
  // default   :  margin-top, font-size, color, dot style
  @include listdot(0.8rem, 1.1rem, $fc6, 0); // ·
  &.color1 {
    @include listdot(0.8rem, 1.1rem, $pc3, 0, $pc3);
  }
  &.color2 {
    @include listdot(0.8rem, 1.1rem, $fc1, 0);
  }
  &.type1 {
    @include listdot(0.8rem, 1.3rem, $fc1, 0, $fc1);
  }
  &.type2 {
    // "-" 스타일
    @include listdot(0.5rem, 1.1rem, $fc6, 1);
  }
}

// 카드박스타입
.info-type-box {
  position: relative;
  &:not(:first-child) {
    margin-top: 2rem;
  }
  //check-box
  &.chk-type {
    padding: 0;
    border: none;

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
    }

    input[type="checkbox"]:checked + label {
      &.info-type-cont,
      &.info-car-cont {
        background: $fcF;
        border-color: $fc1;
        // box-shadow: 0 0 1rem 0.4rem rgba(0, 0, 0, 0.08);
        transition: background 0.2s, border 0.2s, box-shadow 0.2s;
      }

      &:after {
        background: url("../../assets/img/layout/icon-chk-on.svg") no-repeat center center;
        background-size: 100% auto;
      }
    }

    label {
      margin: 0;
      transition: background 0.2s, border 0.2s, box-shadow 0.2s;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 2.5rem;
        display: block;
        width: 2rem;
        height: 2rem;
        background: url("../../assets/img/layout/icon-chk-off.svg") no-repeat center center;
        background-size: 100% auto;
        transform: translate(0, -50%);
      }
    }
  }

  &.chk-box-type {
    input[type="checkbox"] {
      position: absolute;
      top: 2.5rem;
      left: 2.5rem;
      z-index: 2;
    }
    input[type="checkbox"]:checked + label {
      &.info-type-cont,
      &.info-car-cont {
        background: $fcF;
        border-color: $fc1;
        // box-shadow: 0 0 1rem 0.4rem rgba(0, 0, 0, 0.08);
        transition: background 0.2s, border 0.2s, box-shadow 0.2s;
      }

      &:after {
        background: url("../../assets/img/layout/icon-chk-on.svg") no-repeat center center;
        background-size: 100% auto;
      }
    }
    label {
      margin: 0;
    }

    .info-type-cont {
      padding-top: 3rem;
      .sc-title {
        margin-top: 2rem;
      }
    }
  }

  //radio
  &.radio-type {
    padding: 0;

    input[type="radio"] {
      position: absolute;
      opacity: 0;
    }

    input[type="radio"]:checked + label {
      &.info-type-cont,
      &.info-car-cont {
        background: $fcF;
        border-color: $fc1;
        transition: background 0.2s, border 0.2s;
      }
    }

    input[type="radio"] + label {
      margin: 0;
      transition: background 0.2s, border 0.2s;
    }
  }

  &.right-btn {
    .info-type-cont {
      padding-right: 5rem;
      background: $fcF;
      .top .date {
        margin-right: -2.5rem;
      }
    }

    button[data-type="right-btn"] {
      position: absolute;
      top: 50%;
      right: 2.5rem;
      transform: translate(0, -50%);
    }
  }

  &.type1 {
    .info-type-cont {
      padding: 2.5rem 2.5rem 4rem;
      background: $fcF;
      border-color: $fc1;
    }
  }

  &.download {
    .info-type-cont {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 5;
      }
      &:after {
        content: "쿠폰 발급 완료";
        position: absolute;
        top: 50%;
        left: 50%;
        padding-left: 2.5rem;
        font-size: 1.5rem;
        color: $fcF;
        background: url(../../../assets/img/layout/icon-checkbox-white.png) no-repeat 0 center / 2rem 2rem;
        z-index: 6;
        transform: translate(-50%, -40%);
      }
      .btn-download {
        display: none;
      }
    }
  }

  .info-type-cont {
    position: relative;
    padding: 2.5rem 2.5rem 3.8rem;
    display: block;
    line-height: 1;
    background: $fcF9;
    border: 0.1rem solid $fcD7;
    border-radius: 1.6rem;
    overflow: hidden;

    &.type1 {
      padding-top: 5.4rem;
      &:after {
        top: calc(50% + 2.7rem);
      }
      .big-title {
        margin-top: 2.7rem;
      }
    }

    .top {
      display: flex;
      align-items: center;
      .title {
        font-size: 1.5rem;
        font-weight: 700;

        &.blue {
          color: $pc3;
        }

        &.green {
          color: $pc5;
        }
      }

      button {
        margin-top: -0.2rem;
        margin-left: auto;
      }
      .date {
        margin-left: auto;
        font-size: 1rem;
        color: $fc9;
      }
    }
    .top-grad {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      padding: 1rem 2.5rem 0;
      display: flex;
      align-items: center;
      height: 5.4rem;
      color: $fcF;
      background: linear-gradient(to right, $gc3 0%, $gc4 40%);
      box-sizing: border-box;

      &.grad1 {
        background: linear-gradient(to right, $gc1 0%, $gc2 40%);
      }
      .title {
        font-weight: 700;
        strong {
          margin-right: 0.4rem;
          font-size: 2rem;
          vertical-align: middle;
        }
      }

      .date {
        margin-left: auto;
        font-size: 1.1rem;
        color: $fcF;
      }
    }

    .big-title {
      margin-top: 1.5rem;
      font-size: 1.5rem;
      color: $fc1;

      strong {
        font-size: 2.4rem;
        font-weight: 700;
      }
    }

    .info-txt {
      margin-top: 1.2rem;
      color: $fc6;
      font-size: 1.3rem;
      line-height: 1.9rem;

      & + .info-txt2 {
        margin-top: 0.5rem;
      }
    }

    .info-txt2 {
      margin-top: 0.2rem;
      color: $fc9;
    }

    .info-sub-txt {
      color: $fc9;
    }
    .list-dot {
      margin-top: 2rem;
    }

    .btn-area {
      margin-top: 2.4rem;
      margin-bottom: -1.2rem;
      padding-top: 2.2rem;
      text-align: center;
      border-top: 0.1rem dotted $fcD7;
    }
    .wrap-btn {
      margin-top: 4rem;
      button {
        width: 100%;
      }
    }

    // 오일선택스타일
    .sc-title {
      margin-top: 1.5rem;
      font-size: 1.7rem;
      color: $fc1;
      font-weight: 700;
    }
    .thumb-box {
      margin-top: 1.5rem;
      display: flex;
      align-items: center;
      .thumb-img {
        margin-right: 2.5rem;
        width: 6rem;
        height: 6rem;
        border: 0.1rem solid $fcE4;
        background: $fcF;
      }
      .thumb-txt {
        flex: 1;
        line-height: 1.5;
      }
    }
  }

  .info-car-cont {
    position: relative;
    padding: 2.5rem;
    display: block;
    line-height: 1;
    background: $fcF9;
    border: 0.1rem solid $fcD7;
    border-radius: 1.6rem;
    &.type1 {
      .logo {
        top: 4.8rem;
        transform: inherit;
      }
    }
    &.type2 {
      padding: 4.9rem 3rem 5.1rem;
      .car-name {
        margin-top: 0;
      }
    }
    .logo {
      position: absolute;
      top: 50%;
      right: 3rem;
      width: 7.5rem;
      transform: translate(0, -50%);

      img {
        width: 100%;
      }

      button {
        margin-top: 1.2rem;
        margin-left: -0.6rem;
        width: 8.7rem;
      }
    }

    .car-barnd {
      margin-top: 0.5rem;
      color: $fc9;
      text-align: center;
    }

    .car-name {
      margin-top: 2rem;
      font-size: 1.5rem;
      color: $fc1;
    }

    .car-number {
      margin: 0.8rem 0 0.4rem;
      font-size: 1.8rem;
      color: $fc1;
    }
    .car-info {
      margin: 1.7rem -0.5rem 0;
      padding: 1rem 1.5rem 0;
      line-height: 1;
      color: $fc1;
      text-align: center;
      border-top: 0.1rem dotted $fcD7;
    }
    .car-info-box {
      margin-top: 1.5rem;
      display: flex;
      span {
        &:first-child {
          margin-left: 0;
          padding: 0.6rem 1.2rem;
          color: $pc3;
        }
        margin-left: 0.5rem;
        padding: 0.6rem 1rem;
        display: block;
        color: $fc1;
        font-size: 1.1rem;
        line-height: 1.6rem;
        background: $fcF;
        border: 0.1rem solid $fcE4;
      }
    }
  }

  .dropdown-area {
    position: absolute;
    top: 1rem;
    right: 1rem;
    .edite-more {
      background-size: 1.6rem 1.6rem;
    }
  }

  .list-btn {
    margin-top: 2.6rem;
    li {
      position: relative;
      padding: 1.9rem 0 1.8rem;
      border-top: 0.1rem solid $fcF0;
      &:first-of-type {
        padding-top: 0;
        border-top: none;
      }
      &:last-of-type {
        padding-bottom: 0;
      }
      button {
        position: relative;
        padding: 0 1.5rem 0 1.7rem;
        width: 100%;
        color: $fc1;
        text-align: left;
        line-height: 1.5rem;
        &:before {
          content: "";
          position: absolute;
          top: 0.5rem;
          left: 0.4rem;
          display: block;
          width: 0.3rem;
          height: 0.3rem;
          background: $fc6;
          border-radius: 50%;
        }
        &.vartical-bar {
          > span {
            display: inline-block;
            margin-top: 0;
            &:after {
              border-color: $fcD7;
            }
          }
        }
        .sub-txt {
          margin-top: 0.8rem;
          display: block;
          color: $fc6;
        }
        .bg-icon {
          position: absolute;
          top: 50%;
          right: 0;
          width: 1.2rem;
          height: 1.2rem;
          transform: translate(0, -50%);
        }
        > span {
          display: block;
        }
      }
    }
  }
}

.wrap-date {
  .title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem 3rem 2rem;
    box-sizing: border-box;
    color: $fc1;

    .date {
      color: $pc3;
    }
  }

  .date-area {
    display: flex;
    align-items: center;
    height: 11rem;
    padding: 0 2.9rem;
    background-color: $fcF9;
    border-top: 0.1rem solid $fcF0;
    border-bottom: 0.1rem solid $fcF0;
  }

  .list-date {
    display: flex;
    position: relative;
    overflow-x: visible;
    overflow-y: hidden;

    white-space: nowrap;
    scroll-snap-type: x mandatory;

    li {
      scroll-snap-align: start;
      box-sizing: border-box;

      &:not(:first-child) {
        margin-left: 0.6rem;
      }
    }

    .sat {
      color: #2d80de;
    }

    .sun {
      color: #ff2533;
    }

    label {
      span {
        flex: 1 1 100%;
        color: $fc1;
        transition: all 0.2s ease;

        &.date {
          font-size: 1.8rem;

          &:after {
            display: block;
            width: 1.1rem;
            height: 0.1rem;
            margin: 0.2rem auto 0.5rem;
            border-top: 0.1rem dotted $fc9;
            content: "";
          }
        }
      }
    }
  }
  & + .wrap-filter {
    padding-top: 2rem;
  }
}

.wrap-calendar {
  width: 100%;
  margin-top: 0.8rem;
  padding-top: 3rem;
  border-top: 0.1rem solid $fcF0;

  .accordion {
    &:not(:first-child) {
      margin-top: 0.5rem;
    }

    .accordion-title {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 1rem 1rem;
      background-color: $fcF;
      border: 0;
      font-size: 1.3rem;
      color: $fc6;

      .btn-toggle {
        font-size: 1.1rem;
      }

      .bg-icon {
        width: 1rem;
        height: 1rem;
        margin-top: -0.3rem;
      }
    }

    &.active {
      .accordion-title {
        border-bottom: 0.1rem solid $fc1;
      }

      .bg-icon {
        transform: rotate(180deg);
      }
    }

    .accordion-cont {
      margin-bottom: 2rem;
      padding: 2.5rem 0;
      border-bottom: 0.1rem solid $fcF0;
    }
  }
}

.wrap-tooltip {
  position: relative;

  .tooltip2 {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 0.5rem;
    vertical-align: top;
  }

  .tooltip-box {
    position: absolute;
    top: 3rem;
    left: -7.3rem;
    z-index: 50;
    width: 31rem;
    padding: 1.8rem 2rem;
    box-sizing: border-box;
    background: linear-gradient(to right, $gc1 0%, $gc2 100%);
    border-radius: 0.6rem;
    box-shadow: 0 0 1rem 0.4rem rgba(0, 0, 0, 0.08);
    &:not(.active) {
      display: none;
    }
    p {
      color: $fcF;
      line-height: 1.5;
      word-break: break-all;
    }

    &:before {
      position: absolute;
      top: -1.2rem;
      left: 8rem;
      width: 0;
      height: 0;
      border: 0.6rem solid transparent;
      border-bottom-color: #10a9e3;
      content: "";
    }
  }

  .tooltip-close {
    position: absolute;
    top: 0.8rem;
    right: 1rem;
    width: 1.2rem;
    height: 1.2rem;
  }

  &.active {
    .tooltip-box {
      display: block;
    }
  }
}
