.wrapper-main {
  min-height: 100vh;
  background-color: $fcF9;
  .wrap-contents {
    padding-bottom: 6rem;
  }
}

.main-cont {
  padding: 4rem 2.5rem 0;

  .main-txt {
    margin: 0 0 0 1.5rem;
    padding-top: 1.5rem;
    color: $fc1;
    font-size: 1.8rem;
    line-height: 1.3;
  }

  .info-type-box {
    margin-top: 0;
    padding-top: 2.5rem;

    .dropdown-area {
      top: 3rem;
    }

    .btn-drpomenu {
      .bg-icon {
        background-size: auto 1.5rem;
      }
    }
  }

  .info-car-cont.type1 {
    padding: 1rem 2.5rem 3.5rem 2.5rem;
    background: $fcF;
    border-color: $fcF0;

    .car-number {
      display: inline-block;
      margin: 0.7rem 0 0;
      font-size: 2.4rem;
      width: calc(100% - 10rem);
    }
    .car-name {
      display: inline-block;
      margin-top: 3rem;
      font-size: 1.3rem;
      width: calc(100% - 10rem);
    }
    .car-info {
      clear: both;
      margin: 1.5rem 0 0;
      padding: 0 0.5rem;

      .vartical-bar > span {
        margin-top: 2rem;
      }
    }
    .logo {
      position: static;
      float: right;
    }
  }

  .wrap-category {
    margin-top: 1.5rem;
  }

  .list-category {
    display: flex;
    flex-wrap: wrap;
    width: 32.5rem;
    padding: 0 0.5rem;
    box-sizing: border-box;

    li {
      position: relative;
      margin-right: 2rem;
      box-sizing: border-box;
      text-align: center;

      img {
        width: 7rem;
        height: 7rem;
      }

      strong {
        display: block;
        color: $fc1;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1;
      }

      &:last-child {
        margin-right: 0;
      }
      &:not(:first-child):before {
        position: absolute;
        top: 1rem;
        left: -1rem;
        height: 4rem;
        border-left: 0.1rem dotted $fcD7;
        content: "";
      }
    }

    &.type1 {
      justify-content: space-between;
      padding-top: 2rem;

      li {
        display: flex;
        align-items: center;
        width: 14.7rem;
        min-height: 9.2rem;
        margin: 0;
        padding-left: 8.4rem;
        text-align: left;
        white-space: nowrap;

        img,
        &:nth-child(odd):before {
          display: none;
        }
        &:before {
          top: inherit;
          left: -1.2rem;
        }
        &:nth-of-type(1) {
          background: url(../../assets/img/layout/icon-category1.svg) 0 0 / 8.6rem 8.2rem no-repeat;
        }
        &:nth-of-type(2) {
          padding-left: 9.6rem;
          background: url(../../assets/img/layout/icon-category2.svg) 0 0 / 8.1rem 8.4rem no-repeat;
        }
        &:nth-of-type(3) {
          background: url(../../assets/img/layout/icon-category3.svg) 0 0 / 8rem 8rem no-repeat;
        }
        &:nth-of-type(4) {
          background: url(../../assets/img/layout/icon-category6.svg) 0 0 / 9.1rem 9rem no-repeat;
        }
        & > a {
          display: flex;
          align-items: center;
        }
      }
    }

    &.type2 {
      width: auto;
      padding: 0 1rem;

      li {
        margin: 0;
        padding: 2rem 0 4rem;
        text-align: left;
        flex-basis: 100%;
        position: relative;

        .tit {
          color: $fc1;
          font-size: 1.7rem;
          line-height: 1.3;
          padding: 0 0.5rem;

          > span {
            color: $pc3;
          }
        }

        .txt {
          margin-top: 1.5rem;
          color: $fc1;
          line-height: 1.3;
          padding: 0 0.5rem;
        }

        .wrap-btn {
          margin: 2.5rem 0 0;
          display: flex;

          .btn {
            padding: 0 2.7rem;
            &:not(:first-child) {
              margin-left: 1rem;
            }
            .bg-icon {
              margin-top: -0.1rem;
            }
          }
        }

        &:not(:first-child) {
          border-top: 0.1rem dotted $fcD7;
        }
        &:before {
          display: none;
        }
        &.category1 {
          background: url(../../assets/img/layout/icon-category-type1.svg) 100% 2rem / 12.4rem auto no-repeat;
        }
        &.category2 {
          padding-top: 4rem;
          background: url(../../assets/img/layout/icon-category-type2.svg) 0.5rem 2rem / 9.2rem auto no-repeat;

          p {
            padding-left: 10rem;
          }
        }
      }
    }

    &.type3 {
      flex-wrap: nowrap;
      justify-content: center;
      width: auto;
      margin: 3rem -2rem 0;
      padding: 0;

      li {
        flex: 1;
        margin: 0;
        padding: 0 2rem;
        text-align: left;

        &:not(:first-child) {
          border-left: 0.1rem dotted #d7d7d7;
        }
        &:before {
          display: none;
        }

        strong {
          margin-left: 0.4rem;
          min-height: 3.8rem;
          font-size: 1.5rem;
          line-height: 1.3;
        }
        img {
          display: block;
          margin: 0 auto;
        }
        .btn-arrow {
          margin: 1.5rem 0 1.5rem 0.4rem;
          line-height: 1.4;
          &:after {
            margin: 0.3rem 0 0;
          }
        }
        .btn {
          height: 3.5rem;
          margin-top: 0.5rem;
          padding: 0 1.7rem;
          border-color: #d7d7d7;
          line-height: 3.4rem;
        }
      }
    }
  }

  .main-banner {
    position: relative;
    min-height: 13.4rem;
    margin: 4.5rem 0 0;
    padding: 3rem 1.5rem 2.1rem 11.9rem;
    background: #e5f0ff;
    border: 0.1rem solid rgba(#315aad, 0.07);
    border-radius: 2rem;
    box-sizing: border-box;

    &:before {
      position: absolute;
      top: 2.3rem;
      left: 1.5rem;
      width: 9rem;
      height: 9rem;
      // background: url(../../assets/img/layout/icon-banner.svg) 0 0 / 100% auto no-repeat;
      background: #f0f0f0;
      content: "";
    }

    .tit {
      margin-top: 1.2rem;
      font-size: 1.5rem;
      color: #111;
    }

    &.type1 {
      min-height: 12.8rem;
      margin-top: 3.6rem;
      padding: 3rem 1.5rem 1.5rem 11.6rem;

      .wrap-txt {
        text-align: left;
        color: $fc1;

        .tit {
          margin: 0;
          font-size: 1.3rem;
          line-height: 1.2;
          span {
            color: $pc3;
            font-size: 1.5rem;
          }
        }
        .txt {
          margin: 0.5rem 0;
          line-height: 1.3;
        }
      }

      &:before {
        left: 2.9rem;
        width: 7.2rem;
        height: 9.1rem;
        background: url(../../assets/img/layout/icon-banner.svg) 0 0 / 100% auto no-repeat;
      }
    }
  }

  .event-list-wrap {
    position: relative;
    margin: 3rem -2.5rem;

    li {
      margin-top: 0;
      margin: 0 0 0 2.5rem;
      width: 29rem;

      &:last-child {
        margin-right: 2.5rem;
      }
    }
    .swiper-pagination {
      left: 50%;
      transform: translateX(-50%);
      margin-top: 1.2rem;
    }
    .swiper-pagination-bullet {
      display: inline-block;
      background: $fc1;
      border-radius: 50%;
      opacity: 0.2;
    }
    .swiper-pagination-bullet-active {
      opacity: 1;
    }
  }

  .wrap-empty {
    padding: 0rem 0 1.5rem;

    .btn {
      margin-top: 3.5rem;
    }

    .empty-text {
      &.type1 {
        strong {
          font-size: 1.5rem;
        }
        .num {
          font-size: 2.2rem;
        }
      }
    }

    & + .main-banner {
      margin-top: 5rem;
    }
  }
}

.header-main {
  & ~ .wrap-contents {
    .main-cont {
      padding-top: 0;
    }
  }
}
