.toast-area {
  position: fixed;
  bottom: 8rem;
  left: 2rem;
  right: 2rem;
  z-index: 50;
  padding: 1.4rem 0;
  width: calc(100% - 4rem);
  font-size: 1.5rem;
  color: $fcF;
  text-align: center;
  background: rgba(17, 17, 17, 0.65);
  border-radius: 2.5rem;
}
// 알림함
// .wrap-alarm {
//   .wrap-tab-scroll {
//     margin-top: 4rem;
//   }
// }
.alarm-content {
  padding: 3rem 0 0;
  margin-bottom: -8rem;
  .alarm-top {
    padding: 0 0.5rem 2rem;
    margin-bottom: 3.3rem;
    border-bottom: 0.1rem dotted $fcD7;
    .btn-delete {
      color: $fc6;
    }
  }
  .alarm-date {
    position: relative;
    padding-left: 4rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: $fc1;
    line-height: 1;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 1.45rem;
      width: 0.9rem;
      height: 0.9rem;
      background: $fc1;
      border-radius: 50%;
      transform: translate(0%, -50%);
    }
  }
  .alarm-list {
    position: relative;
    &:before {
      content: "";
      display: block;
      margin: 1rem 0 1rem 1.85rem;
      width: 0.1rem;
      height: 1.1rem;
      border-left: 0.1rem dotted $fcD7;
    }
    .alarm-box:last-child {
      .alarm-info {
        padding-bottom: 2.7rem;
      }
    }
  }
}
.alarm-top {
  color: $fc1;
  display: flex;
  align-items: center;

  .right {
    margin-left: auto;
  }
}
.alarm-box {
  position: relative;
  color: $fc1;
  .thumb-info {
    display: flex;
    align-items: center;
    .thumb {
      display: inline-block;
      width: 3.8rem;
      height: 3.8rem;
      vertical-align: middle;
      img {
        width: 100%;
      }
    }
    .date {
      margin-left: 1.5rem;
      font-size: 1.1rem;
    }
    .btn-clear-x {
      margin-left: auto;
      margin-right: 1rem;
    }
  }
  .alarm-info {
    position: relative;
    margin: 1rem 0;
    padding: 0.3rem 0 1.5rem 5.3rem;
    color: $fc1;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 1.85rem;
      width: 0.1rem;
      height: 100%;
      border-left: 0.1rem dotted $fcD7;
    }
    .title {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 700;
      .date {
        margin-left: auto;
        font-size: 1.1rem;
      }
    }
    .txt-box {
      margin-top: 0.8rem;
      line-height: 1.4;
    }
    .reserve-title {
      margin-top: 0.55rem;
      .bg-icon {
        margin-top: -0.3rem;
        margin-right: 0.5rem;
        width: 1.2rem;
        height: 1.2rem;
      }
      & + .list-dot {
        margin-top: 0.2rem;
      }
    }
    .list-dot {
      margin-top: 0.95rem;
      li:not(:first-child) {
        margin-top: 0.1rem;
      }
    }
    .btn-area {
      margin-top: 1rem;
      text-align: left;
      button:not(:first-of-type) {
        margin-left: 1.5rem;
      }
      .sm-txt {
        font-size: 1.1rem;
        color: $pc3;
      }
    }
  }
}

// 문의하기
.customer-top {
  padding: 2.7rem 0 3rem;
  text-align: center;
  background: $fcF9;
  border-bottom: 0.1rem solid $fcF0;
  &.type-fcf {
    padding: 4rem 0 3.5rem;
    background: $fcF;
  }
  p {
    font-size: 1.7rem;
    color: $fc1;
    line-height: 1.5;
  }
  .sub-desc {
    font-size: 1.3rem;
    color: $fc6;
    margin: 1.8rem 0 0.7rem;
  }
  .sub-desc2 {
    margin: 1rem 0 2rem;
    font-size: 1.3rem;
    color: $fc6;
    em {
      color: $pc3;
    }
  }
  .more-desc {
    position: relative;
    font-size: 1.1rem;
    color: $fc9;
    padding-left: 1.1rem;
    margin-bottom: 0;
    display: inline-block;
    .star {
      position: absolute;
      left: 0;
      top: 0.4rem;
    }
  }
  .icon-list {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0 0;
    padding: 0 2.2rem;
    &.type-yellow {
      .circle-icon {
        background-color: $pc2;
        border-color: $pc6;
      }
    }
    li {
      padding: 2rem 0 0;
      flex: 1 0 33.333%;
      .list-cont {
        width: auto;
        .circle-icon {
          width: 6.4rem;
        }
      }
    }
  }
  .btn {
    font-size: 1.3rem;
  }
}
.qna-area {
  padding: 3rem 2rem 0;
  &.type-none-title {
    .wrap-tab {
      margin-top: 0;
    }
    .qna-list {
      margin-top: 0;
    }
  }
  // .wrap-tab {
  //   margin-top: 2.5rem;
  // }
  .qna-list {
    .accordion {
      .accordion-title {
        padding: 1.8rem 0;
        background-color: $fcF;
        font-size: 1.3rem;
        .toggle {
          right: 1rem;
          width: 1.2rem;
          height: 1.2rem;
          margin-top: -0.6rem;
        }
        .title {
          padding: 0 2.6rem 0 1rem;
        }
      }
      .accordion-cont {
        padding: 0;

        .txt-row {
          &:not(:first-child) {
            margin-top: 1.5rem;
          }
        }

        .gray-box {
          display: block;
          ul {
            margin: 1rem 0 0 0.65rem;
          }
        }
      }
    }

    li:last-child {
      margin-bottom: -0.1rem;
      .accordion-cont {
        margin-bottom: 2rem;
      }
    }
  }

  &.type-none-title {
    padding-top: 4rem;
  }

  .wrap-tab-scroll {
    margin: 0 -2rem;
    li:first-child {
      margin-left: 2rem;
    }
    li:last-child {
      margin-right: 2rem;
    }
  }
}
.customer-call {
  position: relative;
  padding: 3rem 0 6rem;
  font-size: 1.1rem;
  text-align: center;
  border-top: 0.9rem solid $fcF9;
  &:before {
    content: "";
    position: absolute;
    top: -0.9rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 0.1rem;
    background: $fcF0;
  }
  .txt01 {
    color: $fc1;
  }
  a {
    padding: 1.6rem 0;
    font-size: 2rem;
    color: $fc1;
  }
}
.onetoone-list {
  margin-bottom: 2rem;
  border-bottom: 0.8rem solid $fcF9;
  > li:last-child {
    border-bottom: 0.1rem solid $fcF0;
  }
  .q-txt {
    @include clamp(2);
  }
  .a-txt .txt-row {
    @include clamp(2);
  }
}
.question-cont {
  position: relative;
  padding: 2.8rem 2rem 2.5rem;
  &:not(:first-of-type) {
    border-top: 0.9rem solid $fcF9;
  }
  &:not(:last-of-type) {
    border-bottom: 0.1rem solid $fcF0;
  }

  .question-top {
    display: flex;
    align-items: center;
    .state {
      font-weight: 700;
      color: $fc1;
      &.comp {
        color: $gc3;
      }
      &.wait {
        color: $pc3;
      }
    }
    .date {
      margin-left: auto;
      font-size: 1.2rem;
    }
  }
  .q-txt {
    position: relative;
    margin-top: 1.5rem;
    padding-left: 1.5rem;
    line-height: 1.4;
    color: $fc1;
    &:before {
      content: "Q";
      position: absolute;
      top: 0;
      left: 0;
      font-weight: 700;
    }
  }
  .a-txt {
    position: relative;
    margin-top: 1.5rem;
    padding: 1.7rem 2rem 1.7rem 3.5rem;
    background: $fcF9;
    border: 0.1rem solid $fcF0;
    &:before {
      content: "A";
      position: absolute;
      top: 2rem;
      left: 2rem;
      font-weight: 700;
      color: $fc5;
    }
    .txt-row.mt {
      margin-top: 2.5rem;
    }
    .date {
      margin-top: 1.1rem;
      text-align: right;
      font-size: 1.2rem;
    }
    .thumb-swiper {
      margin-top: 1.5rem;
      margin-left: -1.5rem;
    }
  }
  .thumb-swiper {
    position: relative;
    margin-top: 2rem;
    .swiper-container {
      padding-left: 0;
    }
    .swiper-pagination {
      position: absolute;
      bottom: 1.5rem;
      left: 0;
      right: 0;
      width: 100%;
      text-align: center;
      font-size: 0;
      z-index: 5;
      .swiper-pagination-bullet {
        display: inline-block;
        vertical-align: top;
        border-radius: 50%;
      }
    }
  }
  .attach-box {
    margin-top: 1rem;
    padding: 1.2rem 1.5rem;
    border: 0.1rem solid $fcF0;
  }
  .btn-area {
    margin-top: 1.3rem;
    text-align: right;
    button {
      vertical-align: top;
    }
  }
}
//문의쓰기
.wrap-question-write {
  padding: 4rem 2rem;
  .question-area {
    padding: 2.5rem 1rem 0;

    .form-div.type1 {
      .select {
        margin-top: 1.5rem;

        & + .select {
          margin-top: 1rem;
        }
      }
    }

    .review-add-img {
      .img-list {
        li {
          width: 7.4rem;
          height: 7.4rem;
        }
      }
      .btn-add-photo {
        height: 7.4rem;
      }
    }
  }
  .form-text-area {
    margin-top: 1.5rem;
    textarea {
      min-height: 20rem;
    }
  }

  .form-div {
    & + .form-div {
      margin-top: 2.5rem;
    }
  }
}

.wrap-chat {
  .noti-area {
    position: sticky;
    // top: 5.5rem;
    z-index: 31;
    padding: 1.5rem 2rem;
    background: rgba($fc1, 0.6);
    color: $fcF;

    .bg-icon {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;
    }
  }

  .chat-area {
    overflow: hidden;
    margin-bottom: -3rem;
    padding: 0 2rem;

    .chat-section {
      margin-top: 2.5rem;
    }

    .btn-txt {
      display: block;
      margin: 2rem auto 0;
      color: $pc3;
    }

    .chat-date {
      position: relative;
      margin-bottom: 1.5rem;
      color: $fc9;
      font-size: 1.1rem;
      text-align: center;

      span {
        background: $fcF;
        padding: 0 0.4rem;
      }
      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: -1;
        width: 100%;
        border-top: 0.1rem dashed $fcD7;
        transform: translateY(-50%);
        content: "";
      }
    }

    .answer-box {
      position: relative;
      margin-bottom: 3rem;
      padding-left: 5.2rem;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 4.5rem;
        height: 4.5rem;
        background: url(~assets/img/layout/icon-chat.svg) 0 0 / 100% auto no-repeat;
        content: "";
      }
    }

    .question-box {
      text-align: right;
      margin-bottom: 3rem;
      padding-right: 0.5rem;
    }

    .answer,
    .question {
      p {
        display: inline-block;
        padding: 1.5rem;
        border-radius: 1.6rem;
        box-sizing: border-box;
      }

      &:not(:first-child) {
        margin-top: 0.5rem;
      }

      &:first-child {
        p {
          position: relative;

          &:before {
            position: absolute;
            width: 1rem;
            height: 1.4rem;
            content: "";
          }
        }
      }
    }

    .answer {
      p {
        background: $fcF9;
        border: 0.1rem solid $fcF0;
        color: $fc1;
      }

      &:first-child {
        p {
          border-top-left-radius: 0;

          &:before {
            top: -0.1rem;
            left: -0.55rem;
            background: url(~assets/img/layout/bg-chat-type1.svg) 0 0 /100% auto no-repeat;
          }
        }
      }
    }

    .question {
      p {
        background: $pc3;
        color: $fcF;
        text-align: left;
      }

      img {
        max-width: 27rem;
        height: auto;
        border-radius: 1.6rem;
      }

      &:first-child {
        p {
          border-top-right-radius: 0;
          &:before {
            top: 0;
            right: -0.45rem;
            background: url(~assets/img/layout/bg-chat-type2.svg) 0 0 /100% auto no-repeat;
          }
        }
      }
    }

    .chat-time {
      margin: 0.5rem 0 1rem;
      padding-right: 0.5rem;
      color: $fc9;
      font-size: 1rem;
    }
  }
}

.chat-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 5.5rem;
  margin: 1rem;
  background: $fcF;
  border: 0.1rem solid $fcE4;
  border-radius: 2.8rem;
  box-sizing: border-box;

  input[type="file"] {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    clip: rect(0 0 0 0);
  }

  .btn-photo {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    margin: 0 1rem;
    background: url(~assets/img/layout/icon-photo-type1.svg) 0 0 / 100% auto no-repeat;
    border-radius: 50%;
    box-shadow: 0.2rem 0.3rem 0 0.1rem rgba(0, 0, 0, 0.06);
  }

  .chat-box {
    flex: 1;
    width: auto;
    height: auto;
    min-height: auto;
    padding: 1.5rem 0 0;
    background: $fcF;
    border: 0;
    box-sizing: border-box;
  }

  .btn-send {
    margin-right: 1.5rem;
    padding: 1rem;
    color: $pc3;
    opacity: 0.5;
  }

  &.active {
    align-items: flex-end;
    padding-bottom: 0.7rem;

    .btn-send {
      opacity: 1;
    }
  }
}

.wrap-guide {
  padding: 3rem 0 0;

  .logo {
    display: inline-block;
    width: 6.4rem;
    height: 3.8rem;
    margin-bottom: 3rem;
  }

  .youtube-area {
    iframe {
      width: 100%;
      height: 18.9rem;
    }
  }

  .item-guide {
    .tit {
      color: $fc1;
      font-size: 1.5rem;
    }
    .point3 {
      display: block;
    }
    .cont {
      margin-top: 2rem;
      p {
        margin-top: 1rem;
      }
    }

    &:not(:first-of-type) {
      margin-top: 4rem;
    }

    &.type1 {
      .point3 {
        display: inline-block;
      }

      .cont {
        margin-top: 1.5rem;
        p {
          margin: 0 0 3rem;
        }
      }

      &:not(:first-of-type) {
        margin-top: 7rem;
      }

      &:first-of-type {
        .cont {
          margin-top: 3rem;
        }
      }
    }
  }
}
