.wrap-order {
  .wrap-btn {
    margin-top: 4rem;
    text-align: center;
    .btn {
      width: 100%;
    }

    &.type1 {
      margin: 4rem 2rem 0;
    }
  }

  .form-div {
    .title {
      font-size: 1.5rem;
    }
  }

  .wrap-tab {
    .tab-menu {
      margin: 0 1rem;
    }
    .tab-content {
      margin-top: 2.5rem;
    }
  }

  .card-add {
    display: block;
    width: 26.5rem;
    height: 17rem;
    margin: 0 auto;
    box-sizing: border-box;
    border: 0.1rem dashed $fc9;
    border-radius: 2rem;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.1;

    .add {
      display: block;
      width: 3rem;
      height: 3rem;
      margin: 0 auto 1rem;
    }

    & + .txt-desc {
      margin-top: 2rem;
      color: $pc3;
      text-align: center;
    }
  }

  .wrap-btn-pay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1rem -1.2rem;

    .btn {
      width: calc(50% - 0.5rem);
      height: 4.5rem;
      line-height: 4.5rem;
      margin-bottom: 1.2rem;

      &.active {
        border-color: $fc9;
      }
    }

    .skpay {
      width: 5.3rem;
      height: 1.5rem;
    }

    .payco {
      width: 4.8rem;
      height: 1.1rem;
    }

    .npay {
      width: 4.3rem;
      height: 1.6rem;
    }

    .kakaopay {
      width: 4.2rem;
      height: 1.3rem;
    }

    .zeropay {
      width: 3.8rem;
      height: 1rem;
    }
  }

  .pay-method {
    margin: 0 3.5rem;

    .wrap-select {
      margin-top: 1.8rem;
    }

    .text-guide {
      margin-top: 1.5rem;
      font-size: 1.1rem;
    }

    .wrap-card {
      .info {
        padding-bottom: 1rem;
      }
      .bottom {
        justify-content: flex-end;
        height: 3.6rem;
        padding-right: 1.5rem;
        color: rgba(255, 255, 255, 0.7);
        font-size: 1rem;

        p:first-child {
          margin-right: 0.5rem;
          font-size: 0.9rem;
          font-weight: 700;
        }
      }
    }
  }

  .wrap-empty {
    padding-top: 0;
    padding-bottom: 0;

    .desc {
      margin-top: 2rem;
    }

    .wrap-btn {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .btn {
        width: calc(50% - 0.5rem);
        font-size: 1.5rem;
      }
    }
  }

  .text-box {
    margin-top: 3rem;

    .define-list {
      padding: 0 2rem;
      color: $fc1;

      dt:not(:last-of-type),
      dd:not(:last-of-type) {
        margin-bottom: 0.7rem;
      }

      dd + dd {
        width: 100%;
      }
    }
  }

  .wrap-card {
    overflow-x: visible;
    overflow-y: hidden;
    height: 17.2rem;
    margin: 0 -5.5rem;
    white-space: nowrap;
    scroll-snap-type: x mandatory;

    .card {
      display: inline-block;
      width: 26.5rem;
      height: 17rem;
      margin-left: 1.7rem;
      scroll-snap-align: center;

      &:first-child {
        margin-left: 0;
        margin-left: 5.5rem;
      }
      &:last-child {
        margin-right: 5.5rem;
      }
    }

    .card-tag {
      position: absolute;
      top: -0.8rem;
      right: 2rem;
      width: 8.1rem;
      height: 3.4rem;
    }
  }

  .wrap-text-link {
    margin-top: 0;
  }

  .charge-top {
    .text-box {
      margin-top: 3rem;
      .define-list {
        padding: 0 0.7rem;
      }
    }
  }

  & + .charge-btm {
    .btn-area {
      margin-top: 0;
    }
  }
}

.order-cont {
  padding: 3.8rem 2rem 3.5rem;
  box-sizing: border-box;
  border-top: 0.8rem solid $fcF9;
  border-bottom: 0.1rem solid $fcF0;

  &:first-of-type {
    border-top: 0;
    & + .accordion {
      margin-top: -0.1rem;
    }
  }

  &:last-of-type {
    border-bottom: 0;
  }

  .customer-info {
    margin-top: 2.5rem;
    &.type1 {
      dd {
        text-align: right;
      }
      .point {
        color: $gc3;
        em {
          font-size: 2rem;
        }
      }
    }
    a[href^="tel:"] {
      color: $pc3;
      text-decoration: underline;
    }

    .text-desc {
      margin-top: 1.5rem;
      margin-left: 1.2rem;
      width: calc(100% - 1.2rem);
    }
  }

  .asterisk-mark {
    margin-top: 2rem;
    margin-left: 1rem;
  }

  .text-color {
    color: $gc3;
  }

  .service-photo {
    padding-top: 2.5rem;
    text-align: right;
    & > span {
      display: block;
      overflow: hidden;
      text-align: center;

      img {
        width: 100%;
      }
    }

    button {
      margin-top: 1.3rem;
      span {
        padding-bottom: 0.1rem;
        border-bottom: 0.1rem solid $fc6;
      }
    }
  }
  .wrap-form {
    margin-top: 4rem;
    .title-sub {
      margin-bottom: 2.5rem;
    }
    .form-text-area {
      margin-top: -0.5rem;
      textarea {
        min-height: 6rem;
      }
    }
  }
  .wrap-calendar {
    margin: 0;
    padding-top: 2.5rem;
    border: 0;
  }
  .list-dot {
    margin-bottom: 3.8rem;
    li {
      font-size: 1.1rem;
    }
    &.type3 {
      li {
        font-size: 1.3rem;
      }
    }
    &.type5 {
      margin: 0 1rem;
      li {
        font-size: 1.1rem;
      }
    }
    &.type6 {
      li {
        font-size: 1.3rem;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .btn-area.grid {
    .btn-arrow {
      flex: 1 1 100%;
      margin: 2.5rem 0 0 0;
      font-size: 1.3rem;
      text-decoration: underline;
    }
  }

  .top-title {
    font-size: 1.7rem;
    color: $fc1;

    & + .order-info {
      margin-top: 4rem;
    }
  }

  .terms-box {
    display: flex;

    .btn-arrow {
      margin-left: auto;
    }
  }

  .gray-box.type1:first-child {
    margin-top: 0;
    padding: 1.5rem;
    font-size: 1.3rem;
  }

  .tbl {
    margin-top: 3rem;
  }

  .head-title + .list-dot {
    margin-top: 2.5rem;
  }
}

.customer-info {
  overflow: hidden;
  padding: 0 0.5rem;

  dt,
  dd {
    margin-bottom: 1.8rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  dt {
    position: relative;
    clear: both;
    float: left;
    width: 11.9rem;
    padding-left: 1.2rem;
    box-sizing: border-box;
    color: $fc1;

    &:before {
      position: absolute;
      top: 0.7rem;
      left: 0.4rem;
      width: 0.3rem;
      height: 0.3rem;
      background: $fc6;
      border-radius: 50%;
      content: "";
    }
  }

  dd {
    float: right;
    width: calc(100% - 11.9rem);
    word-break: break-all;

    // p:not(:first-child) {
    //   margin-top: 1rem;
    // }
    .asterisk-mark {
      margin: 0.3rem 0 0;
    }
  }

  .desc {
    position: relative;
    margin-top: 0.5rem;
    padding-left: 1rem;
    color: $fc9;
    font-size: 1.1rem;

    &:before {
      position: absolute;
      top: 0.2rem;
      left: 0;
      vertical-align: middle;
      content: "*";
    }
  }

  .bg-icon {
    width: 1.6rem;
    height: 1.6rem;
  }

  &.type1 {
    dt {
      width: 14rem;
    }
    dd {
      width: calc(100% - 14rem);
    }
  }
}

.define-box {
  &.total {
    margin: 2.7rem 0 0;
    border-color: $pc3;
    color: $pc3;

    dd.right {
      font-size: 1.5rem;
      font-weight: 700;
    }

    span {
      margin-right: 0.2rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1;
      vertical-align: top;
    }

    & + .list-dot {
      margin-top: 1.2rem;
    }
  }

  &.benefit {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem 0 0;
    padding: 1.3rem 1.5rem;
    background: rgba(234, 0, 44, 0.06);
    border: 0;
    .right span {
      font-size: 1.8rem;
      vertical-align: middle;
    }
    dt {
      line-height: 1.3;
    }
    .tooltip-box {
      left: -8.3rem;
      &:before {
        left: 9rem;
      }
    }
  }
  &.charge {
    margin: 1rem 0 0;
    padding: 1.3rem 1.5rem;
    background: rgba(54, 115, 238, 0.06);
    border: 0;
    strong {
      font-size: 1.8rem;
      font-weight: 400;
    }
  }
}

.safe-number {
  margin-top: 3rem;

  .tooltip {
    margin-left: 0.3rem;
  }
}

.text-link {
  display: inline-block;
  color: $fc6;
  font-size: 1.1rem;
  line-height: 1.2;

  .link {
    width: 1rem;
    height: 1rem;
  }
}

.order-info {
  & + .order-info {
    overflow: hidden;
    margin-top: 3.5rem;
  }

  .total {
    border-color: $gc3;
    color: $gc3;
  }

  .total.type_pc3 {
    border-color: $pc3;
    color: $pc3;
  }

  .text-desc {
    margin: 2.5rem 1rem 0;
  }

  .wrap-text-link {
    margin-top: 2.5rem;

    .text-link {
      display: flex;
      flex-wrap: wrap;

      span {
        margin-left: auto;
      }
    }
  }
}

.point-info {
  .define-list {
    color: $fc1;

    dt {
      width: 25rem;
    }
    dd {
      width: calc(100% - 25rem);
    }
  }

  .desc {
    color: $fc6;
  }

  .text-guide {
    margin: 1.2rem 0 0 1rem;
    font-size: 1.1rem;
    &:before {
      top: 0.6rem;
      width: 0.2rem;
      height: 0.2rem;
    }
    & + .text-guide {
      margin-top: 1rem;
    }

    &.type1 {
      margin-top: 3rem;
      color: $pc3;
      &:before {
        top: 0.4rem;
        left: 0.3rem;
        background: none;
        content: "*";
      }
    }
  }

  .list-dot {
    margin: 2.5rem 1rem 0;
  }
}

.wrap-text-link {
  margin-top: 2.5rem;
  padding: 0 1rem;

  .text-link {
    display: block;
    margin-bottom: 2rem;
    padding-right: 1.5rem;
    background: url(../../assets/img/layout/icon-more-type2.svg) 100% 50% / 1.2rem 1.2rem no-repeat;
    color: $fc1;
    font-size: 1.3rem;
    text-align: left;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.text-box {
  padding: 2rem 0;
  background-color: $fcF9;
  border: 0.1rem solid $fcF0;
  text-align: center;

  .text {
    margin-top: 0.3rem;

    strong {
      font-weight: 400;
      color: $gc3;
    }
  }
}

.tag {
  &.point {
    display: inline-block;
    position: relative;
    height: 2.2rem;
    margin-left: 1rem;
    padding: 0 1rem;
    background: linear-gradient(to right, $gc1 0%, $gc2 100%);
    border-radius: 0.1rem;
    font-size: 1.1rem;
    color: $fcF;
    line-height: 2.2rem;

    &:before {
      position: absolute;
      top: 50%;
      left: -0.4rem;
      width: 0.5rem;
      height: 1rem;
      background: url(../../assets/img/layout/icon-tag-arrow.svg) 0 0 / 100% auto no-repeat;
      transform: translateY(-50%);
      content: "";
    }
  }
}

.accordion {
  &.type1 {
    &.active {
      .accordion-cont {
        border-bottom: 0.1rem solid $fcF0;
      }
    }

    .accordion-title {
      padding: 0 1rem 1rem;
      background-color: $fcF;
      border-color: $fc1;
      font-size: 1.3rem;

      .toggle {
        right: 1rem;
        width: 1.2rem;
        height: 1.2rem;
      }
    }

    .accordion-cont {
      padding: 0 1rem;
    }
  }

  &.type2 {
    .accordion-title {
      border-top: 0.1rem solid $fcF0;
    }

    .accordion-cont {
      padding: 0;
      &:last-of-type {
        border-bottom: 0;
      }
    }
  }

  &.type3 {
    .accordion-title {
      padding: 0 0 1rem;
      background-color: $fcF;

      .toggle {
        right: 0;
      }
    }

    .accordion-cont {
      padding: 0;
      border-bottom: 0;
    }
  }

  .accordion-title {
    display: block;
    position: relative;
    padding: 1.4rem 2rem;
    box-sizing: border-box;
    background-color: $fcF9;
    border-bottom: 0.1rem solid $fcF0;
    color: $fc1;
    font-size: 1.5rem;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 0.1rem;
      background: $fcF;
    }

    .title {
      padding-right: 1.6rem;
      label {
        vertical-align: middle;
      }
      em {
        padding-left: 1rem;
      }
    }

    .toggle {
      position: absolute;
      top: 50%;
      right: 2rem;
      width: 1.6rem;
      height: 1.6rem;
      margin-top: -0.8rem;
    }
  }

  .accordion-cont {
    display: none;
    // overflow: hidden;
    padding: 2.5rem 2rem 3.5rem;
    border-bottom: 0.1rem solid $fcF0;
    .gray-box {
      border-bottom: 0 none;
    }
    .order-cont {
      .list-dot {
        .dot-point {
          margin-top: 3rem;
        }
        li {
          font-size: 1.1rem;
        }
      }
    }
  }

  .gray-box {
    border-top: none;
    padding: 2rem;
  }

  &.active {
    .toggle {
      transform: rotate(180deg);
    }

    .accordion-cont {
      display: block;
    }

    & + .wrap-btn.type1 {
      margin-top: 0;
      .btn {
        font-size: 1.5rem;
      }
    }
  }
}

.tooltip {
  width: 1.6rem;
  height: 1.6rem;
}

.point-cont {
  padding: 4rem 2rem 11.5rem;

  .title {
    font-size: 1.5rem;
    color: $fc1;
  }

  .point {
    font-size: 2.2rem;
    color: $fc1;
    font-weight: 700;

    strong {
      padding-right: 0.4rem;
      font-size: 3.4rem;
    }
  }

  .text-guide {
    margin-top: 0.7rem;
    font-size: 1.1rem;
    color: $pc3;

    &:before {
      width: 0.2rem;
      height: 0.2rem;
      background: $pc3;
    }
  }

  .wrap-form {
    margin-top: 2.2rem;
  }

  .wrap-check {
    margin-top: 1.5rem;
  }
}

.wrap-text {
  margin: 4rem 2rem 0;

  .desc {
    color: $pc3;
  }

  .list-text {
    margin-top: 2rem;
  }
}

.list-text {
  li {
    position: relative;
    padding-left: 1.2rem;

    &:not(:first-child) {
      margin-top: 1.5rem;
    }

    &:before {
      position: absolute;
      top: 0.7rem;
      left: 0.5rem;
      width: 0.2rem;
      height: 0.2rem;
      background: $fc6;
      border-radius: 50%;
      content: "";
    }

    em {
      color: $gc3;
    }
  }
}

.terms-cont {
  margin: 4rem 2rem 0;
}

.terms-box {
  overflow: hidden;
  position: relative;
  margin: 2rem 1rem 0;

  &.top-line {
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    border-top: 0.1rem dotted $fcD7;
    input[type="checkbox"] {
      top: 2.5rem;
    }
    .more {
      top: 2.5rem;
    }
  }

  &.type1 {
    margin: 0;
  }

  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;

    & + label {
      display: inline-block;
      margin: 0;
      padding: 0 2rem 0 3rem;

      span {
        font-size: 1.1rem;
        color: $fc6;

        &.req {
          color: $pc3;
        }
      }
    }
  }

  .more {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    background-size: 1.2rem 1.2rem;
  }
}

.wrap-card {
  .logo-card {
    margin-left: 2.5rem;
    display: block;
    height: 3.8rem;
    margin-bottom: 1rem;

    img {
      height: 100%;
    }
  }

  .card {
    position: relative;
    border-radius: 2rem;
    background: #726aa9;
    border: 0.1rem solid #6b639f;

    .bottom {
      background: #6961a0;
    }

    &.color1,
    &.service-06 {
      background: #726aa9;
      border: 0.1rem solid #6b639f;

      .bottom {
        background: #6961a0;
      }
    }

    &.color2,
    &.service-04 {
      background: #2e7cf1;
      border: 0.1rem solid #2972ef;

      .bottom {
        background: #2972ef;
      }
    }

    &.color3,
    &.service-07 {
      background: #777;
      border: 0.1rem solid #6e6e6e;

      .bottom {
        background: #6e6e6e;
      }
    }

    &.color4,
    &.service-02 {
      background: #786c61;
      border: 0.1rem solid #6f6358;

      .bottom {
        background: #6f6358;
      }
    }

    &.color5,
    &.service-08 {
      background: #6b4aaf;
      border: 0.1rem solid #6242a7;

      .bottom {
        background: #6242a7;
      }
    }

    &.color6,
    &.service-16,
    &.service-03 {
      background: #00a8a8;
      border: 0.1rem solid #009f9f;

      .bottom {
        background: #009f9f;
      }
    }

    &.color7,
    &.service-15 {
      background: #0096fe;
      border: 0.1rem solid #008dfe;

      .bottom {
        background: #008dfe;
      }
    }

    &.color8,
    &.service-01 {
      background: #f05144;
      border: 0.1rem solid #ea3b30;

      .bottom {
        background: #ea3b30;
      }
    }

    &.color9,
    &.service-12 {
      background: #00b695;
      border: 0.1rem solid #00ae8c;

      .bottom {
        background: #00ae8c;
      }
    }

    &.color10,
    &.service-13 {
      background: #196e89;
      border: 0.1rem solid #16657f;

      .bottom {
        background: #16657f;
      }
    }

    &.color11,
    &.service-21 {
      background: #168ef5;
      border: 0.1rem solid #1385f4;

      .bottom {
        background: #1385f4;
      }
    }

    &.color12,
    &.service-22 {
      background: #355cb5;
      border: 0.1rem solid #2e56b4;

      .bottom {
        background: #2e56b4;
      }
    }

    &.color13,
    &.service-23 {
      background: #143c98;
      border: 0.1rem solid #12358f;

      .bottom {
        background: #12358f;
      }
    }

    &.type1 {
      .checkbox-cycle {
        z-index: 2;
      }
      .detail {
        margin-top: 0;
        padding-bottom: 5.7rem;
      }
      .logo-card {
        margin-left: 0;
        bottom: 0;
        left: 0;
        right: auto;
      }
    }

    &.type2 {
      .info {
        background-color: #ffcb00;
      }

      .bottom {
        background-color: #ffb300;
      }
    }

    &.type3 {
      background: linear-gradient(to right, #2d55a5 0%, #682c8d 100%);
      .bottom {
        border-top: 0.1rem solid rgba(0, 0, 0, 0.08);
      }
    }

    &.type4 {
      background: linear-gradient(55deg, #2d55a5 0%, #573994 78%, #682c8d 100%);
      border-radius: 2rem;
      .bottom {
        border-top: 0.1rem solid rgba(0, 0, 0, 0.08);
      }
    }

    &.muffin {
      background: #f47645 url(../../assets/img/layout/bg-icon-getcha.svg) no-repeat 0 0 / 100% auto;
      border: 0.1rem solid #f48253;
      &.bg1 {
        background: #5d85fa url(../../assets/img/layout/bg-icon-oil.svg) no-repeat 0 0 / 100% auto;
        border: 0.1rem solid #4977ea;
      }
      &.bg2 {
        background: #41d0bf url(../../assets/img/layout/bg-icon-exp.svg) no-repeat 0 0 / 100% auto;
        border: 0.1rem solid #36c9b9;
      }
      &.barcode {
        .barcode-img {
          margin-top: 2rem;
          padding: 2rem;
          width: 24.5rem;
          height: 7.55rem;
          background: $fcF;
        }
      }

      .info {
        padding-bottom: 3rem;
      }
      .rep-card {
        padding-left: 2.9rem;
        line-height: 2.4rem;
        background: url(../../assets/img/layout/icon-rep-card.svg) no-repeat 0 center;
        background-size: 2.4rem auto;
      }
      .logo-card {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 0;
        height: 3rem;
      }

      .detail {
        margin-top: 3rem;
        padding-left: 0.5rem;
        .brand {
          font-size: 1.7rem;
          font-weight: 700;
        }
        .num {
          margin-top: 0.7rem;
        }
      }
      .top-qrcode {
        margin-top: 0.5rem;
        text-align: right;
        font-size: 1.1rem;
        line-height: 1;
        .bg-icon {
          margin-right: 0.4rem;
          width: 1.2rem;
          height: 1.2rem;
          vertical-align: top;
        }
        span {
          text-decoration: underline;
        }
      }
    }

    .disabled {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 2rem;
      text-align: center;

      .text {
        margin-top: 6.9rem;
        color: $fcF;
        font-size: 1.3rem;
        strong {
          display: block;
          margin-bottom: 0.5rem;
          font-weight: 400;
        }
      }

      button {
        margin-top: 2.5rem;
        font-size: 1.5rem;
        color: $fcF;
        line-height: 1;
      }

      .refresh2 {
        width: 1.6rem;
        height: 1.6rem;
        margin-right: 0.5rem;
        vertical-align: top;
      }
    }
    .btn-card-del {
      position: absolute;
      top: 2.2rem;
      right: 2.2rem;
      .bg-icon {
        width: 1.2rem;
        height: 1.2rem;
      }
      span {
        display: inline-block;
        border-bottom: 0.1rem solid $fcF;
        font-size: 1.1rem;
        line-height: 1;
      }
    }
  }

  .info {
    position: relative;
    padding: 2.5rem 2.5rem 1.5rem;
    border-radius: 2rem 2rem 0 0;
    box-sizing: border-box;
    color: $fcF;

    .brand {
      font-size: 1.1rem;
    }

    .num {
      font-size: 1.4rem;
      line-height: 1.4;
    }
    .date {
      margin-top: 0.9rem;
      font-size: 1.1rem;
      color: rgba($fcF, 0.7);
    }

    .checkbox-cycle {
      position: absolute;
      top: 2rem;
      right: 2rem;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin: 0 2rem 2rem;
    padding: 0 2.8rem 0 2.2rem;
    border-radius: 0.1rem;
    font-size: 1.1rem;

    .link {
      display: inline-block;
      font-size: 1.3rem;
      color: $fcF;
      opacity: 0.7;
      line-height: 1;

      &:after {
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        margin: 0 0 0 0.3rem;
        background: url(../../assets/img/layout/icon-more-type4.svg) 0 0 / 100% auto no-repeat;
        vertical-align: top;
        content: "";
      }
    }
  }

  .detail {
    position: relative;
    padding-right: 6rem;

    .checkbox-btn {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .dropdown-area {
    position: absolute;
    top: 1.6rem;
    right: 1.1rem;

    .edite-more {
      width: 1.6rem;
      height: 1.6rem;
      filter: brightness(10);
    }
  }
}

.wrap-order-card {
  padding: 4rem 2rem 6rem;

  .wrap-card {
    .card {
      &:not(:first-child) {
        margin-top: 2rem;
      }
    }
    .detail {
      margin-top: 2.5rem;
      padding-left: 0.5rem;
    }

    .logo-card {
      position: absolute;
      bottom: 0.8rem;
      right: 0;
      height: 4.6rem;
      margin-bottom: 0;
    }

    .brand {
      font-size: 1.5rem;
    }

    .bottom {
      padding: 0 1.5rem;

      .tooltip2 {
        filter: brightness(30);
        opacity: 0.7;
      }
    }
  }

  .tooltip-box {
    left: inherit;
    right: -3.6rem;
    top: 4.8rem;
    border-radius: 0.1rem;

    &:before {
      left: inherit;
      right: 2.7rem;
      border-bottom-color: #37c9ad;
    }
  }

  .wrap-btn {
    margin-top: 4rem;

    .btn {
      width: 100%;
    }
  }
  .top-wrap-btn {
    margin-bottom: 2rem;
    text-align: right;
    .btn-arrow {
      line-height: 1.3;
      &:after {
        margin: 0.3rem 0 0 0.3rem;
        background: url(../../assets/img/layout/icon-arrow-left-black.svg) 0 0 / 100% 100% no-repeat;
      }
    }
  }
}

.define-sub-box {
  margin-top: 1rem;
  padding: 2.5rem 1.5rem;
  background: $fcF9;
  border: 0.1rem solid $fcF0;

  .define-list {
    &:not(:first-child) {
      margin-top: 1.5rem;
      padding-top: 1.5rem;
      border-top: 0.1rem solid $fcF0;
    }
  }
}

.list-radio,
.list-check {
  > .checkbox {
    display: block;
    margin-bottom: 2rem;
    label {
      color: $fc1;
      margin-left: 0;
    }
  }
}
