.wrap-charge {
  padding: 2.5rem 2rem;
  .wrap-list {
    margin-top: 2.5rem;
  }
}

.wrap-list {
  .h-title {
    padding-bottom: 1.1rem;
    display: flex;
    color: $fc1;
    border-bottom: 0.1rem solid $fc1;
    border-radius: 0.1rem;
    .right {
      margin-left: auto;
    }
  }

  .btn-more {
    margin-top: 1rem;
  }
}
.list-st {
  li {
    padding: 2.7rem 0 2.5rem;
    color: $fc1;
    border-bottom: 0.1rem solid $fcE4;
    .title {
      font-size: 1.5rem;
    }
    .sub-info {
      margin-top: 0.35rem;
      display: flex;
    }
    .date {
      font-size: 1.2rem;
      color: $fc9;
    }
    .right {
      margin-left: auto;
    }
  }
}

.charge-top {
  padding: 4rem 0 3.5rem;
  text-align: center;
  .img {
    margin: auto;
    width: 10rem;
    height: 10rem;
  }
  .txt-row {
    margin-top: 2rem;
    font-size: 1.8rem;
    color: $fc1;
  }
  .btn-area {
    margin-top: 2rem;
  }
}

.charge-btm {
  padding: 0 2rem;
  .btn-area {
    margin-top: 0.5rem;
  }
}
