.wrap-charge {
  padding: 0 2rem;
  .wrap-tab-scroll {
    margin-top: 2.5rem;
  }
  .wrap-list {
    margin-top: 2.5rem;
  }
}

.wrap-list {
  .h-title {
    padding-bottom: 1.1rem;
    display: flex;
    color: $fc1;
    border-bottom: 0.1rem solid $fc1;
    border-radius: 0.1rem;
    .right {
      margin-left: auto;
    }
  }

  .btn-more {
    margin-top: 1rem;
  }
}
.list-st {
  li {
    padding: 2.7rem 0 2.5rem;
    color: $fc1;
    border-bottom: 0.1rem solid $fcE4;
    .title {
      font-size: 1.5rem;
    }
    .sub-info {
      margin-top: 0.35rem;
      display: flex;
    }
    .date {
      font-size: 1.2rem;
      color: $fc9;
    }
    .right {
      margin-left: auto;
    }
  }
}

.charge-top {
  padding: 4rem 0 3.5rem;
  text-align: center;
  .img {
    margin: auto;
    width: 10rem;
    height: 10rem;
  }
  .txt-row {
    margin-top: 2rem;
    font-size: 1.8rem;
    color: $fc1;

    &.type1 {
      margin-top: 1rem;
      color: $fc6;
      font-size: 1.5rem;

      a {
        color: $pc3;
        text-decoration: underline;
      }
    }
  }
  .btn-area {
    margin-top: 2rem;
  }
  .text-box {
    margin: 2rem 2rem 0;
    padding: 1.5rem;
    color: $fc1;
  }
}

.accordion.active.type2 {
  + .charge-btm {
    .btn-area {
      margin-top: 0.5rem;
    }
  }
}
.charge-btm {
  padding: 0 2rem;

  .btn-area {
    &.center {
      margin-bottom: 2.5rem;
      text-align: center;
    }
  }
}
.charge-layer-cont {
  .gray-box {
    margin-top: 2.5rem;
    + .gray-box {
      margin-top: 0;
      border-top: none;
    }
  }
}

.charge-cancel-box {
  margin-top: 2.5rem;
  padding: 1.5rem 1.5rem 1.7rem;

  background: $fcF9;
  border: 1px solid $fcF0;
  li {
    display: flex;
    align-items: center;
    &:not(:first-child) {
      margin-top: 1.1rem;
      padding-top: 1.3rem;
      border-top: 0.1rem solid $fcF0;
    }
    &.total {
      color: $fc1;
    }
  }
  .right {
    margin-left: auto;
    strong {
      font-size: 1.8rem;
    }
  }
  + .charge-cancel-box {
    margin-top: 0;
    border-top: none;
  }
}
.charge-top-box {
  padding: 2.9rem 3rem 2.5rem;
  color: $fc1;
  background: $fcF9 url(../../../assets/img/layout/icon-charge-bg.png) no-repeat calc(100% - 3.54rem) center;
  background-size: 4.756rem 4.99rem;
  border-bottom: 0.1rem solid $fcEB;
  .tit {
    font-size: 1.5rem;
  }
  .sum {
    font-size: 1.5rem;
    strong {
      font-size: 2.4rem;
    }
  }
}
